[axialdisp]

[axialdisp.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[axialdisp.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature2d = 1
#fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[axialdisp.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[axialdisp.mesh_generator.reader]
filename = mesh.exo
use_nodeset_names = False
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[axialdisp.timedependent]
dimension = 2
bc = [x_neg,x_pos,y_neg]

[axialdisp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[axialdisp.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticPlaneStress

[axialdisp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[axialdisp.timedependent.bc.x_pos]
bc_dof = [0]
label = 20
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC +x edge
db_initial.iohandler.filename = axial_disp.spatialdb

[axialdisp.timedependent.bc.x_neg]
bc_dof = [0]
label = 21
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC -x edge
db_initial.iohandler.filename = axial_disp.spatialdb

[axialdisp.timedependent.bc.y_neg]
bc_dof = [1]
label = 23
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC -y edge
db_initial.iohandler.filename = axial_disp.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[axialdisp.petsc]
malloc_dump =
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_rtol = 1.0e-8
ksp_max_it = 100
ksp_gmres_restart = 50

#ksp_monitor = true
#ksp_view = true
#ksp_converged_reason = true


# start_in_debugger = true


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[axialdisp.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5
writer.filename = axialdisp.h5

[axialdisp.timedependent.materials.elastic.output]
cell_info_fields = [stable_dt_implicit,mu,lambda,density]
cell_data_fields = [total_strain,stress,cauchy_stress]
cell_filter = pylith.meshio.CellFilterAvg
writer = pylith.meshio.DataWriterHDF5
writer.filename = axialdisp-elastic.h5
