# -*- Python -*-
[dislocation2]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[dislocation2.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature = 1
#fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[dislocation2.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[dislocation2.mesh_generator.reader]
filename = box_tri3_100m.exo
use_nodeset_names = False
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[dislocation2.timedependent]
dimension = 2
bc = [y_neg,y_pos]
interfaces = [fault_pos,fault_neg]

[dislocation2.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[dislocation2.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticPlaneStrain

[dislocation2.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.shape = triangle

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[dislocation2.timedependent.bc.y_neg]
bc_dof = [0, 1]
label = 23
db.label = Dirichlet BC -y edge

[dislocation2.timedependent.bc.y_pos]
bc_dof = [0, 1]
label = 22
db.label = Dirichlet BC +y edge

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[dislocation2.timedependent.interfaces]

[dislocation2.timedependent.interfaces.fault_pos]
id = 2
label = 11
quadrature.cell.shape = line
mat_db.iohandler.filename = matprops.spatialdb

[dislocation2.timedependent.interfaces.fault_pos.eq_srcs.rupture.slip_function]
slip.iohandler.filename = dislocation_slipLL.spatialdb
slip_time.iohandler.filename = dislocation_sliptime.spatialdb


[dislocation2.timedependent.interfaces.fault_neg]
id = 3
label = 12
quadrature.cell.shape = line
mat_db.iohandler.filename = matprops.spatialdb

[dislocation2.timedependent.interfaces.fault_neg.eq_srcs.rupture.slip_function]
slip.iohandler.filename = dislocation_slipRL.spatialdb
slip_time.iohandler.filename = dislocation_sliptime.spatialdb


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[dislocation2.petsc]
ksp_rtol = 1.0e-8
pc_type = asm
ksp_max_it = 100
ksp_gmres_restart = 50
#ksp_monitor = true
#ksp_view = true
#log_summary = true
# start_in_debugger = true

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[dislocation2.problem.formulation.output.output.writer]
filename = dislocation2.vtk

# Give basename for VTK output of state variables.
[dislocation2.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = dislocation2-statevars-elastic.vtk

[dislocation2.timedependent.interfaces.fault_pos.output.writer]
filename = dislocation2-fault-pos.vtk

[dislocation2.timedependent.interfaces.fault_neg.output.writer]
filename = dislocation2-fault-neg.vtk
