# -*- Python -*-
[dislocation]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[dislocation.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature = 1
#fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[dislocation.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[dislocation.mesh_generator.reader]
filename = box_tri3_100m.exo
use_nodeset_names = False
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[dislocation.timedependent]
dimension = 2
bc = [x_neg,x_pos]
interfaces = [fault]

[dislocation.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[dislocation.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticPlaneStrain

[dislocation.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[dislocation.timedependent.bc.x_pos]
bc_dof = [0, 1]
label = 20
db = spatialdata.spatialdb.UniformDB
db.label = Dirichlet BC +x edge
db.values = [dof-0,dof-1]
db.data = [0.0,+0.5]

[dislocation.timedependent.bc.x_neg]
bc_dof = [0, 1]
label = 21
db = spatialdata.spatialdb.UniformDB
db.label = Dirichlet BC -x edge
db.values = [dof-0,dof-1]
db.data = [0.0,-0.5]

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[dislocation.timedependent.interfaces]
fault = pylith.faults.FaultCohesiveKin

[dislocation.timedependent.interfaces.fault]
id = 2
label = 10
quadrature.cell.dimension = 1
mat_db.iohandler.filename = matprops.spatialdb

[dislocation.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]
slip.iohandler.filename = dislocation_slipLL.spatialdb
slip_time.iohandler.filename = dislocation_sliptime.spatialdb


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[dislocation.petsc]
ksp_rtol = 1.0e-8
pc_type = asm
ksp_max_it = 100
ksp_gmres_restart = 50
#ksp_monitor = true
#ksp_view = true
#log_summary = true
# start_in_debugger = true

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[dislocation.problem.formulation.output.output.writer]
filename = dislocation.vtk

# Give basename for VTK output of state variables.
[dislocation.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = dislocation-statevars-elastic.vtk

[dislocation.timedependent.interfaces.fault.output.writer]
filename = dislocation-fault.vtk
