# -*- Python -*-

[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshioascii = 1
elasticityimplicit = 1
fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = tri3.mesh
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 2
normalizer.length_scale = 1.0*m

bc = [negative,positive]

[pylithapp.timedependent.formulation.time_step]
total_time = 0.0*s
dt = 1.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials]
material = pylith.materials.ElasticPlaneStrain

[pylithapp.timedependent.materials.material]

label = elastic material
id = 1
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.negative]

bc_dof = [0, 1]
label = edge negative
db_initial.label = Dirichlet BC (negative edge)

[pylithapp.timedependent.bc.positive]

bc_dof = [0, 1]
label = edge positive
db_initial.label = Dirichlet BC (positive edge)

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output.writer]
filename = test.vtk

[pylithapp.timedependent.materials.material.output.writer]
filename = test-statevars.vtk

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = asm

sub_pc_factor_shift_type = nonzero

ksp_rtol = 1.0e-8
ksp_atol = 1.0e-15
ksp_max_it = 50
ksp_gmres_restart = 50

ksp_monitor = true
ksp_view = true
ksp_converged_reason = true

# log_summary = true
# start_in_debugger = true
