# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
quadrature3d = 1
fiatlagrange = 1
faultcohesivekin = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
debug = 0
importer = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.importer]
filename = box_hex8_1000m.exo
coordsys.space_dim = 3

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
total_time = 0.0*s
default_dt = 1.0*s
dimension = 3
formulation = pylith.problems.Implicit
bc = pylith.bc.BCSixSides
#interfaces = pylith.faults.SingleFault
materials = fourmaterials

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials]
# TEMPORARY
viscoelastic_neg = pylith.materials.ElasticIsotropic3D
viscoelastic_pos = pylith.materials.ElasticIsotropic3D

[pylithapp.timedependent.materials.elastic_pos]
label = Elastic material +x
id = 1
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3
quadrature.cell.quad_order = 2

[pylithapp.timedependent.materials.elastic_neg]
label = Elastic material -x
id = 2
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3
quadrature.cell.quad_order = 2

[pylithapp.timedependent.materials.viscoelastic_pos]
label = Viscoelastic material +x
id = 3
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3
quadrature.cell.quad_order = 2

[pylithapp.timedependent.materials.viscoelastic_neg]
label = Viscoelastic material -x
id = 4
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3
quadrature.cell.quad_order = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0, 1, 2]
label = 11
db.label = Dirichlet BC on +x
db.iohandler.filename = fixeddisp_shear.spatialdb

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1, 2]
label = 12
db.label = Dirichlet BC on -x
db.iohandler.filename = fixeddisp_shear.spatialdb

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
#fault = pylith.faults.FaultCohesiveKin

[pylithapp.timedependent.interfaces.fault]
label = 10
quadrature = pylith.feassemble.quadrature.Quadrature2Din3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2
quadrature.cell.quad_order = 2
mat_db.iohandler.filename = mat_elastic.spatialdb

[pylithapp.timedependent.interfaces.fault.eq_src.slip_function]
slip.iohandler.filename = finalslip.spatialdb
slip_rate.iohandler.filename = sliprate.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = jacobi
ksp_monitor = true
ksp_view = true
log_summary = true
ksp_max_it = 500
ksp_gmres_restart = 5000

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output]
filename = dislocation_hex8_1000m.vtk
