# -*- Python -*-
[pylithapp]


# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary
# conditions. The general parameters are specificed in the pylithapp.cfg
# file which PyLith reads by default.
#
# To run the simulation:
# pylith gravity.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set bc to an array of 5 boundary conditions: 'x_pos','x_neg', 'y_pos',
# 'y_neg', and 'z_neg'.
bc = [x_pos,x_neg,y_pos,y_neg,z_neg]

# Use gravity for this problem.
use_gravity = true

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Use the default FixedDOFDB, which has a uniform spatial distribution.

# Set the parameters for Dirichlet boundary conditions applied on the
# +x, -x, +y, -y, and -z faces of the box. Note that we only use a subset of the
# boundary conditions provided in the 6 BC container.

# We fix the x degree of freedom on the +x and -x faces, the y degree of
# freedom on the +y and -y faces, and the z degree of freedom on the
# bottom face.

# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0]
label = 11
db.label = Dirichlet BC on +x

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0]
label = 12
db.label = Dirichlet BC on -x

[pylithapp.timedependent.bc.y_pos]
fixed_dof = [1]
label = 13
db.label = Dirichlet BC on +y

[pylithapp.timedependent.bc.y_neg]
fixed_dof = [1]
label = 14
db.label = Dirichlet BC on -y

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = 15
db.label = Dirichlet BC on -z

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain.writer]
filename = gravity.vtk

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = 17 ; nodeset for subdomain
writer.filename = gravity-groundsurf.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic_upper.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = gravity-statevars-upper.vtk

[pylithapp.timedependent.materials.elastic_lower.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = gravity-statevars-lower.vtk
