# -*- Python -*-
[pylithapp]


# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary
# conditions. The general parameters are specificed in the pylithapp.cfg
# file which PyLith reads by default.
#
# To run the simulation:
# pylith hex8_1000m.cfg shearxy.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Change initial guess for solution from vector of zeros to previous
# solution.
formulation.solver.initial_guess_zero = False

# Set bc to an array of 5 boundary conditions.
bc = [x_pos,x_neg,y_pos,y_neg,z_neg]

# Change time stepping algorithm from uniform time step, to adaptive
# time stepping.
implicit.time_step = pylith.problems.TimeStepAdapt

[pylithapp.timedependent.implicit.time_step]
# Define the total time for the simulation and the default time step size.
# Overwrite values in pylithapp.cfg
total_time = 500.0*year ; total time of simulation
max_dt = 50.0*year ; time step
stability_factor = 1.0 ; use time step equal to stable value from materials

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Set materials to an array of 2 materials:
#   'maxwell_top' and 'maxwell_bottom'
materials = [maxwell_top,maxwell_bottom]

# Change from default material (elastic, isotropic, 3-D material) to
# Maxwell viscoelastic, isotropic 3-D material.
materials.maxwell_top = pylith.materials.MaxwellIsotropic3D
materials.maxwell_bottom = pylith.materials.MaxwellIsotropic3D

[pylithapp.timedependent.materials.maxwell_top]
label = Upper Maxwell material
id = 1
db_properties.iohandler.filename = mat_maxwell.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.maxwell_bottom]
label = Lower Maxwell material
id = 2
db_properties.iohandler.filename = mat_maxwell.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# We change spatial database for initial value from FixedDOFDB (which has
# a uniform spatial distribution) to SimpleDB (which uses a data file
# to specify a spatial variation).

# Set the parameters for Dirichlet boundary conditions applied on the
# +x and -x faces of the box.

# We fix the x degrees of freedom on the +x and -x faces, the y degrees of
# freedom on the +y and -y faces, and fix the z degree of freedom on the
# bottom face.

# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0]
label = 11
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC on +x
db.iohandler.filename = fixeddisp_axial.spatialdb

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0]
label = 12
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC on -x
db.iohandler.filename = fixeddisp_axial.spatialdb

[pylithapp.timedependent.bc.y_pos]
fixed_dof = [1]
label = 13
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC on +y
db.iohandler.filename = fixeddisp_axial.spatialdb

[pylithapp.timedependent.bc.y_neg]
fixed_dof = [1]
label = 14
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC on +y
db.iohandler.filename = fixeddisp_axial.spatialdb

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = 15
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC on -z
db.iohandler.filename = fixeddisp_axial.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain]
skip = 0
writer.filename = planestrain.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = 17 ; nodeset for subdomain
skip = 0
writer.filename = planestrain-groundsurf.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.maxwell_top.output]
skip = 0
cell_info_fields = [density,mu,lambda,maxwell_time]
cell_data_fields = [total_strain,viscous_strain,stress]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = planestrain-statevars-maxwell_top.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.maxwell_bottom.output]
skip = 0
cell_info_fields = [density,mu,lambda,maxwell_time]
cell_data_fields = [total_strain,viscous_strain,stress]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = planestrain-statevars-maxwell_bottom.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year
