# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
meshimporter = 1
#quadrature3d = 1
#fiatlagrange = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh importer to the CUBIT importer.
importer = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.importer]
# Set filename of mesh to import.
filename = box_hex8_1000m.exo

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Use the local (user-defined) 4 item materials container
materials = fourmaterials

[pylithapp.timedependent.materials]
# Change the default material properties for the viscoelatic materials
# to elastic materials
viscoelastic_neg = pylith.materials.ElasticIsotropic3D
viscoelastic_pos = pylith.materials.ElasticIsotropic3D

# The lines below set the parameters for each material in the
# materials container.

[pylithapp.timedependent.materials.elastic_pos]
label = Elastic material +x
id = 1
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.elastic_neg]
label = Elastic material -x
id = 2
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.viscoelastic_pos]
label = Viscoelastic material +x
id = 3
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.viscoelastic_neg]
label = Viscoelastic material -x
id = 4
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]
pc_type = bjacobi
ksp_monitor = true
ksp_view = true
#log_summary = true
ksp_max_it = 500
ksp_gmres_restart = 5000
