# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatlagrange = 1
#quadrature3d = 1

[pylithapp.journal.debug]
pylithapp = 1
problem = 1
implicit = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh reader to the CUBIT reader.
reader = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.reader]
# Set filename of mesh to import.
filename = box_hex8_1000m.exo

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
#normalizer = spatialdata.units.NondimElasticQuasistatic

[pylithapp.timedependent.formulation.time_step]
# Define the total time for the simulation and the default time step size.
total_time = 0.0*s ; total time of simulation

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Set materials to an array of 2 materials:
#   'elastic' and 'viscoelastic'
materials = [elastic,viscoelastic]

# Change from default material (elastic, isotropic, 3-D material) to
# Maxwell viscoelastic, isotropic 3-D material.
materials.viscoelastic = pylith.materials.MaxwellIsotropic3D

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
properties_db.iohandler.filename = mat_elastic.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.viscoelastic]
label = Viscoelastic material
id = 2
properties_db.iohandler.filename = mat_viscoelastic.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]
ksp_rtol = 1.0e-8
pc_type = asm
ksp_monitor = true
ksp_view = true
log_summary = true
ksp_max_it = 100
ksp_gmres_restart = 50
# start_in_debugger = true
