# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatlagrange = 1
pylithapp = 1
materials = 1
powerlaw3d = 1
##implicit = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh reader to the CUBIT reader.
reader = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.reader]
# Set filename of mesh to import.
filename = box_hex8_1000m.exo

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent.formulation.time_step]
# Define the total time for the simulation and the default time step size.
total_time = 0.0*s ; total time of simulation

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Set materials to an array of 2 materials:
#   'elastic' and 'viscoelastic'
materials = [elastic,viscoelastic]

# Change from default material (elastic, isotropic, 3-D material) to
# Maxwell viscoelastic, isotropic 3-D material.
materials.viscoelastic = pylith.materials.MaxwellIsotropic3D

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.iohandler.filename = mat_elastic.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# We do not define the database info for the viscoelastic material, since
# a different database type may be used for some examples.
[pylithapp.timedependent.materials.viscoelastic]
label = Viscoelastic material
id = 2
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]
ksp_rtol = 1.0e-8
pc_type = asm
# Change the preconditioner settings (must turn off
# shift_positive_definite and turn on shift_nonzero).
sub_pc_factor_shift_positive_definite = 0
sub_pc_factor_shift_nonzero = 

ksp_monitor = true
ksp_view = true
log_summary = true
ksp_max_it = 500
ksp_gmres_restart = 50
# start_in_debugger = true

snes_monitor = true
snes_view = true
ksp_converged_reason = true
snes_converged_reason = true
