# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary and
# interface conditions. The general parameters are specificed in the
# pylithapp.cfg file which PyLith reads by default.
#
# To run the simulation:
# pylith savageprescott.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Change initial guess for solution from vector of zeros to previous
# solution.
formulation.solver.initial_guess_zero = False

# Set bc to an array of 3 boundary conditions: 'x_pos','x_neg', and 'z_neg'.
bc = [x_pos,x_neg,z_neg]

# Set interfaces to an array of 1 fault: 'fault'.
interfaces = [fault]

# Change time stepping algorithm from uniform time step, to adaptive
# time stepping.
implicit.time_step = pylith.problems.TimeStepAdapt

[pylithapp.timedependent.implicit.time_step]
# Define the total time for the simulation and the default time step size.
# Overwrite values in pylithapp.cfg
total_time = 700.0*year ; total time of simulation
max_dt = 50.0*year ; time step
stability_factor = 1.0 ; use time step equal to stable value from materials

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------

# We change spatial database for the rate of change from FixedDOFDB
# (which has zero velocity) to UniformDB (which allows nonzero
# velocities).

# Set the parameters for the desired boundary conditions.
#
# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0, 1]
label = 11
db.label = Dirichlet BC on +x
rate_db = spatialdata.spatialdb.UniformDB
rate_db.label = Dirichlet rate BC on +x
rate_db.values = [dof-0,dof-1]
# Velocity of -1.0 cm/yr (-3.1688087814028952e-10 m/s)
rate_db.data = [0.0,-3.1688087814028952e-10]

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1]
label = 12
db.label = Dirichlet BC on -x
rate_db = spatialdata.spatialdb.UniformDB
rate_db.label = Dirichlet rate BC on -x
rate_db.values = [dof-0,dof-1]
# Velocity of +1.0 cm/yr (+3.1688087814028952e-10 m/s)
rate_db.data = [0.0,+3.1688087814028952e-10]

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = 16
db.label = Dirichlet BC on -z

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]

# Set the parameters for the fault interface conditions.

[pylithapp.timedependent.interfaces.fault]
label = 10
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2
mat_db.iohandler.filename = mat_elastic.spatialdb

output.vertex_info_fields = [normal_dir,strike_dir,dip_dir,final_slip_creep,final_slip_one,final_slip_two,final_slip_three,slip_time_creep,slip_time_one,slip_time_two,slip_time_three]

# Set earthquake ruptures
eq_srcs = [creep,one,two,three]
eq_srcs.creep.origin_time = 00.0*year
eq_srcs.one.origin_time = 200.0*year
eq_srcs.two.origin_time = 400.0*year
eq_srcs.three.origin_time = 600.0*year

# one
[pylithapp.timedependent.interfaces.fault.eq_srcs.one.slip_function]
slip.iohandler.filename = finalslip_rupture.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# two
[pylithapp.timedependent.interfaces.fault.eq_srcs.two.slip_function]
slip.iohandler.filename = finalslip_rupture.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# three
[pylithapp.timedependent.interfaces.fault.eq_srcs.three.slip_function]
slip.iohandler.filename = finalslip_rupture.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# creep
[pylithapp.timedependent.interfaces.fault.eq_srcs.creep]
slip_function = pylith.faults.ConstRateSlipFn
origin_time = 0.0*s
slip_function.slip_rate.iohandler.filename = sliprate_creep.spatialdb
slip_function.slip_time.iohandler.filename = sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain]
skip = 9
writer.filename = savageprescott.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = 17 ; nodeset for subdomain
skip = 0
writer.filename = savageprescott-groundsurf.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for vtk fault rupture output.
[pylithapp.timedependent.interfaces.fault.output]
skip = 0
writer.filename = savageprescott-fault.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic.output]
skip = 9
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = savageprescott-statevars-elastic.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.viscoelastic.output]
cell_info_fields = [density,mu,lambda,maxwell_time]
skip = 9
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = savageprescott-statevars-viscoelastic.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year
