# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary and
# interface conditions. The general parameters are specificed in the
# pylithapp.cfg file which PyLith reads by default.
#
# To run the simulation:
# pylith savageprescott.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Define the total time for the simulation and the default time step size.
# Overwrite values in pylithapp.cfg
total_time = 25.0*s ; total time of simulation
default_dt = 1.0*s ; time step

# Set bc to an array of 3 boundary conditions: 'x_pos','x_neg', and 'z_neg'.
bc = [x_pos,x_neg,z_neg]

# Set interfaces to an array of 1 fault: 'fault'.
interfaces = [fault]

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------

# We change spatial database for the rate of change from FixedDOFDB
# (which has zero velocity) to UniformDB (which allows nonzero
# velocities).

# Set the parameters for the desired boundary conditions.
#
# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0, 1]
label = 11
db.label = Dirichlet BC on +x
rate_db = spatialdata.spatialdb.UniformDB
rate_db.label = Dirichlet rate BC on +x
rate_db.values = [dof-0,dof-1]
rate_db.data = [0.0,-0.1]

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1]
label = 12
db.label = Dirichlet BC on -x
rate_db = spatialdata.spatialdb.UniformDB
rate_db.label = Dirichlet rate BC on -x
rate_db.values = [dof-0,dof-1]
rate_db.data = [0.0,+0.1]

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = 16
db.label = Dirichlet BC on -z

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]

# Set the parameters for the fault interface conditions.

[pylithapp.timedependent.interfaces.fault]
label = 10
quadrature = pylith.feassemble.quadrature.Quadrature2Din3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2
mat_db.iohandler.filename = mat_elastic.spatialdb

output.vertex_info_fields = [normal_dir,strike_dir,dip_dir,final_slip_creep,final_slip_one,final_slip_two,slip_time_creep,slip_time_one,slip_time_two]

# Set earthquake ruptures
eq_srcs = [creep,one,two]
eq_srcs.creep.origin_time = 00.0*s
eq_srcs.one.origin_time = 10.0*s
eq_srcs.two.origin_time = 20.0*s

# one
[pylithapp.timedependent.interfaces.fault.eq_srcs.one.slip_function]
slip.iohandler.filename = finalslip_rupture.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# two
[pylithapp.timedependent.interfaces.fault.eq_srcs.two.slip_function]
slip.iohandler.filename = finalslip_rupture.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# creep
[pylithapp.timedependent.interfaces.fault.eq_srcs.creep]
slip_function = pylith.faults.ConstRateSlipFn
origin_time = 0.0*s
slip_function.slip_rate.iohandler.filename = sliprate_creep.spatialdb
slip_function.slip_time.iohandler.filename = sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain.writer]
filename = savageprescott.vtk

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = 17 ; nodeset for subdomain
writer.filename = savageprescott-groundsurf.vtk

# Give basename for vtk fault rupture output.
[pylithapp.timedependent.interfaces.fault.output.writer]
filename = savageprescott-fault.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic_upper.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = savageprescott-statevars-upper.vtk

[pylithapp.timedependent.materials.elastic_lower.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = savageprescott-statevars-lower.vtk

