[euler]

# Top-level info
bc_type = dislocation
data_dim = 3
up_dir = [0, 0, 1]
# This Euler pole is located 90 degrees away along a direction with
# an initial bearing of east at the average location of the points
# defined in points.def.
euler_lat = 0.0078*deg
euler_lon = -27.0117*deg
euler_rot = -1.0e-6*deg
points_file = points.def
points_spatialdb = points.spatialdb
dip_slip = True
dip_cutoff = 75.0*deg

# Source coordinate system
[euler.src_coordsys]
datum_horiz = NAD27
space_dim = 3

# Source coordinate system projector
[euler.src_coordsys.projector]
projection = utm
proj-options = '-I +proj=utm +zone=11 +datum=NAD27 -f %.f15'

[euler.dest_coordsys]
datum_horiz = NAD27
