[pylithapp]

[pylithapp.launcher] # WARNING: THIS IS NOT PORTABLE
#command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature2d = 1
#fiatlagrange = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
debug = 1

[pylithapp.mesh_generator.reader]
filename = fourcells.mesh
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 2
bc = [x_neg,x_pos]
interfaces = [fault1,fault2]

normalizer.length_scale = 1.0*m

[pylithapp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticPlaneStrain

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2
quadrature.min_jacobian = 1.0e-9

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.x_pos]
bc_dof = [0,1]
label = edge-x
db_initial.label = Dirichlet BC -x edge

[pylithapp.timedependent.bc.x_neg]
bc_dof = [0]
label = edge+x
db_initial.label = Dirichlet BC +x edge

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
fault1 = pylith.faults.FaultCohesiveKin
fault2 = pylith.faults.FaultCohesiveKin

[pylithapp.timedependent.interfaces.fault1]
id = 2
label = fault-x
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1

[pylithapp.timedependent.interfaces.fault1.eq_srcs.rupture.slip_function]
slip = spatialdata.spatialdb.UniformDB
slip.label = Final slip
slip.values = [left-lateral-slip,fault-opening]
slip.data = [+2.0*m,0.0*m]

slip_time = spatialdata.spatialdb.UniformDB
slip_time.label = Slip start time
slip_time.values = [slip-time]
slip_time.data = [0.0*s]

[pylithapp.timedependent.interfaces.fault2]
id = 3
label = fault+x
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1

[pylithapp.timedependent.interfaces.fault2.eq_srcs.rupture.slip_function]
slip = spatialdata.spatialdb.UniformDB
slip.label = Final slip
slip.values = [left-lateral-slip,fault-opening]
slip.data = [-2.0*m,0.0*m]

slip_time = spatialdata.spatialdb.UniformDB
slip_time.label = Slip start time
slip_time.values = [slip-time]
slip_time.data = [0.0*s]


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
malloc_dump =
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_rtol = 1.0e-8
ksp_max_it = 100
ksp_gmres_restart = 50

#ksp_monitor = true
#ksp_view = true

# start_in_debugger = true


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output.writer]
filename = fourcells_twofaults.vtk

[pylithapp.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = fourcells_twofaults-elastic.vtk

[pylithapp.timedependent.interfaces.fault1.output.writer]
filename = fourcells_twofaults-fault1.vtk

[pylithapp.timedependent.interfaces.fault2.output.writer]
filename = fourcells_twofaults-fault2.vtk
