[friction_shear_stick]

[friction_shear_stick.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# The settings below turn on journal info for the specified components.
# If you want less output to stdout, you can turn these off.
[friction_shear_stick.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solvernonlinear = 1
#meshioascii = 1
#homogeneous = 1
#elasticityimplicit = 1
#fiatlagrange = 1
#quadrature1d = 1
#faultcohesivedyn = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[friction_shear_stick.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[friction_shear_stick.mesh_generator.reader]
filename = mesh.exo
use_nodeset_names = False
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[friction_shear_stick.timedependent]
dimension = 2
formulation = pylith.problems.Implicit
formulation.solver = pylith.problems.SolverNonlinear

bc = [x_neg,x_pos_disp,x_pos_tract,y_pos_fault,y_neg_fault]
bc.x_pos_tract = pylith.bc.Neumann
bc.y_pos_fault = pylith.bc.Neumann
bc.y_neg_fault = pylith.bc.Neumann

interfaces = [fault]

[friction_shear_stick.timedependent.formulation.time_step]
total_time = 0.0*s
dt = 10.0*year


# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[friction_shear_stick.timedependent.materials]
material = pylith.materials.ElasticPlaneStrain

[friction_shear_stick.timedependent.materials.material]
label = elastic material
id = 1

db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb

quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[friction_shear_stick.timedependent.bc.x_neg]
bc_dof = [0,1]
label = 21

[friction_shear_stick.timedependent.bc.x_pos_disp]
bc_dof = [0]
label = 20

[friction_shear_stick.timedependent.bc.x_pos_tract]
label = 20

db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Neumann BC +x edge
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [1.0*MPa,0.0*MPa]

quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1


[friction_shear_stick.timedependent.bc.y_pos_fault]
label = 22

db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Neumann BC +y edge
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [-1.0*MPa, 0.0*MPa]

quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1

[friction_shear_stick.timedependent.bc.y_neg_fault]
label = 23

db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Neumann BC -y edge
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [-1.0*MPa, 0.0*MPa]

quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1



# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[friction_shear_stick.timedependent.interfaces]

fault = pylith.faults.FaultCohesiveDyn

# Define fault properties.
[friction_shear_stick.timedependent.interfaces.fault]
label = 10

quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1

friction.label = Static friction
friction.db_properties = spatialdata.spatialdb.UniformDB
friction.db_properties.label = Static friction
friction.db_properties.values = [friction-coefficient,cohesion]
friction.db_properties.data = [0.6,0.0*Pa]

traction_perturbation = pylith.faults.TractPerturbation

[friction_shear_stick.timedependent.interfaces.fault.traction_perturbation]
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Initial fault tractions
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [0.0*Pa, -10.0*MPa]

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[friction_shear_stick.petsc]
malloc_dump =
pc_type = asm

sub_pc_factor_shift_type = nonzero

ksp_rtol = 1.0e-8
ksp_max_it = 100
ksp_gmres_restart = 50
#ksp_monitor = true
#ksp_view = true
#ksp_converged_reason = true

snes_rtol = 1.0e-8
snes_max_it = 100
#snes_monitor = true
#snes_view = true
#snes_converged_reason = true


#start_in_debugger = true

# Friction sensitivity solve used to compute the increment in slip
# associated with changes in the Lagrange multiplier imposed by the
# fault constitutive model.
friction_pc_type = asm
friction_sub_pc_factor_shift_type = nonzero
friction_ksp_max_it = 25
friction_ksp_gmres_restart = 30
# Uncomment to view details of friction sensitivity solve.
#friction_ksp_monitor = true
#friction_ksp_view = true
#friction_ksp_converged_reason = true
# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[friction_shear_stick.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5
writer.filename = friction_shear_stick.h5

[friction_shear_stick.timedependent.interfaces.fault.output]
writer = pylith.meshio.DataWriterHDF5
writer.filename = friction_shear_stick-fault.h5
vertex_info_fields = [strike_dir,normal_dir,traction_initial_value,friction_coefficient,cohesion]

[friction_shear_stick.timedependent.materials.material.output]
cell_filter = pylith.meshio.CellFilterAvg
writer = pylith.meshio.DataWriterHDF5
writer.filename = friction_shear_stick-elastic.h5
