[lgdeformrigidbody]

[lgdeformrigidbody.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[lgdeformrigidbody.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature2d = 1
#fiatlagrange = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[lgdeformrigidbody.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[lgdeformrigidbody.mesh_generator.reader]
filename = mesh.exo
use_nodeset_names = False
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[lgdeformrigidbody.timedependent]
dimension = 2
bc = [x_neg,x_pos]

formulation = pylith.problems.ImplicitLgDeform
formulation.solver = pylith.problems.SolverNonlinear

[lgdeformrigidbody.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[lgdeformrigidbody.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticPlaneStrain

[lgdeformrigidbody.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[lgdeformrigidbody.timedependent.bc.x_neg]
bc_dof = [0,1]
label = 21
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC -x edge
db_initial.iohandler.filename = rigidbody_disp.spatialdb

[lgdeformrigidbody.timedependent.bc.x_pos]
bc_dof = [0,1]
label = 20
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC +x edge
db_initial.iohandler.filename = rigidbody_disp.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[lgdeformrigidbody.petsc]
malloc_dump =
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_rtol = 1.0e-15
ksp_atol = 1.0e-20
ksp_max_it = 200
ksp_gmres_restart = 100

#ksp_monitor = true
#ksp_view = true
#ksp_converged_reason = true

snes_rtol = 1.0e-12
snes_atol = 1.0e-12
ksp_max_it = 200
ksp_gmres_restart = 100

#snes_monitor = true
#snes_view = true
#snes_converged_reason = true


# start_in_debugger = true


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[lgdeformrigidbody.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5
writer.filename = lgdeformrigidbody.h5

[lgdeformrigidbody.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvg
writer = pylith.meshio.DataWriterHDF5
writer.filename = lgdeformrigidbody-elastic.h5
