[lgdeformtraction]

[lgdeformtraction.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[lgdeformtraction.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature2d = 1
#fiatlagrange = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[lgdeformtraction.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[lgdeformtraction.mesh_generator.reader]
filename = mesh.exo
use_nodeset_names = False
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[lgdeformtraction.timedependent]
dimension = 2
bc = [x_neg,x_pos,y_neg,y_pos]

formulation = pylith.problems.ImplicitLgDeform
formulation.solver = pylith.problems.SolverNonlinear

[lgdeformtraction.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[lgdeformtraction.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticPlaneStrain

[lgdeformtraction.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[lgdeformtraction.timedependent.bc]
x_pos = pylith.bc.Neumann
y_pos = pylith.bc.Neumann

[lgdeformtraction.timedependent.bc.x_neg]
bc_dof = [0]
label = 21

[lgdeformtraction.timedependent.bc.y_neg]
bc_dof = [1]
label = 23

[lgdeformtraction.timedependent.bc.x_pos]
label = 20
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Neumann BC +x edge
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [0.0*MPa,-100*MPa]
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1

[lgdeformtraction.timedependent.bc.y_pos]
label = 22
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Neumann BC +y edge
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [0.0*MPa,-10*MPa]
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[lgdeformtraction.petsc]
malloc_dump =
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_rtol = 1.0e-8
ksp_max_it = 100
ksp_gmres_restart = 50

#ksp_monitor = true
#ksp_view = true
#ksp_converged_reason = true

#snes_monitor = true
#snes_view = true
#snes_converged_reason = true


# start_in_debugger = true


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[lgdeformtraction.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5
writer.filename = lgdeformtraction.h5

[lgdeformtraction.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvg
writer = pylith.meshio.DataWriterHDF5
writer.filename = lgdeformtraction-elastic.h5
