[pylithapp]

[pylithapp.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature3d = 1
#fiatlagrange = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1
reader = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.reader]
filename = mesh.exo
use_nodeset_names = True
coordsys.space_dim = 3

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 3
bc = [x_neg,x_pos]
interfaces = [fault]

[pylithapp.timedependent.formulation]
output = [domain,subdomain]
output.subdomain = pylith.meshio.OutputSolnSubset

[pylithapp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
materials = [elastic,viscoelastic]
materials.elastic = pylith.materials.ElasticIsotropic3D
materials.viscoelastic = pylith.materials.ElasticIsotropic3D

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.dimension = 3
quadrature.cell.degree= 2

[pylithapp.timedependent.materials.viscoelastic]
label = Elastic material 2
id = 2
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.dimension = 3
quadrature.cell.degree = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.x_pos]
bc_dof = [0, 1, 2]
label = face_xpos
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Dirichlet BC +x edge
db_initial.values = [displacement-x,displacement-y,displacement-z]
db_initial.data = [0.0*m,+0.5*m,0.0*m]

[pylithapp.timedependent.bc.x_neg]
bc_dof = [0, 1, 2]
label = face_xneg
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Dirichlet BC -x edge
db_initial.values = [displacement-x,displacement-y,displacement-z]
db_initial.data = [0.0*m,-0.5*m,0.0*m]

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
fault = pylith.faults.FaultCohesiveKin

[pylithapp.timedependent.interfaces.fault]
id = 100
label = fault
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.dimension = 2
quadrature.cell.degree= 2

[pylithapp.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]
slip.iohandler.filename = dislocation_slipLL.spatialdb
slip_time.iohandler.filename = dislocation_sliptime.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_rtol = 1.0e-8
ksp_max_it = 100
ksp_gmres_restart = 50
ksp_monitor = true
ksp_view = true
ksp_converged_reason = true
#log_summary = true
# start_in_debugger = true


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.domain.writer]
filename = dislocation.vtk

[pylithapp.problem.formulation.output.subdomain]
label = face_zpos
writer.filename = dislocation-groundsurf.vtk

[pylithapp.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = dislocation-elastic.vtk

[pylithapp.timedependent.materials.viscoelastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = dislocation-viscoelastic.vtk
