[pylithapp]

# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------

# Use constant initial tractions on the fault to drive fault slip
# subject to static friction on the fault. Deformation propagates to
# the edges of the bar where it is absorbed using absorbing dampers
# boundary conditions. The steady state solution is a constant slip
# rate on the fault with uniform strain in the bar.

# ----------------------------------------------------------------------
# RUNNING THE SIMULATION
# ----------------------------------------------------------------------

# This is not a self-contained simulation configuration file. This
# file only specifies the specific parameters for an explicit
# time-stepping problem using a dynamic fault interface condition with
# static friction.
#
# To run the simulation:
# pylith dynamicfault.cfg staticfriction.cfg

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault]

# Use static friction
friction = pylith.friction.StaticFriction
friction.label = Static friction

# Set the static friction model parameters.
#  static coefficient of friction: 0.6
#  cohesion: 0 Pa
friction.db_properties = spatialdata.spatialdb.UniformDB
friction.db_properties.label = Static friction
friction.db_properties.values = [friction-coefficient,cohesion]
friction.db_properties.data = [0.6,0.0*Pa]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Set filenames for output.
[pylithapp.problem.formulation.output.output]
writer.filename = output/staticfriction.vtk

[pylithapp.timedependent.interfaces.fault.output]
writer.filename = output/staticfriction-fault.vtk

[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/staticfriction-statevars.vtk
