[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
#
#         ----------
#         |        |
# Ux= 0   |        | Ux= 0
#         |        |
#         |        |
#         ----------
#            Uy=0
#
# Dirichlet boundary conditions
#
# boundary_yneg: Uy(x,-100*km) = 0
# boundary_xneg: Ux(-126*km,y) = 0
# boundary_xpos: Uy(+74*km,y) =  0
base = [pylithapp.cfg]
description = Reverse prescribed slip on main and splay fault with power-law viscoelastic bulk rheology and zero displacement Dirichlet boundary condition.
authors = [Charles Williams, Brad Aagaard]
keywords = [reverse slip, prescribed slip, multiple faults, power-law viscoelastic bulk rheology]
arguments = [step08_twofaults_powerlaw.cfg, step08b_twofaults_powerlaw.cfg]
version = 1.0.0
pylith_version = [>=4.0, <6.0]

features = [
    Quasi-static simulation,
    Adaptive time stepping,
    pylith.materials.Elasticity,
    pylith.materials.IsotropicPowerLaw,
    pylith.faults.FaultCohesiveKin,
    pylith.faults.KinSrcStep,
    spatialdata.spatialdb.UniformDB,
    spatialdata.spatialdb.CompositeDB
    ]


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step08b_twofaults_powerlaw

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# The first time step will advance the solution to t=0.
# We use a small initial time step to resolve the postseismic relaxation.
initial_dt = 0.2*year
start_time = -0.2*year
end_time = 100.0*year

petsc_defaults.adaptive_time_stepping = True


# End of file
