[dislocation]

[dislocation.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[dislocation.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshioascii = 1
#implicitelasticity = 1
#quadrature = 1
#fiatsimplex = 1
#faultcohesivekin = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[dislocation.mesh_generator]
#debug = 1

[dislocation.mesh_generator.reader]
filename = bar.mesh
coordsys.space_dim = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[dislocation.timedependent]
dimension = 1
bc = [bc]
interfaces = [fault]

[dislocation.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[dislocation.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticStrain1D

[dislocation.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.dimension = 1
quadrature.cell.degree = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[dislocation.timedependent.bc.bc]
bc_dof = [0]
label = end points
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC
db_initial.iohandler.filename = axialextension_disp.spatialdb

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[dislocation.timedependent.interfaces]
fault = pylith.faults.FaultCohesiveKin

[dislocation.timedependent.interfaces.fault]
label = fault
quadrature.cell.dimension = 0

[dislocation.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]
slip.label = Final slip
slip.iohandler.filename = finalslip.spatialdb
slip_time.label = Slip time
slip_time.iohandler.filename = sliptime.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[dislocation.petsc]
ksp_rtol = 1.0e-8
pc_type = jacobi

ksp_max_it = 100
ksp_gmres_restart = 50
#ksp_monitor = true
#ksp_view = true
#log_summary = true
#start_in_debugger = true
#snes_monitor = true
#snes_view = true

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[dislocation.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5Mesh
writer.filename = dislocation.h5

[dislocation.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer = pylith.meshio.DataWriterHDF5Mesh
writer.filename = dislocation-elastic.h5

[dislocation.timedependent.interfaces.fault.output]
writer = pylith.meshio.DataWriterHDF5SubSubMesh
writer.filename = dislocation-fault.h5
