[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
keywords = [example, 2D, subduction]
features = [
    Triangular cells,
    field split preconditioner,
    Schur complement,
    pylith.meshio.MeshIOPetsc,
    pylith.problems.TimeDependent,
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    pylith.meshio.OutputSolnBoundary,
    pylith.meshio.DataWriterHDF5
    ]


# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
solution = 1
meshiopetsc = 1
petscoptions = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
# Change the default mesh reader to the PETSc reader for Gmsh files.
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tri.msh
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use nonlinear solver to ensure residual and Jacobian are consistent.
solver = nonlinear 

# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 1

# Set the discretization of the solution subfields.
#
# For a quastistatic simulation with a fault, we have two solution fields:
# (1) displacement and (2) Lagrange multiplier. We use a predefined containter
# to create a solution field with these two subfields.
solution = pylith.problems.SolnDispLagrange

[pylithapp.problem.solution.subfields]
displacement.basis_order = 1
lagrange_fault.basis_order = 1

[pylithapp.problem]
solution_observers = [domain, groundsurf]
solution_observers.groundsurf = pylith.meshio.OutputSolnBoundary

[pylithapp.problem.solution_observers.domain]
# Skip 1 time step between output for the domain.
trigger.num_skip = 1

[pylithapp.problem.solution_observers.groundsurf]
# The `label` and `label_value` correspond to the name and tag of the
# physical group in the Gmsh Python script.
label = groundsurf
label_value = 10

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set materials to an array of 3 materials:
#   'continent_crust'
#   'ocean_crust'
#   'mantle'
materials = [continent_crust, ocean_crust, mantle]

[pylithapp.problem.materials]
# We use the default material (elasticity) and rheology (isotropic, linear elasticity).
# We use the `SimpleDB` (default) spatial database to make it easy to change
# the properties of the bulk rheologies and add variations with depth. 
#
# We use uniform properties within each material, so we set the basis order for
# the properties to 0. We set the basis order for stress and strain to 1 so that
# we do not need to update them if we use a basis order for 2 for the displacement field.
#
# The `label_value` must match the tag for the physical group in the Gmsh Python script.

# Continental crust -----------------------------
[pylithapp.problem.materials.continent_crust]
description = Continental crust
label_value = 1

db_auxiliary_field.description = Continental crust properties
db_auxiliary_field.iohandler.filename = mat_concrust.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

# We discretize the displacement field with a basis order of 1
# so the stress and strain computed from the displacement field
# will have an accuracy of one order lower.
derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0


# Oceanic crust --------------------
[pylithapp.problem.materials.ocean_crust]
description = Oceanic crust
label_value = 2

db_auxiliary_field.description = Oceanic crust properties
db_auxiliary_field.iohandler.filename = mat_oceancrust.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0


# Oceanic mantle --------------------
[pylithapp.problem.materials.mantle]
description = Mantle
label_value = 3

db_auxiliary_field.description = Mantle properties
db_auxiliary_field.iohandler.filename = mat_mantle.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0


# End of file
