[pylithapp.metadata]
base = [pylithapp.cfg]
description = Coseismic prescribed slip between the continental crust and the subducting oceanic crust.
authors = [Brad Aagaard]
keywords = [prescribed slip]
arguments = [step01_coseismic.cfg]
version = 2.0.0
pylith_version = [>=4.0, <5.0]

features = [
    Static simulation,
    pylith.faults.FaultCohesiveKin,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.SimpleDB,
    pylith.faults.KinSrcStep,
    pylith.bc.ZeroDB
    ]

# ----------------------------------------------------------------------
# Monitoring and parameter viewing.
# ----------------------------------------------------------------------
[pylithapp]
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step01_coseismic-parameters.json
problem.progress_monitor.filename = output/step01_coseismic-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step01_coseismic

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.problem]
# We only use the subduction interface in this example, so we set the
# interfaces array to a single fault.
interfaces = [fault]

[pylithapp.problem.interfaces.fault]
# The `label` and `label_value` correspond to the name and tag of the
# physical group in the Gmsh Python script.
label = fault_slabtop
label_value = 21
edge = fault_slabtop_edge
edge_value = 31

observers.observer.data_fields = [slip, traction_change]

[pylithapp.problem.interfaces.fault.eq_ruptures.rupture]
# We specify slip as a function of depth, so we use a `SimpleDB` with
# linear interpolation.
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.iohandler.filename = fault_coseismic.spatialdb
db_auxiliary_field.query_type = linear


# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set bc to an array of 4 boundary conditions:
#   'bc_east_crust'
#   'bc_east_mantle'
#   'bc_west'
#   'bc_bottom'
#
# On each boundary we fix the displacement normal to the boundary
# (roller boundary condition).
#
# The `label` and `label_value` correspond to the name and tag of the physical
# group in the Gmsh Python script.
bc = [bc_east_crust, bc_east_mantle, bc_west, bc_bottom]


# East boundary (crust)
[pylithapp.problem.bc.bc_east_crust]
label = bndry_east_crust
label_value = 12
constrained_dof = [0]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on east boundary (crust)


# East boundary (mantle)
[pylithapp.problem.bc.bc_east_mantle]
label = bndry_east_mantle
label_value = 13
constrained_dof = [0]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on east boundary (mantle)


# West boundary
[pylithapp.problem.bc.bc_west]
label = bndry_west
label_value = 11
constrained_dof = [0]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on west boundary


# Bottom boundary (mantle)
[pylithapp.problem.bc.bc_bottom]
label = bndry_bot
label_value = 14
constrained_dof = [1]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on bottom boundary


# End of file
