[pylithapp.metadata]
base = [pylithapp.cfg]
description = Combine the interseismic deformation from Step 2 with the coseismic slip from Step 1.
authors = [Brad Aagaard]
keywords = [prescribed slip, aseismic creep, coseismic slip, multiple ruptures]
arguments = [step03_eqcycle.cfg]
version = 2.0.0
pylith_version = [>=3.0, <4.0]

features = [
    Quasitatic simulation,
    pylith.faults.FaultCohesiveKin,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.SimpleDB,
    spatialdata.spatialdb.UniformDB,
    pylith.faults.KinSrcConstRate,
    pylith.bc.ZeroDB
    ]

# ----------------------------------------------------------------------
# Monitoring and parameter viewing.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step03_eqcycle-parameters.json
problem.progress_monitor.filename = output/step03_eqcycle-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step03_eqcycle

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# For time-dependent problems, we specify start and end times and an initial
# time step. With an initial time step of 5 years, we use a start time of
# -5 years so that the first solution occurs at 0 years.
initial_dt = 5.0*year
start_time = -5.0*year
end_time = 300.0*year

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
# We specify creep and coseismic slip on the top of the slab and creep on
# the bottom of the slab, so we set the interfaces array to include both the
# top and bottom interfaces.
[pylithapp.problem]
interfaces = [fault_slabtop, fault_slabbot]

# Slab top --------------------
[pylithapp.problem.interfaces.fault_slabtop]
# The `label` and `label_value` correspond to the name and tag of the physical
# group in the Gmsh Python script.
label = fault_slabtop
label_value = 21
edge = fault_slabtop_edge
edge_value = 31

observers.observer.data_fields = [slip]

# Set earthquake sources to an array consisting of creep and 1 earthquake.
eq_ruptures = [creep, earthquake]

# Creep starts at t=0
eq_ruptures.creep = pylith.faults.KinSrcConstRate
eq_ruptures.creep.origin_time = 0.0*year

# Set the earthquake origin time to t=150 yr
eq_ruptures.earthquake = pylith.faults.KinSrcStep
eq_ruptures.earthquake.origin_time = 150.0*year

# Earthquake ---------
[pylithapp.timedependent.interfaces.fault_slabtop.eq_ruptures.earthquake]
# We specify slip as a function of depth, so we use a SimpleDB with
# linear interpolation.
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.iohandler.filename = fault_coseismic.spatialdb
db_auxiliary_field.query_type = linear

# Creep ---------
[pylithapp.timedependent.interfaces.fault_slabtop.eq_ruptures.creep]
# We specify slip as a function of depth, so we use a SimpleDB with
# linear interpolation.
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.iohandler.filename = fault_slabtop_creep.spatialdb
db_auxiliary_field.query_type = linear


# Slab bottom --------------------
[pylithapp.problem.interfaces.fault_slabbot]
label = fault_slabbot
label_value = 22
edge = fault_slabbot_edge
edge_value = 32

observers.observer.data_fields = [slip]

# Switch to constant slip rate time function.
[pylithapp.problem.interfaces.fault_slabbot.eq_ruptures]
rupture = pylith.faults.KinSrcConstRate

[pylithapp.problem.interfaces.fault_slabbot.eq_ruptures.rupture]
# The creep rate and slip time are uniform, so use UniformDB for simplicity.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.values = [initiation_time, slip_rate_left_lateral, slip_rate_opening]
db_auxiliary_field.data = [0.0*year, 8.0*cm/year, 0.0*cm/year]


# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set bc to an array of 3 boundary conditions:
#   'bc_east_mantle'
#   'bc_west'
#   'bc_bottom'
#
# On each boundary we fix the displacement normal to the boundary
# (roller boundary condition).
#
# The `label` and `label_value` correspond to the name and tag of the physical
# group in the Gmsh Python script.
bc = [bc_east_mantle, bc_west, bc_bottom]

# East boundary (mantle)
[pylithapp.problem.bc.bc_east_mantle]
label = bndry_east_mantle
label_value = 13
constrained_dof = [0]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on east boundary (mantle)


# West boundary
[pylithapp.problem.bc.bc_west]
label = bndry_west
label_value = 11
constrained_dof = [0]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on west boundary


# Bottom boundary (mantle)
[pylithapp.problem.bc.bc_bottom]
label = bndry_bot
label_value = 14
constrained_dof = [1]
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on bottom boundary (mantle)


# End of file
