[extensiondisp]
nodes = 1

[extensiondisp.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[extensiondisp.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshioascii = 1
#implicitelasticity = 1
#quadrature = 1
#fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[extensiondisp.mesh_generator]
#debug = 1

[extensiondisp.mesh_generator.reader]
filename = bar.mesh
coordsys.space_dim = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[extensiondisp.timedependent]
dimension = 1
bc = [bc]

#formulation.solver = pylith.problems.SolverNonlinear

[extensiondisp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[extensiondisp.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticStrain1D

[extensiondisp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.dimension = 1

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[extensiondisp.timedependent.bc.bc]
bc_dof = [0]
label = end points
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC
db_initial.iohandler.filename = extensiondisp_disp.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[extensiondisp.petsc]
ksp_rtol = 1.0e-8
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_max_it = 100
ksp_gmres_restart = 50

#ksp_monitor = true
#ksp_view = true
#snes_monitor = true
#snes_view = true
#log_summary = true
#start_in_debugger = true

malloc =
malloc_debug =
malloc_dump =

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[extensiondisp.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5Mesh
writer.filename = extensiondisp.h5

[extensiondisp.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer = pylith.meshio.DataWriterHDF5Mesh
writer.filename = extensiondisp-elastic.h5
