[extensionforce]

[extensionforce.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[extensionforce.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshioascii = 1
#implicitelasticity = 1
#quadrature = 1
#fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[extensionforce.mesh_generator]
#debug = 1

[extensionforce.mesh_generator.reader]
filename = bar.mesh
coordsys.space_dim = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[extensionforce.timedependent]
dimension = 1
bc = [force,fixed]
bc.force = pylith.bc.PointForce

[extensionforce.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[extensionforce.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticStrain1D

[extensionforce.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.dimension = 1

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[extensionforce.timedependent.bc.force]
bc_dof = [0]
label = end points
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Point force BC
db_initial.iohandler.filename = extensionforce_force.spatialdb

[extensionforce.timedependent.bc.fixed]
bc_dof = [0]
label = fault
#db_initial.label = Zero displacement bc.


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[extensionforce.petsc]
ksp_rtol = 1.0e-8
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_max_it = 100
ksp_gmres_restart = 50

#ksp_monitor = true
#ksp_view = true
#snes_monitor = true
#snes_view = true
#log_summary = true
#start_in_debugger = true

malloc =
malloc_debug =
malloc_dump =

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[extensionforce.problem.formulation.output.output]
writer = pylith.meshio.DataWriterHDF5Mesh
writer.filename = extensionforce.h5

[extensionforce.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer = pylith.meshio.DataWriterHDF5Mesh
writer.filename = extensionforce-elastic.h5
