[pylithapp]

[pylithapp.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshioascii = 1
#implicitelasticity = 1
#quadrature = 1
#fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1

[pylithapp.mesh_generator.reader]
filename = bar.mesh
coordsys.space_dim = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 1
bc = [bc]

formulation = pylith.problems.ImplicitLgDeform
formulation.solver = pylith.problems.SolverNonlinear

[pylithapp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
materials = [elastic]
materials.elastic = pylith.materials.ElasticStrain1D

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.label = Elastic properties
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell.dimension = 1

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.bc]
bc_dof = [0]
label = end points
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Dirichlet BC
db_initial.values = [displacement-x]
db_initial.data = [2.5*m]

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ksp_rtol = 1.0e-8
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_max_it = 100
ksp_gmres_restart = 50

#ksp_monitor = true
#ksp_view = true
#snes_monitor = true
#snes_view = true
#log_summary = true
#start_in_debugger = true

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output.writer]
filename = lgdeformtranslation.vtk

[pylithapp.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = lgdeformtranslation-elastic.vtk
