# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
formulation = pylith.problems.Implicit
