# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.eqdeformation]
formulation = pylith.problems.Implicit
