[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
journal.info.eqdeformation = 1
journal.info.explicit = 1
journal.info.petsc = 1
journal.info.meshioascii = 1
journal.info.homogeneous = 1
journal.info.explicitelasticity = 1
journal.info.quadrature2d = 1
journal.info.fiatsimplex = 1

# ----------------------------------------------------------------------
# launcher
# ----------------------------------------------------------------------
#launcher.command = mpiexec

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
mesh_generator.importer.filename = twotri3.mesh

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
eqdeformation.total_time = 1.0*s
eqdeformation.default_dt = 1.0*s
eqdeformation.homogeneous.material.quadrature = pylith.feassemble.quadrature.Quadrature2D
eqdeformation.homogeneous.material.quadrature.cell.shape = triangle
