[pylithapp]

# ----------------------------------------------------------------------
# Journal
# ----------------------------------------------------------------------
journal.info.eqdeformation = 1

# ----------------------------------------------------------------------
# MPI
# ----------------------------------------------------------------------
#launcher.command = mpiexec

# ----------------------------------------------------------------------
# Mesh
# ----------------------------------------------------------------------
mesh_generator.importer.filename = twotri3.mesh

# ----------------------------------------------------------------------
# Solution
# ----------------------------------------------------------------------
eqdeformation.total_time = 1.0*s
eqdeformation.default_dt = 1.0*s