# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
timedependent = 1
explicit = 1
implicit = 1
petsc = 1
solverlinear = 1
meshioascii = 1
homogeneous = 1
explicitelasticity = 1
quadrature2d = 1
fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
debug = 1

[pylithapp.mesh_generator.importer]
filename = twotri3.mesh
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
total_time = 2.0*s
default_dt = 1.0*s
dimension = 2

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials]
material = pylith.materials.ElasticPlaneStrain

[pylithapp.timedependent.materials.material]
label = elastic material
id = 1
db.iohandler.filename = matprops.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature2D
quadrature.cell.shape = triangle

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = jacobi
