[greensfns]

# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------
#
# This simulation computes the Green's functions for slip impulses at
# points on the fault surface.
#
# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------
#
# This is not a self-contained simulation configuration file. This
# file specifies only the Green's function parameters for the
# simulation. The general static and mesh parameters are specificed in
# the pylithapp.cfg file which PyLith reads by default.
#
# NOTE: This file will be read automatically when the problem is
# changed to "GreensFns" because the facility name is "greensfns", and
# PyLith will look for a .cfg file matching the name of the facility.
#
# To run the simulation:
# pylith step21.cfg --problem=pylith.problems.GreensFns
#
# Output will be directed to directory output.

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[greensfns]
fault_id = 10

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
# Set the type of fault interface condition.
[greensfns.interfaces]
fault = pylith.faults.FaultCohesiveImpulses

# Set the parameters for the fault interface condition.
[greensfns.interfaces.fault]
# Generate impulses for lateral slip and reverse slip, no fault opening.
# Fault DOF 0 and 1 correspond to left-lateral and reverse slip.
impulse_dof = [0, 1]

# Set the amplitude of the slip impulses (amplitude is nonzero on only
# a subset of the fault)
db_impulse_amplitude.label = Amplitude of slip impulses
db_impulse_amplitude.iohandler.filename = spatialdb/impulse_amplitude.spatialdb
db_impulse_amplitude.query_type = nearest

# End of file
