[pylithapp]

# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------

#
# This is a time-dependent problem with velocity boundary conditions
# and multiple earthquake ruptures as well as fault creep at constant
# velocity.
# Velocities in the + and - y-directions are applied on the + and -
# x-faces, and the x-displacements are held fixed on those boundaries.
# The z-displacements are held fixed on the -z face.
# The upper (locked) portion of the fault ruptures at regular intervals,
# and constant velocities are applied on the lower section of the fault.
# The problem bears some similarity to the analytical Savage and Prescott
# (1978) strike-slip analytical solution for an elastic layer over a
# viscoelastic half-space. The difference is that the creeping portion of
# the fault extends through the entire domain.
# Two materials are used:
# 1. Elastic upper crust.
# 2. Viscoelastic (Maxwell) lower crust.

# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------

# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to tutorial step07.
# The general parameters are specificed in the pylithapp.cfg
# file which PyLith reads by default.
#
# To run the simulation:
# pylith step07.cfg
#
# Output will be directed to the directory output.

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set bc to an array of 3 boundary conditions: 'x_pos','x_neg', and 'z_neg'.
bc = [x_pos,x_neg,z_neg]

# Set interfaces to an array of 1 fault: 'fault'.
interfaces = [fault]

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (boundary of the domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# Change time stepping algorithm from uniform time step, to adaptive
# time stepping.
time_step = pylith.problems.TimeStepAdapt

# Change the total simulation time to 700 years, and set the maximum time
# step size to 10 years.
[pylithapp.timedependent.implicit.time_step]
total_time = 700.0*year
max_dt = 10.0*year
stability_factor = 1.0 ; use time step equal to stable value from materials

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# Change material type of lower crust to Maxwell viscoelastic.
[pylithapp.timedependent]
materials.lower_crust = pylith.materials.MaxwellIsotropic3D

# Provide a spatial database from which to obtain property values.
# Since there are additional properties and state variables for the Maxwell
# model, we explicitly request that they be output. Properties are named in
# cell_info_fields and state variables are named in cell_data_fields.
[pylithapp.timedependent.materials.lower_crust]
db_properties.iohandler.filename = spatialdb/mat_maxwell.spatialdb
output.cell_info_fields = [density,mu,lambda,maxwell_time]
output.cell_data_fields = [total_strain,stress,viscous_strain]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Set the parameters for Dirichlet boundary conditions applied on the
# +x, -x, and -z faces of the box.
#
# We fix the x degree of freedom on the +x and -x faces, and
# fix the z degree of freedom on the bottom (-z) face. Constant velocities
# in the +y and -y directions are applied on +x and -x.
#
# For x_pos and x_neg, we retain the default ZeroDispDB for displacements
# (db_initial), since we do not want initial displacements. We change the
# default database for velocities (db_rate) to UniformDB, which allows
# nonzero velocities. Using UniformDB, we also specify the velocity values
# in this .cfg file, rather than using a spatialdb file.
#
# For z_neg, we keep the default ZeroDispDB, since we just want zero
# z-displacements on that boundary.
# Note that since the fault cuts through the base of the model (z_neg),
# we can only constrain the portion of the bottom boundary that does not
# include the fault. A nodeset named 'face_zneg_nofault' has been defined
# in Cubit for this purpose.
#

# The label corresponds to the name of the nodeset in CUBIT.

# +x face
[pylithapp.timedependent.bc.x_pos]
bc_dof = [0, 1]
label = face_xpos
db_initial.label = Dirichlet BC on +x
db_rate = spatialdata.spatialdb.UniformDB
db_rate.label = Dirichlet rate BC on +x
db_rate.values = [displacement-rate-x,displacement-rate-y,rate-start-time]
db_rate.data = [0.0*cm/year,1.0*cm/year,0.0*year]

# -x face
[pylithapp.timedependent.bc.x_neg]
bc_dof = [0, 1]
label = face_xneg
db_initial.label = Dirichlet BC on -x
db_rate = spatialdata.spatialdb.UniformDB
db_rate.label = Dirichlet rate BC on +x
db_rate.values = [displacement-rate-x,displacement-rate-y,rate-start-time]
db_rate.data = [0.0*cm/year,-1.0*cm/year,0.0*year]

# -z face
[pylithapp.timedependent.bc.z_neg]
bc_dof = [2]
label = face_zneg_nofault
db_initial.label = Dirichlet BC on -z

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]

# Set the parameters for the fault interface conditions.
[pylithapp.timedependent.interfaces.fault]
# This corresponds to the label of the Cubit nodeset defining the fault.
label = fault
# Provide quadrature information for the fault surface.
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2

# Set earthquake sources to an array consisting of creep and 3 ruptures.
eq_srcs = [creep,one,two,three]
eq_srcs.creep.origin_time = 00.0*year
eq_srcs.one.origin_time = 200.0*year
eq_srcs.two.origin_time = 400.0*year
eq_srcs.three.origin_time = 600.0*year

# Define slip and origin time for first rupture.
[pylithapp.timedependent.interfaces.fault.eq_srcs.one.slip_function]
slip.label = "Rupture one final slip"
slip.iohandler.filename = spatialdb/finalslip_rupture.spatialdb
slip_time.label = "Rupture one slip time"
slip_time.iohandler.filename = spatialdb/sliptime.spatialdb

# Define slip and origin time for second rupture.
[pylithapp.timedependent.interfaces.fault.eq_srcs.two.slip_function]
slip.label = "Rupture two final slip"
slip.iohandler.filename = spatialdb/finalslip_rupture.spatialdb
slip_time.label = "Rupture two slip time"
slip_time.iohandler.filename = spatialdb/sliptime.spatialdb

# Define slip and origin time for third rupture.
[pylithapp.timedependent.interfaces.fault.eq_srcs.three.slip_function]
slip.label = "Rupture three final slip"
slip.iohandler.filename = spatialdb/finalslip_rupture.spatialdb
slip_time.label = "Rupture three slip time"
slip_time.iohandler.filename = spatialdb/sliptime.spatialdb

# Define slip rate and origin time for fault creep.
[pylithapp.timedependent.interfaces.fault.eq_srcs.creep]
slip_function = pylith.faults.ConstRateSlipFn
slip_function.slip_rate.label = "Creep slip rate"
slip_function.slip_rate.iohandler.filename = spatialdb/sliprate_creep.spatialdb
slip_function.slip_time.label = "Creep initiation time"
slip_function.slip_time.iohandler.filename = spatialdb/sliptime.spatialdb

# Due to the complex time history used for the fault, a number of additional
# info fields are available.
[pylithapp.timedependent.interfaces.fault]
output.vertex_info_fields = [normal_dir,strike_dir,dip_dir,final_slip_creep,final_slip_one,final_slip_two,final_slip_three,slip_time_creep,slip_time_one,slip_time_two,slip_time_three]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for output of solution over domain.
[pylithapp.problem.formulation.output.domain]
# We specify that output occurs in terms of a given time frequency, and
# ask for output every 50 years.
# We also request velocity output in addition to displacements.
vertex_data_fields = [displacement,velocity]
output_freq = time_step
time_step = 50.0*year

# We are using HDF5 output so we must change the default writer.
writer = pylith.meshio.DataWriterHDF5
writer.filename = output/step07.h5

# Give basename for output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
# Name of nodeset for ground surface.
label = face_zpos

# We also request velocity output in addition to displacements.
vertex_data_fields = [displacement,velocity]
# We keep the default output frequency behavior (skip every n steps), and
# ask to skip 0 steps between output, so that we get output every time step.
skip = 0

# We again switch the writer to produce HDF5 output.
# Note that we specifically ask for a submesh writer.
writer = pylith.meshio.DataWriterHDF5
writer.filename = output/step07-groundsurf.h5

# Give basename for fault rupture output.
[pylithapp.problem.interfaces.fault.output]
# We keep the default output frequency behavior (skip every n steps), and
# ask to skip 0 steps between output, so that we get output every time step.
skip = 0

# We again switch the writer to produce HDF5 output.
# Note that we specifically ask for a subsubmesh writer.
writer = pylith.meshio.DataWriterHDF5
writer.filename = output/step07-fault.h5

# Give basename for output of upper_crust state variables.
[pylithapp.timedependent.materials.upper_crust.output]
# Average values over quadrature points.
cell_filter = pylith.meshio.CellFilterAvg

# We specify that output occurs in terms of a given time frequency, and
# ask for output every 50 years.
output_freq = time_step
time_step = 50.0*year

# We again switch the writer to produce HDF5 output.
writer = pylith.meshio.DataWriterHDF5
writer.filename = output/step07-upper_crust.h5

# Give basename for output of lower_crust state variables.
[pylithapp.timedependent.materials.lower_crust.output]
# Average values over quadrature points.
cell_filter = pylith.meshio.CellFilterAvg

# We specify that output occurs in terms of a given time frequency, and
# ask for output every 50 years.
output_freq = time_step
time_step = 50.0*year

# We again switch the writer to produce HDF5 output.
writer = pylith.meshio.DataWriterHDF5
writer.filename = output/step07-lower_crust.h5
