# Configuration file for the generalized Maxwell model.  To use,
# simply name this file on the command line:
#
#     pylith3dapp.py genmax.cfg

[pylith3d.scanner]
materialPropertiesInputFile = vistestGenmax.prop
outputFileRoot = vistestGenmax
