# Configuration file for the linear Maxwell model with an ESF
# formulation.  To use, simply name this file on the command line:
#
#     pylith3dapp.py linmaxESF.cfg

[pylith3d.scanner]
materialPropertiesInputFile = vistestLinmaxESF.prop
outputFileRoot = vistestLinmaxESF
