# Configuration file for the linear Maxwell model with an ESF
# formulation.  To use, simply name this file on the command line:
#
#     pylith3dapp.py linmaxESF.cfg
#
# The values set in this file will override those in pylith3d.cfg.

[pylith3d]
materialPropertiesInputFile = vistestLinmaxESF.prop
outputFileRoot = vistestLinmaxESF
