# Configuration file for the power-law Maxwell model using a
# formulation based on Zienkiewicz & Taylor.  To use, simply name this
# file on the command line:
#
#     pylith3dapp.py powermaxZT.cfg

[pylith3d.scanner]
materialPropertiesInputFile = vistestPowerlawZT.prop
outputFileRoot = vistestPowerlawZT
timeStepInputFile = vistestNL.time
