# Configuration file for the power-law Maxwell model using an ESF
# formulation.  To use, simply name this file on the command line:
#
#     pylith3dapp.py powermax.cfg
#
# The values set in this file will override those in pylith3d.cfg.

[pylith3d]
materialPropertiesInputFile = vistestPowerlaw.prop
outputFileRoot = vistestPowerlaw
timeStepInputFile = vistestNL.time
