[faultinfo]

# Top-level info
# Filename info
fault_info_file = kapiti_nzdata-fault_info.vtk
fault_results_file = kapiti_nzdata-fault_t0000000.vtk
fault_output_file = kapiti_nzdata-fault_computed.vtu

# Parameters
friction_coeff = 0.2
stress_scale_factor = 1.0e-6
slip_scale_factor = 0.001
shear_direction = [0.2, 1.0, 0.2]
