/GPATH
/GRTAGS
/GSYMS
/GTAGS
/doc/userguide/userguide.pdf
pylith_parameters.json
modulesrc/*/*_wrap.cxx
modulesrc/*/*.py
/templates/friction/frictioncontrib.py
/templates/friction/frictioncontrib_wrap.cxx
/templates/materials/materialscontrib.py
/templates/materials/materialscontrib_wrap.cxx
configure
aclocal.m4
Makefile.in
portinfo.in
aux-config
PyLith.egg-info
autom4te.cache
*~
*.pyc
examples/*/*/output/*.vtk
examples/2d/*/output/*.h5
examples/2d/*/output/*.xmf
examples/2d/*/*/output/*.h5
examples/2d/*/*/output/*.xmf
tests_auto/*/*/*.h5
tests_auto/*/*/*.xmf
tests_auto/*/*/*_disp.spatialdb
tests_auto/*/*/output
tests_auto/*/*/output
examples/3d/hex8/output
examples/3d/subduction/output
examples/3d/subduction/mesh/geometry_surfs.jou
examples/3d/subduction/mesh/*.exo
examples/3d/subduction/mesh/*.sat
