/GPATH
/GRTAGS
/GSYMS
/GTAGS
pylith_parameters.json
modulesrc/*/*_wrap.cxx
modulesrc/*/*.py
/templates/friction/frictioncontrib.py
/templates/friction/frictioncontrib_wrap.cxx
/templates/materials/materialscontrib.py
/templates/materials/materialscontrib_wrap.cxx
configure
aclocal.m4
Makefile.in
portinfo.in
aux-config
PyLith.egg-info
pylith.egg-info
record.txt
autom4te.cache
*~
*.pyc
*.log
.dirstamp
/build
/dist
output/
output/*
examples/3d/subduction/mesh/geometry_surfs.jou
examples/3d/subduction/mesh/*.exo
examples/3d/subduction/mesh/*.sat
examples/3d/subduction/spatialdb/fault_slabtop_slowslip.spatialdb
examples/3d/subduction/spatialdb/fault_slabtop_slowslip.timedb
examples/3d/subduction/spatialdb/mat_initial_stress_grav-*.spatialdb
/docs/_build/
/doc-latex/userguide/userguide.pdf
/doc-latex/userguide/userguide.aux
/doc-latex/userguide/userguide.fdb_latexmk
/doc-latex/userguide/userguide.fls
/doc-latex/userguide/userguide.toc
/doc-latex/userguide/userguide.aux
/doc-latex/userguide/userguide.lof
/doc-latex/userguide/userguide.log
/doc-latex/userguide/userguide.lot
/doc-latex/userguide/userguide.out
