/GPATH
/GRTAGS
/GSYMS
/GTAGS
/templates/friction/frictioncontrib.py
/templates/friction/frictioncontrib_wrap.cxx
/templates/materials/materialscontrib.py
/templates/materials/materialscontrib_wrap.cxx
/doc/userguide/userguide.pdf
modulesrc/bc/bc.py
modulesrc/bc/bc_wrap.cxx
modulesrc/faults/faults.py
modulesrc/faults/faults_wrap.cxx
modulesrc/feassemble/feassemble.py
modulesrc/feassemble/feassemble_wrap.cxx
modulesrc/friction/friction.py
modulesrc/friction/friction_wrap.cxx
modulesrc/materials/materials.py
modulesrc/materials/materials_wrap.cxx
modulesrc/meshio/meshio.py
modulesrc/meshio/meshio_wrap.cxx
modulesrc/mpi/mpi.py
modulesrc/mpi/mpi_wrap.cxx
modulesrc/utils/petsc.py
modulesrc/utils/petsc_wrap.cxx
modulesrc/problems/problems.py
modulesrc/problems/problems_wrap.cxx
modulesrc/topology/topology.py
modulesrc/topology/topology_wrap.cxx
modulesrc/utils/utils.py
modulesrc/utils/utils_wrap.cxx
configure
aclocal.m4
Makefile.in
portinfo.in
aux-config
PyLith.egg-info
autom4te.cache
*~
*.pyc
examples/*/*/output/*.vtk
examples/2d/*/output/*.h5
examples/2d/*/output/*.xmf
examples/2d/*/*/output/*.h5
examples/2d/*/*/output/*.xmf
tests_auto/*/*/*.h5
tests_auto/*/*/*.xmf
tests_auto/*/*/*_disp.spatialdb
examples/3d/hex8/output
