[pylithapp]
dump_parameters.filename = output/powerlaw_2d_initstress-parameters.json

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
initial_dt = 0.025*year

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem.materials.powerlaw]
db_auxiliary_field.label = Power-Law PlaneStrain properties
db_auxiliary_field.iohandler.filename = mat_pl2d_refstate.spatialdb

auxiliary_subfields.density.basis_order = 0
auxiliary_subfields.density.quadrature_order = 2

[pylithapp.problem.materials.powerlaw.bulk_rheology]
use_reference_state = True

auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.bulk_modulus.quadrature_order = 2

auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.quadrature_order = 2

auxiliary_subfields.power_law_reference_strain_rate.basis_order = 0
auxiliary_subfields.power_law_reference_strain_rate.quadrature_order = 2

auxiliary_subfields.power_law_reference_stress.basis_order = 0
auxiliary_subfields.power_law_reference_stress.quadrature_order = 2

auxiliary_subfields.power_law_exponent.basis_order = 0
auxiliary_subfields.power_law_exponent.quadrature_order = 2

auxiliary_subfields.viscous_strain.basis_order = 1
auxiliary_subfields.viscous_strain.quadrature_order = 2

auxiliary_subfields.stress.basis_order = 1
auxiliary_subfields.stress.quadrature_order = 2

auxiliary_subfields.reference_stress.basis_order = 1
auxiliary_subfields.reference_stress.quadrature_order = 2

auxiliary_subfields.reference_strain.basis_order = 1
auxiliary_subfields.reference_strain.quadrature_order = 2

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Domain
[pylithapp.problem.solution_observers.domain]
writer.filename = output/powerlaw_2d_initstress-domain.h5

# Materials
[pylithapp.problem.materials.powerlaw.observers.observer]
data_fields = [all]
info_fields = [all]
writer.filename = output/powerlaw_2d_initstress-powerlaw2d.h5

# ----------------------------------------------------------------------
# PETSc options for solution.
# ----------------------------------------------------------------------
[pylithapp.petsc]
snes_max_it = 200
snes_error_if_not_converged = true

# End of file
