[pylithapp.metadata]
arguments = [step05_vpbjacobi_tunecoarse.cfg, step05c_vpbjacobi_tunecoarse.cfg]

[pylithapp.problem]
defaults.name = step05c_vpbjacobi_tunecoarse

[pylithapp.petsc]
log_view = :logs/step05c_vpbjacobi_tunecoarse.py:ascii_info_detail

[pylithapp.mesh_generator]
#refiner = pylith.topology.RefineUniform
#refiner.levels = 2
reader.filename = mesh_tet0625.msh

[pylithapp.problem.scales]
length_scale = 0.625*km
displacement_scale = 0.625*km

[pylithapp.petsc]
ksp_atol = 16.0e-11
snes_atol = 64.0e-11
