[pylithapp.metadata]
arguments = [step05_vpbjacobi_tunecoarse.cfg, step05d_vpbjacobi_tunecoarse.cfg]

[pylithapp.problem]
defaults.name = step05d_vpbjacobi_tunecoarse

[pylithapp.petsc]
log_view = :logs/step05d_vpbjacobi_tunecoarse.py:ascii_info_detail

[pylithapp.mesh_generator]
#refiner = pylith.topology.RefineUniform
#refiner.levels = 3
reader.filename = mesh_tet0312.msh

[pylithapp.problem.scales]
length_scale = 0.312*km
displacement_scale = 0.312*km

[pylithapp.petsc]
ksp_atol = 32.0e-11
snes_atol = 128.0e-11
