[pylithapp.metadata]
description = Benchmark for linear elasticity with 3D strike-slip faults with variable point block Jacobi preconditioner and tuning at the fine level.
base = [pylithapp.cfg]
arguments = [step06_vpbjacobi_dispscale.cfg]

[pylithapp.problem]
defaults.name = step06a_vpbjacobi_dispscale

[pylithapp.problem.scales]
length_scale = 2.5*km
displacement_scale = 1.0*m

[pylithapp.problem.petsc_defaults]
solver = False

[pylithapp.petsc]
pc_type = gamg

# Step 4
dm_reorder_section = True
dm_reorder_section_type = cohesive
mg_fine_pc_type = vpbjacobi
ksp_gmres_restart = 100

mg_fine_ksp_max_it = 5

mg_levels_pc_type = pbjacobi
pc_gamg_agg_nsmooths = 2
pc_gamg_coarse_eq_limit = 200


# Step 6
#dm_reorder_section = True
#dm_reorder_section_type = cohesive
#mg_fine_pc_type = vpbjacobi
#ksp_gmres_restart = 50
#pc_gamg_coarse_eq_limit = 200
#mg_levels_pc_type = pbjacobi
#pc_gamg_agg_nsmooths = 3
#mg_fine_ksp_max_it = 5

#ksp_gmres_restart = 100
#mg_fine_ksp_type = gmres
#mg_fine_ksp_max_it = 10

[pylithapp.metadata]
arguments = [step06_vpbjacobi_dispscale.cfg]

[pylithapp.problem]
defaults.name = step06a_vpbjacobi_dispscale

[pylithapp.petsc]
log_view = :logs/step06a_vpbjacobi_dispscale.py:ascii_info_detail
