[pylithapp.metadata]
arguments = [step05_vpbjacobi_tunecoarse.cfg, step05e_vpbjacobi_tunecoarse.cfg]

[pylithapp.problem]
defaults.name = step05e_vpbjacobi_tunecoarse

[pylithapp.petsc]
log_view = :logs/step05e_vpbjacobi_tunecoarse.py:ascii_info_detail

[pylithapp.mesh_generator]
#refiner = pylith.topology.RefineUniform
#refiner.levels = 4
reader.filename = mesh_tet0156.msh

[pylithapp.problem.scales]
length_scale = 0.156*km
displacement_scale = 0.156*km

[pylithapp.petsc]
ksp_atol = 64.0e-11
snes_atol = 256.0e-11
