[pylithapp.metadata]
arguments = [step04_vpbjacobi_tunefine.cfg, step04c_vpbjacobi_tunefine.cfg]

[pylithapp.problem]
defaults.name = step04c_vpbjacobi_tunefine

[pylithapp.petsc]
log_view = :logs/step04c_vpbjacobi_tunefine.py:ascii_info_detail

[pylithapp.mesh_generator]
#refiner = pylith.topology.RefineUniform
#refiner.levels = 2
reader.filename = mesh_tet0625.msh

[pylithapp.problem.scales]
length_scale = 0.625*km
displacement_scale = 0.625*km

[pylithapp.petsc]
ksp_atol = 16.0e-11
snes_atol = 64.0e-11
