[pylithapp.metadata]
arguments = [step03_vpbjacobi.cfg, step03d_vpbjacobi.cfg]

[pylithapp.problem]
defaults.name = step03d_vpbjacobi

[pylithapp.petsc]
log_view = :logs/step03d_vpbjacobi.py:ascii_info_detail

[pylithapp.problem.mesh_initializer.phases.refine_mesh]
#refiner = pylith.topology.RefineUniform
#refiner.levels = 3
[pylithapp.problem.mesh_initializer.phases.read_mesh]
reader.filename = mesh_tet0312.msh

[pylithapp.problem.scales]
length_scale = 0.312*km
displacement_scale = 0.312*km

[pylithapp.petsc]
ksp_atol = 1.0e-12
snes_atol = 128.0e-11
