[pylithapp.metadata]
arguments = [step03_vpbjacobi.cfg, step03f_vpbjacobi.cfg]

[pylithapp.problem]
defaults.name = step03f_vpbjacobi

[pylithapp.petsc]
log_view = :logs/step03f_vpbjacobi.py:ascii_info_detail

[pylithapp.mesh_generator]
#refiner = pylith.topology.RefineUniform
#refiner.levels = 5
reader.filename = mesh_tet0078.msh

[pylithapp.problem.scales]
length_scale = 0.078*km
displacement_scale = 0.078*km

[pylithapp.petsc]
ksp_atol = 128.0e-11
snes_atol = 512.0e-11
