[pylithapp.metadata]
keywords = [elasticity]
features = [
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    spatialdata.spatialdb.SimpleDB
    ]

# Parameters for using linear elastic material models for the 'slab',
# 'wedge', 'mantle', and 'crust'.
#
# We use a SimpleDB with a single point for each material. We could
# have used a UniformDB, but we will reuse some of these spatial
# databases for the elastic properties when we specify the properties
# for the linear Maxwell viscoelastic models. Additionally, using
# SimpleDB makes it easier to adjust the spatial database file should
# we want to add in a spatial variation to the material properties.

[pylithapp.problem.materials]
slab.bulk_rheology = pylith.materials.IsotropicLinearElasticity
wedge.bulk_rheology = pylith.materials.IsotropicLinearElasticity
crust.bulk_rheology = pylith.materials.IsotropicLinearElasticity
mantle.bulk_rheology = pylith.materials.IsotropicLinearElasticity

# Slab
[pylithapp.problem.materials.slab]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Properties for subducting slab
db_auxiliary_field.iohandler.filename = spatialdb/mat_slab_elastic.spatialdb

observers.observer.field_filter = pylith.meshio.FieldFilterProject
observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# Wedge
[pylithapp.problem.materials.wedge]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Properties for accretionary wedge
db_auxiliary_field.iohandler.filename = spatialdb/mat_wedge_elastic.spatialdb

observers.observer.field_filter = pylith.meshio.FieldFilterProject
observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# Mantle
[pylithapp.problem.materials.mantle]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Properties for mantle
db_auxiliary_field.iohandler.filename = spatialdb/mat_mantle_elastic.spatialdb

observers.observer.field_filter = pylith.meshio.FieldFilterProject
observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# Crust
[pylithapp.problem.materials.crust]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Properties for continental crust
db_auxiliary_field.iohandler.filename = spatialdb/mat_crust_elastic.spatialdb

observers.observer.field_filter = pylith.meshio.FieldFilterProject
observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# End of file
