[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
authors = [Brad Aagaard, Charles Williams]
pylith_version = [>=3.0, <4.0]
keywords = [example, 3D, subduction]
features = [
    Tetrahedral cells,
    pylith.meshio.MeshIOCubit,
    pylith.problems.TimeDependent,
    pylith.meshio.OutputSolnBoundary,
    pylith.meshio.DataWriterHDF5,
    pylith.bc.DirichletTimeDependent,
    pylith.bc.ZeroDB,
    spatialdata.geocoords.CSGeo
    ]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
pylithapp = 1
timedependent = 1
greensfns = 1
petsc = 1
meshiocubit = 1
faultcohesivekin = 1
faultcohesivedyn = 1
materials = 1
mesh_distributor = 1
integratordomain = 1
constraintspatialdb = 1

[pylithapp.journal.debug]
pylithapp = 1
timedependent = 1
integratordomain = 0
constraintspatialdb = 0

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
# We use a mesh from CUBIT/Trelis, so we need to change the reader
# from the default (MeshIOAscii) and set the filename.
[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOCubit
reader.filename = mesh/mesh_tet.exo

# Our mesh uses a local transverse Mercator geographic projection. By
# specifying the projection, we can use other georeferenced coordinate
# systems in spatial databases and the code will automatically
# transform coordinates as necessary.
[pylithapp.mesh_generator.reader]
coordsys = spatialdata.geocoords.CSGeo
coordsys.space_dim = 3
coordsys.crs_string = +proj=tmerc +datum=WGS84 +lon_0=-122.6765 +lat_0=45.5231 +k=0.9996 +units=m

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use the nonlinear solver to verify residual and Jacobian are consistent.
solver = nonlinear

# Set the default quadrature order for all discretizations.
defaults.quadrature_order = 1

# Use FieldFilterProject if basis order of any solution field > 1
#defaults.output_field_filter = pylith.meshio.FieldFilterProject


[pylithapp.problem.solution.subfields]
displacement.basis_order = 1

[pylithapp.problem]
solution_observers = [domain, groundsurf]
solution_observers.groundsurf = pylith.meshio.OutputSolnBoundary

[pylithapp.problem.solution_observers.domain]
trigger.num_skip = 1

[pylithapp.problem.solution_observers.groundsurf]
label = boundary_zpos
trigger.num_skip = 1

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# For have a material for each block we created in CUBIT/Trelis.
#
# We have 4 blocks:
#  - slab (block 1)
#  - wedge (block 2)
#  - mantle (block 3)
#  - crust (block 4)
#
# The material model and parameters are specified in separate files to
# avoid conflicting parameters when we vary the material model from
# the default. See 'mat_elastic.cfg' and 'mat_viscoelastic.cfg'.

[pylithapp.problem]
materials = [slab, wedge, crust, mantle]

[pylithapp.problem.materials.slab]
label = Subducting slab
id = 1

[pylithapp.problem.materials.wedge]
label = Accretionary wedge
id = 2

[pylithapp.problem.materials.mantle]
label = Mantle
id = 3

[pylithapp.problem.materials.crust]
label = Continental crust
id = 4

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# The generic setup is roller boundary conditions on the lateral and
# bottom boundaries. That is, we have zero displacements for the DOF
# normal to the boundary. We can use the default DirichletTimeDependent BC
# with a ZeroDB spatial database to specify zero displacementsfor the
# boundary values.
#
# Array of boundary conditions (defaults to DirichletTimeDependent):
#   bc_xneg (ZeroDB to specify zero x-displacement)
#   bc_xpos (ZeroDB to specify zero x-displacement)
#   bc_yneg (ZeroDB to specify zero y-displacement)
#   bc_ypos (ZeroDB to specify zero y-displacement)
#   bc_zneg (ZeroDB to specify zero z-displacement)
bc = [bc_xneg, bc_xpos, bc_yneg, bc_ypos, bc_zneg]

# The label corresponds to the name of the nodeset in CUBIT.

# -x face
[pylithapp.problem.bc.bc_xneg]
constrained_dof = [0]
label = boundary_xneg
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC on -x

# +x face
[pylithapp.problem.bc.bc_xpos]
constrained_dof = [0]
label = boundary_xpos
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC on +x

# -y face
[pylithapp.problem.bc.bc_yneg]
constrained_dof = [1]
label = boundary_yneg
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC on -y

# +y face
[pylithapp.problem.bc.bc_ypos]
constrained_dof = [1]
label = boundary_ypos
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC on +y

# -z face
[pylithapp.problem.bc.bc_zneg]
constrained_dof = [2]
label = boundary_zneg
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC on -z

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = beuler

pc_type = ml

# Convergence parameters.
ksp_rtol = 1.0e-10
ksp_atol = 1.0e-12
ksp_max_it = 1000
ksp_gmres_restart = 50
ksp_error_if_not_converged = true

snes_rtol = 1.0e-10
snes_atol = 1.0e-10
snes_max_it = 3
snes_error_if_not_converged = true

# Monitors for debugging
ts_monitor = true
ksp_monitor = true
ksp_converged_reason = true
snes_monitor = true
snes_converged_reason = true
snes_linesearch_monitor = true
ksp_view = true
snes_view = true

# PETSc summary -- useful for performance information.
#log_view = true

# start_in_debugger = lldb-mp-7.0


# End of file
