# -*- Config -*- (syntax highlighting)
# ----------------------------------------------------------------------
#
# Brad T. Aagaard, U.S. Geological Survey
# Charles A. Williams, GNS Science
# Matthew G. Knepley, University of Chicago
#
# This code was developed as part of the Computational Infrastructure
# for Geodynamics (http://geodynamics.org).
#
# Copyright (c) 2010-2017 University of California, Davis
#
# See COPYING for license information.
#
# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------
#
# We compute an estimate of the overburden stresses due to
# gravitational body forces and 3-D density variations assuming purely
# linearly, isotropic elastic materials. We use the output of the
# stresses from Step08a as the initial stresses; the initial stresses
# satisfy equilibrium so there is no deformation.
#
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------
#
# Parameter files:
#   - pylithapp.cfg (common paramters, read by default)
#   - step08b.cfg (main parameter file for step08b)
#   - mat_elastic.cfg (material models and parameters)
#   - solver_algebraicmultigrid.cfg (algebraic multigrid solver settings)
#
# This problem does not include a fault, so we use the algebraic
# multigrid settings in solver_algebraicmultigrid.cfg.
#
# BEFORE RUNNING THE SIMULATION, run the Python script that generates
# the spatial database with the initial stresses corresponding to the
# output from Step08a.
#
#   cd spatialdb && generate_initial_stress.py
#
# TO RUN THE SIMULATION:
#   pylith step08b.cfg mat_elastic.cfg solver_algebraicmultigrid.cfg
#
# Output will be directed to the "output" directory.

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step08b-parameters.json
problem.progress_monitor.filename = output/step08b-progress.txt

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set gravity field (default is None).
gravity_field = spatialdata.spatialdb.GravityField

[pylithapp.problem.formulation.time_step]
# Define the total time for the simulation and the time step size.
total_time = 0.0*year
dt = 0.1*year

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# We specify initial stresses for each material via a SimpleDB.
# Since there is a point in the database corresponding to each cell
# center, we keep the default query_type of 'nearest'.
[pylithapp.problem.materials.slab]
db_initial_stress = spatialdata.spatialdb.SimpleDB
db_initial_stress.label = Initial stress in the slab
db_initial_stress.iohandler.filename = spatialdb/mat_initial_stress_grav-slab.spatialdb

[pylithapp.problem.materials.wedge]
db_initial_stress = spatialdata.spatialdb.SimpleDB
db_initial_stress.label = Initial stress in the wedge
db_initial_stress.iohandler.filename = spatialdb/mat_initial_stress_grav-wedge.spatialdb

[pylithapp.problem.materials.mantle]
db_initial_stress = spatialdata.spatialdb.SimpleDB
db_initial_stress.label = Initial stress in the mantle
db_initial_stress.iohandler.filename = spatialdb/mat_initial_stress_grav-mantle.spatialdb

[pylithapp.problem.materials.crust]
db_initial_stress = spatialdata.spatialdb.SimpleDB
db_initial_stress.label = Initial stress in the crust
db_initial_stress.iohandler.filename = spatialdb/mat_initial_stress_grav-crust.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------

# Domain and subdomain output ---------------------------------
[pylithapp.problem.formulation.output.domain]
writer.filename = output/step08b-domain.h5

[pylithapp.problem.formulation.output.subdomain]
writer.filename = output/step08b-groundsurf.h5

# Material output ------------------------------------------------------
[pylithapp.problem.materials.slab.output]
writer.filename = output/step08b-slab.h5

[pylithapp.problem.materials.wedge.output]
writer.filename = output/step08b-wedge.h5

[pylithapp.problem.materials.crust.output]
writer.filename = output/step08b-crust.h5

[pylithapp.problem.materials.mantle.output]
writer.filename = output/step08b-mantle.h5


# End of file
