# -*- Config -*- (syntax highlighting)
# ----------------------------------------------------------------------
#
# Brad T. Aagaard, U.S. Geological Survey
# Charles A. Williams, GNS Science
# Matthew G. Knepley, University of Chicago
#
# This code was developed as part of the Computational Infrastructure
# for Geodynamics (http://geodynamics.org).
#
# Copyright (c) 2010-2017 University of California, Davis
#
# See COPYING for license information.
#
# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------
#
# We simulate postseismic viscoelastic relaxation from coseismic slip
# on a patch in the middle of the top of the slab.
#
# Materials
#   The 'wedge' and 'crust' blocks use the the linear, isotropic
#   elastic material model, whereas the 'slab' and 'mantle' use the
#   linear Maxwell viscoelastic material model (mat_viscoelastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Uniform oblique slip on the slab_top fault rupture patch.
#
# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------
#
# Parameter files:
#   - pylithapp.cfg (common paramters, read by default)
#   - step02_coseismic.cfg (main parameter file for step02)
#   - mat_viscoelastic.cfg (material models and parameters)
#   - solver_fieldsplit.cfg (field split solver settings)
#
# We use the field split preconditioner with algebraic multigrid for
# the displacement fields and the custom preconditioner for the
# Lagrange multiplier field. We use these solver settings in several
# simulations, so we put them in a separate file.
#
# TO RUN THE SIMULATION:
#   pylith step02_coseismic.cfg mat_viscoelastic.cfg solver_fieldsplit.cfg
#
# Output will be directed to the "output" directory.

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step02_coseismic-parameters.json
# problem.progress_monitor.filename = output/step02_coseismic-progress.txt

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Define the total time for the simulation, the start time, and the
# initial time step size.
initial_dt = 10.0*year
start_time = -10.0*year
total_time = 200.0*year

# ----------------------------------------------------------------------
# solution
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the discretization and integration for each of the solution subfields.
#
# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
#
# For a quastistatic simulation with a fault, we have two solution fields:
# (1) displacement and (2) Lagrange multiplier. We use a predefined containter
# to create a solution field with these two subfields.
solution = pylith.problems.SolnDispLagrange

[pylithapp.problem.solution.subfields]
displacement.basis_order = 1
displacement.quadrature_order = 1

lagrange_fault.basis_order = 1
lagrange_fault.quadrature_order = 1

[pylithapp.problem.solution_observers.domain]
writer.filename = output_step02_coseismic-domain.h5

[pylithapp.problem.solution_observers.groundsurf]
writer.filename = output_step02_coseismic-groundsurf.h5

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.problem]
# We prescribe slip on the slab fault patch.
interfaces = [slab_top]

[pylithapp.problem.interfaces]
slab_top = pylith.faults.FaultCohesiveKin ; Default

[pylithapp.problem.interfaces.slab_top]
id = 100
label = fault_slabtop_patch ; Nodeset for the entire fault surface
edge = fault_slabtop_patch_edge ; Nodeset for the buried edges

observers.observer.data_fields = [slip]
observers.observer.writer.filename = output/step02_coseismic-slab_top.h5

# The slip time and final slip are defined in spatial databases.
[pylithapp.problem.interfaces.slab_top.eq_ruptures.rupture]
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = Coseismic slip
db_auxiliary_field.values = [final_slip_left_lateral, final_slip_reverse, final_slip_opening, initiation_time]
db_auxiliary_field.data = [-1.0*m, 4.0*m, 0.0*m, 9.999*year ]

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem.materials.slab]
observers.observer.writer.filename = output/step02_coseismic-slab.h5

[pylithapp.problem.materials.wedge]
observers.observer.writer.filename = output/step02_coseismic-wedge.h5

[pylithapp.problem.materials.crust]
observers.observer.writer.filename = output/step02_coseismic-crust.h5

[pylithapp.problem.materials.mantle]
observers.observer.writer.filename = output/step02_coseismic-mantle.h5

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# -x face
[pylithapp.problem.bc.x_neg]
observers.observer.writer.filename = output/step02_coseismic_bc_xneg.h5

# +x face
[pylithapp.problem.bc.x_pos]
observers.observer.writer.filename = output/step02_coseismic_bc_xpos.h5

# -y face
[pylithapp.problem.bc.y_neg]
observers.observer.writer.filename = output/step02_coseismic_bc_yneg.h5

# +y face
[pylithapp.problem.bc.y_pos]
observers.observer.writer.filename = output/step02_coseismic_bc_ypos.h5

# -z face
[pylithapp.problem.bc.z_neg]
observers.observer.writer.filename = output/step02_coseismic_bc_zneg.h5

# End of file
