[pylithapp.metadata]
# We apply gravitational body forces to our model with heterogeneous
# material properties, and attempt to balance these body forces with
# material properties (density) corresponding to the mantle. In this
# case the forces do not balance and we end up with large vertical
# deformations in the elastic solution.
#
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
base = [pylithapp.cfg, mat_elastic.cfg, solver_algebraicmultigrid.cfg]
description = Gravitational body forces with reference state.
keywords = [gravitational body forces, reference state]
arguments = [step08a_gravity_refstate.cfg, mat_elastic.cfg, solver_algebraicmultigrid.cfg]
version = 2.0.0

features = [
    Static simulation,
    spatialdata.spatialdb.GravityField
    ]

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step08a_gravity_refstate-parameters.json
problem.progress_monitor.filename = output/step08a_gravity_refstate-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step08a_gravity_refstate

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Quasistatic problems do not have a well-defined density (inertia)
# scale. For this static simulation, we adjust the time scale and time
# step to give a density scale close to unity.
initial_dt = 1.0*s
start_time = -1.0*s
end_time = 0.0*s
normalizer.relaxation_time = 1.0*s

gravity_field = spatialdata.spatialdb.GravityField
gravity_field.gravity_dir = [0.0, 0.0, -1.0]

defaults.quadrature_order = 2

[pylithapp.problem.solution.subfields.displacement]
# We reduce the basis order to 1 because we expect little or no
# deformation with incompressible elasticity.
basis_order = 1


# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# The reference stress varies linearly with depth, so we use a
# SimpleDB with two points (data-dim == 1) and linear interpolate
# (query_type == linear).

# Slab
[pylithapp.problem.materials.slab]
db_auxiliary_field.iohandler.filename = spatialdb/mat_slab_elastic_refstate.spatialdb

[pylithapp.problem.materials.slab.bulk_rheology]
use_reference_state = True

auxiliary_subfields.reference_stress.basis_order = 1
auxiliary_subfields.reference_strain.basis_order = 0


# Wedge
[pylithapp.problem.materials.wedge]
db_auxiliary_field.iohandler.filename = spatialdb/mat_wedge_elastic_refstate.spatialdb

[pylithapp.problem.materials.wedge.bulk_rheology]
use_reference_state = True

auxiliary_subfields.reference_stress.basis_order = 1
auxiliary_subfields.reference_strain.basis_order = 0


# Mantle
[pylithapp.problem.materials.mantle]
db_auxiliary_field.iohandler.filename = spatialdb/mat_mantle_elastic_refstate.spatialdb

[pylithapp.problem.materials.mantle.bulk_rheology]
use_reference_state = True

auxiliary_subfields.reference_stress.basis_order = 1
auxiliary_subfields.reference_strain.basis_order = 0


# Crust
[pylithapp.problem.materials.crust]
db_auxiliary_field.iohandler.filename = spatialdb/mat_crust_elastic_refstate.spatialdb

[pylithapp.problem.materials.crust.bulk_rheology]
use_reference_state = True

auxiliary_subfields.reference_stress.basis_order = 1
auxiliary_subfields.reference_strain.basis_order = 0


# End of file
