[pylithapp]
# Quasistatic simulation with time-dependent simple shear using
# Dirichlet and Neumann boundary conditions.
#
# To the initial values for the Dirichlet and Neumann time-dependent
# boundary conditions in step03, we add a uniform rate starting at
# time 1.0*year.
#
#             --->
#          ----------
#          |        |
#        | |        | ^
#        v |        | |
#          |        |
#          ----------
#             <--
#
# Dirichlet boundary conditions
#
# boundary_xneg:
#   Ux = a*y + a*y/4*H(t-1.0*year)
#   Uy = a*x + a*x/4*H(t-1.0*year)
# boundary_yneg:
#   Ux = a*y + a*y/4*H(t-1.0*year)
#   Uy = a*x + z*y/4*H(t-1.0*year)
# boundary_zneg:
#   Uz=0
#
# Neumann boundary conditions
#
# Note that the components are given in terms of the tangential 1 (t =
# z x n), tangential 2 (n x tangential 1) and (outward) normal
# directions.
#
# boundary_xpos:
#   Tt1 = +b + b/4*H(t-1.0*year)
#   Tt2 = 0
#   Tn = 0
# boundary_ypos:
#   Tt1 = -b + b/4*H(t-1.0*year)
#   Tt2 = 0
#   Tn = 0

[pylithapp]
# File with version information and parameters (including defaults).
#
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step05_sheardisptractrate-parameters.json

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
initial_dt = 1.0*year
start_time = -1.0*year
total_time = 5.0*year

[pylithapp.problem.normalizer]
relaxation_time = 10.0*year

# ----------------------------------------------------------------------
# solution
# ----------------------------------------------------------------------
[pylithapp.problem.solution.subfields.displacement]
# The solution has uniform strain, so displacement field is linear, so
# basis order of 1 should give exact solution.
basis_order = 1
quadrature_order = 1

[pylithapp.problem.solution_observers.domain]
writer.filename = output/step05_sheardisptractrate-domain.h5

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem.materials.elastic]
# Set the name of the file for material related output.
observers.observer.writer.filename = output/step05_sheardisptractrate-elastic.h5

[pylithapp.problem.solution_observers.ground_surface]
writer.filename = output/step05_sheardisptractrate-groundsurf.h5

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# We have three Dirichlet and two Neumann boundary conditions as described above.
bc = [x_neg, x_pos, y_neg, y_pos, z_neg]
bc.x_neg = pylith.bc.DirichletTimeDependent
bc.y_neg = pylith.bc.DirichletTimeDependent
bc.x_pos = pylith.bc.NeumannTimeDependent
bc.y_pos = pylith.bc.NeumannTimeDependent
bc.z_neg = pylith.bc.DirichletTimeDependent

# Degrees of freedom:
#   x: 0
#   y: 1
#   z: 2
#
# The 'label' corresponds to the name of the nodeset we created in
# CUBIT/Trelis in bc.jou.

# Dirichlet boundary conditions
#
# Turn on use of initial (default) and rate terms in the
# time-dependent expression using 'use_initial' and 'use_rate'.
[pylithapp.problem.bc.x_neg]
constrained_dof = [1]
label = boundary_xneg
use_initial = True
use_rate = True
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Dirichlet BC -x edge
db_auxiliary_field.iohandler.filename = sheardisprate_bc_xneg.spatialdb
db_auxiliary_field.query_type = linear

observers.observer.writer.filename = output/step05_sheardisptractrate-bc_xneg.h5

[pylithapp.problem.bc.y_neg]
constrained_dof = [0]
label = boundary_yneg
use_initial = True
use_rate = True
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Dirichlet BC -y edge
db_auxiliary_field.iohandler.filename = sheardisprate_bc_yneg.spatialdb
db_auxiliary_field.query_type = linear

observers.observer.writer.filename = output/step05_sheardisptractrate-bc_yneg.h5

[pylithapp.problem.bc.z_neg]
constrained_dof = [2]
label = boundary_zneg
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC -z boundary

observers.observer.writer.filename = output/step05_sheardisptractrate-bc_zneg.h5


# Neumann boundary conditions
#
# The tractions are uniform, so we use a UniformDB.
[pylithapp.problem.bc.x_pos]
label = boundary_xpos
use_initial = True
use_rate = True
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = Neumann BC +x edge
db_auxiliary_field.values = [initial_amplitude_tangential_1, initial_amplitude_tangential_2, initial_amplitude_normal, rate_start_time, rate_amplitude_tangential_1, rate_amplitude_tangential_2, rate_amplitude_normal]
db_auxiliary_field.data = [+9.0*MPa, 0.0*MPa, 0.0*MPa, 1.0*year, 2.25*MPa/year, 0.0*MPa/year, 0.0*MPa/year]

observers.observer.writer.filename = output/step05_sheardisptractrate-bc_xpos.h5

[pylithapp.problem.bc.y_pos]
label = boundary_ypos
use_initial = True
use_rate = True
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = Neumann BC +y edge
db_auxiliary_field.values = [initial_amplitude_tangential_1, initial_amplitude_tangential_2, initial_amplitude_normal, rate_start_time, rate_amplitude_tangential_1, rate_amplitude_tangential_2, rate_amplitude_normal]
db_auxiliary_field.data = [-9.0*MPa, 0.0*MPa, 0.0*MPa, 1.0*year, -2.25*MPa/year, 0.0*MPa/year, 0.0*MPa/year]

observers.observer.writer.filename = output/step05_sheardisptractrate-bc_ypos.h5


# End of file
