[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
#
#             -----------
#             |    |    |
# Vy = 1 cm/yr|    |    | Vy = -1 cm/yr
# Ux = 0      |    |    | Ux = 0
#             |    |    |
#             -----------
#
# Dirichlet boundary conditions
#
# boundary_xneg: Ux = 0, Vy = 1 cm/yr
# boundary_xpos: Ux = 0, Vy = -1 cm/yr
#
# Fault has uniform slip of 2 m at t = 100 year.
base = [pylithapp.cfg]
description = Coseismic prescribed slip with velocity Dirichlet boundary conditions.
authors = [Brad Aagaard]
keywords = [prescribed slip, velocity boundary conditions]
arguments = [step02_slip_velbc.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    Quasi-static simulation,
    spatialdata.spatialdb.SimpleDB
    ]

# ----------------------------------------------------------------------
# Monitoring and parameter viewing.
# ----------------------------------------------------------------------
[pylithapp]
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step02_slip_velbc-parameters.json
problem.progress_monitor.filename = output/step02_slip_velbc-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step02_slip_velbc

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# For time-dependent problems, we specify start and end times and an initial
# time step. With an initial time step of 5 years, we use a start time of
# -5 years so that the first solution occurs at 0 years.
initial_dt = 5.0*year
start_time = -5.0*year
end_time = 120.0*year

# ----------------------------------------------------------------------
# fault
# ----------------------------------------------------------------------
# Earthquake rupture of 2.0*m of right-lateral motion occurs at 100 years.
# We use the default slip-time function, which is a step function.
[pylithapp.problem.interfaces.fault.eq_ruptures.rupture]
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.values = [initiation_time, final_slip_left_lateral, final_slip_opening]
db_auxiliary_field.data = [100.0*year, -2.0*m, 0.0*m]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# We have velocity boundary conditions, so we use the rate term in the
# expression for time-dependent boundary conditions.
#
# We turn off the initial amplitude term in the time-dependent expression,
# and turn on the constant rate term.
#
# Even though the velocity boundary conditions are uniform, we use a `SimpleDB`
# spatial database, which is stored in a file` to make it easy to apply
# the same velocity boundary conditions in Step 3.
[pylithapp.problem.bc.bc_xpos]
use_initial = False
use_rate = True

db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Dirichlet BC +x boundary
db_auxiliary_field.iohandler.filename = disprate_bc_xpos.spatialdb

[pylithapp.problem.bc.bc_xneg]
use_initial = False
use_rate = True

db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Dirichlet BC -x boundary
db_auxiliary_field.iohandler.filename = disprate_bc_xneg.spatialdb


# End of file
