[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
#
#             -----------
#             |    |    |
# Ux, Uy= 0   |    |    | Ux, Uy= 0
#             |    |    |
#             |    |    |
#             -----------
#
# Dirichlet boundary conditions
#
# boundary_xneg: Ux = Uy = 0
# boundary_xpos: Ux = Uy = 0
#
# Compute static Green's functions for slip impulses from -25 km <= y <= +25 km.
base = [pylithapp.cfg]
description = "Static Green's functions for fault slip"
authors = [Brad Aagaard]
keywords = ["Green's functions"]
arguments = [step05_greensfns.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    "Green's functions",
    Fault slip impulses
    ]

# ----------------------------------------------------------------------
# Monitoring and parameter viewing.
# ----------------------------------------------------------------------
[pylithapp]
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step05_greensfns-parameters.json
problem.progress_monitor.filename = output/step05_greensfns-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step05_greensfns

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on journal information for Green's function problem.
[pylithapp.journal.info]
greensfns = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp]
# Change the problem type to GreensFns.
problem = pylith.problems.GreensFns

[pylithapp.greensfns]
# Specify the fault on which to impose slip impulses.
# The `label` and `label_value` correspond to the name and tag of the
# physical group in the Gmsh Python script.
label = fault
label_value = 20

[pylithapp.problem]
# We add output at our fake GPS stations that we will use to invert for the slip.
solution_observers = [domain, top_boundary, bot_boundary, gps_stations]
solution_observers.gps_stations = pylith.meshio.OutputSolnPoints

[pylithapp.problem.solution_observers.gps_stations]
# The label is combined with the simulation name to provide a default name for output files.
label = gps_stations
reader.filename = gps_stations.txt
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# fault
# ----------------------------------------------------------------------
[pylithapp.problem.interfaces]
# To create slip impulses for Green's functions we use a special fault type.
fault = pylith.faults.FaultCohesiveImpulses

[pylithapp.problem.interfaces.fault]
# Limit Green's functions to left-lateral slip (dof=1)
impulse_dof = [1]

# We use a spatial database to specify the region of the fault where we want
# slip impulses for Green's functions.
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.iohandler.filename = slip_impulses.spatialdb

# Currently, only basis order = 1 results in appropriate output for inversion.
auxiliary_subfields.slip.basis_order = 1


# End of file
