[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
keywords = [example, 2D, ricker]
features = [
    Dynamic simulation,
    Implicit-explicit formulation,
    Quadrilateral cells,
    Runge-Kutta time stepping,
    pylith.meshio.MeshIOCubit,
    pylith.problems.TimeDependent,
    pylith.materials.Poroelasticity,
    pylith.materials.IsotropicLinearPoroelasticity,
    spatialdata.spatialdb.UniformDB,
    pylith.meshio.DataWriterHDF5,
    spatialdata.units.NondimElasticDynamic
    ]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal]
device = color-console

[pylithapp.journal.info]
timedependent = 1
solution = 1
meshiocubit = 1

[pylithapp.journal.debug]
timedependent = 0

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
# Set the reader to match the type of mesh file.
reader = pylith.meshio.MeshIOCubit
reader.filename = mesh_quad.exo

# Set the Cartesian coordinate system.
reader.coordsys.space_dim = 2


# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use the nonlinear solver to verify residual and Jacobian are consistent.
solver = nonlinear
formulation = dynamic

# Nondimensionalize problem using wave propagation parameters.
normalizer = spatialdata.units.NondimElasticDynamic
normalizer.mass_density = 2500.0*kg/m**3
normalizer.shear_wave_speed = 1.0*km/s
normalizer.wave_period = 0.5*s

defaults.quadrature_order = 1

solution = pylith.problems.SolnDispPresVel

start_time = 0.0*s
end_time = 0.5*s
initial_dt = 0.001*s

[pylithapp.problem.solution.subfields]
displacement.basis_order = 2
pressure.basis_order = 1
velocity.basis_order = 1

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# Create an array of three materials, matching the number of blocks we
# created in CUBIT/Trelis.
[pylithapp.problem]
materials = [domain, intrusion]
materials.domain = pylith.materials.Poroelasticity
materials.intrusion = pylith.materials.Poroelasticity


[pylithapp.problem.materials]
domain.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity
intrusion.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity

[pylithapp.problem.materials.domain]

# id must match the values in the mesh material-ids.
description = Poroelastic domain
label_value = 1

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroelastic properties
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, isotropic_permeability]
db_auxiliary_field.data   = [ 2500*kg/m**3,  1000*kg/m**3,      0.001*Pa*s,     0.01,        6e9*Pa,              10e9*Pa,              1.0,             2e9*Pa,            20e9*Pa,             1e-14*m**2]


auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1

[pylithapp.problem.materials.domain.bulk_rheology]

auxiliary_subfields.drained_bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.biot_coefficient.basis_order = 0
auxiliary_subfields.biot_modulus.basis_order = 0
auxiliary_subfields.isotropic_permeability.basis_order = 0

# -------------------------------------------------------------
[pylithapp.problem.materials.intrusion]

# id must match the values in the mesh material-ids.
description = Poroelastic intrusion
label_value = 2

# We will use uniform material properties, so we use the UniformDB
# spatial database.
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Poroelastic properties
db_auxiliary_field.values = [solid_density, fluid_density, fluid_viscosity, porosity, shear_modulus, drained_bulk_modulus, biot_coefficient, fluid_bulk_modulus, solid_bulk_modulus, isotropic_permeability]
db_auxiliary_field.data   = [ 2500*kg/m**3,  1000*kg/m**3,      0.001*Pa*s,     0.05,        6e9*Pa,              10e9*Pa,              0.8,             2e9*Pa,            20e9*Pa,             1e-14*m**2]

auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1

[pylithapp.problem.materials.intrusion.bulk_rheology]

auxiliary_subfields.drained_bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.biot_coefficient.basis_order = 0
auxiliary_subfields.biot_modulus.basis_order = 0
auxiliary_subfields.isotropic_permeability.basis_order = 0

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = rk
ts_rk_type = 3bs
ts_adapt_dt_max = 0.1

ksp_rtol = 1.0e-8
ksp_atol = 1.0e-12
ksp_max_it = 30
ksp_gmres_restart = 50
ksp_error_if_not_converged = true

snes_rtol = 1.0e-10
snes_atol = 1.0e-10
snes_error_if_not_converged = true

# Monitors for debugging
ts_monitor = true

# End of file
