# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the dynamic
# fault (friction interface) simulations in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on progress for the dynamic fault.
[pylithapp.journal.info]
faultcohesivedyn = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Switch to a lumped Jacobian matrix.
formulation = pylith.problems.ExplicitLumped

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc]
# Change the default Dirichlet BC to the AbsorbingDampers BC
x_pos = pylith.bc.AbsorbingDampers
x_neg = pylith.bc.AbsorbingDampers

[pylithapp.timedependent.bc.x_pos]
# Absorbing BC on +x face of bar

# Name of nodeset in CUBIT
label = face_xpos

# Specify label and filename for spatial database with physical properties
db.label = Absorbing BC +x
db.iohandler.filename = matprops.spatialdb

# Specify the basis functions and quadrature:
# 1-D Lagrange cell in 2-D space with 2nd order quadrature
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1
quadrature.cell.quad_order = 2

[pylithapp.timedependent.bc.x_neg]
# Absorbing BC on -x face of bar

# Name of nodeset in CUBIT
label = face_xneg

# Specify label and filename for spatial database with physical properties
db.label = Absorbing BC -x
db.iohandler.filename = matprops.spatialdb

# Specify the basis functions and quadrature:
# 1-D Lagrange cell in 2-D space with 2nd order quadrature
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1
quadrature.cell.quad_order = 2

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
# Change fault to dynamic fault interface.
fault = pylith.faults.FaultCohesiveDyn

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault.output]
# Add slip rate to the default output fiels of slip and traction.
vertex_data_fields=[slip,slip_rate,traction]
