# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------

# Use constant initial tractions on the fault to drive fault slip
# subject to rate- and state-friction on the fault. Deformation
# propagates to the edges of the bar where it is absorbed using
# absorbing dampers boundary conditions. The steady state solution is
# a constant slip rate on the fault with uniform strain in the bar.

# ----------------------------------------------------------------------
# RUNNING THE SIMULATION
# ----------------------------------------------------------------------

# This is not a self-contained simulation configuration file. This
# file only specifies the specific parameters for an explicit
# time-stepping problem using a dynamic fault interface condition with
# static friction.
#
# To run the simulation:
# pylith dynamicfault.cfg staticfriction.cfg
#
# Output will be directed to the directory output.

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault]

# Use rate- and state-friction with the ageing law for evolution of
# the state variable.
friction = pylith.friction.RateStateAgeing
friction.label = Rate and state

# Set the friction model parameters.
#  reference coefficient of friction: 0.6
#  reference slip rate: 1.0e-06 m/s
#  slip weakening parameter: 0.037 m
#  a: 0.0125
#  b: 0.0172
#  cohesion: 0 Pa
friction.db_properties = spatialdata.spatialdb.UniformDB
friction.db_properties.label = Rate State Ageing
friction.db_properties.values = [reference-friction-coefficient,reference-slip-rate,characteristic-slip-distance,constitutive-parameter-a,constitutive-parameter-b,cohesion]
friction.db_properties.data = [0.6,1.0e-6*m/s,0.0370*m,0.0125,0.0172,0.0*Pa]

# Set spatial database for the initial value of the state variable.
friction.db_initial_state = spatialdata.spatialdb.UniformDB
friction.db_initial_state.label = Rate State Ageing State
friction.db_initial_state.values = [state-variable]
friction.db_initial_state.data = [92.7*s]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Set filenames for output.
[pylithapp.problem.formulation.output.output]
writer.filename = output/ratestateageing.vtk

[pylithapp.timedependent.interfaces.fault.output]
writer.filename = output/ratestateageing-fault.vtk

[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/ratestateageing-statevars.vtk
