# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the dynamic
# fault (friction interface) simulations in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on progress for the dynamic fault.
[pylithapp.journal.info]
faultcohesivedyn = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Overwrite the use of explicit time stepping with a full Jacobian
# matrix set in pylithapp.cfg with a lumped Jacobian matrix. The
# lumped Jacobian reduces memory use and uncouples the degrees of
# freedom in the solve, permitting use of a very fast, simple solver.
formulation = pylith.problems.ExplicitLumped

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
# Change fault to dynamic fault interface.
fault = pylith.faults.FaultCohesiveDyn

[pylithapp.timedependent.interfaces.fault]
# Specify the initial tractions on the fault using a uniform DB.
#  shear: 6.1 MPa (right-lateral)
#  normal 10 MPa (compressive)
db_initial_tractions = spatialdata.spatialdb.UniformDB
db_initial_tractions.label = Initial fault tractions
db_initial_tractions.values = [traction-shear,traction-normal]
db_initial_tractions.data = [-6.1*MPa, -10.0*MPa]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault.output]
vertex_info_fields=[initial_traction]
vertex_data_fields=[slip,slip_rate,traction]
skip = 1
writer.time_format = %05.2f
