# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the dynamic
# fault (friction interface) simulations in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
faultcohesivedyn = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Switch to a lumped Jacobian matrix.
formulation = pylith.problems.ExplicitLumped

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc]
# Change the DirichletPoints BC to the AbsorbingDampers BC
x_pos = pylith.bc.AbsorbingDampers
x_neg = pylith.bc.AbsorbingDampers

[pylithapp.timedependent.bc.x_pos]
# Absorbing BC on +x face of bar

# Nodeset id from CUBIT
label = 11

# Specify label and filename for spatial database with physical properties
db.label = Absorbing BC +x
db.iohandler.filename = matprops.spatialdb

# Specify the basis functions and quadrature:
# 1-D Lagrange cell in 2-D space with 2nd order quadrature
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1
quadrature.cell.quad_order = 2

[pylithapp.timedependent.bc.x_neg]
# Absorbing BC on -x face of bar

# Nodeset id from CUBIT
label = 12

# Specify label and filename for spatial database with physical properties
db.label = Absorbing BC -x
db.iohandler.filename = matprops.spatialdb

# Specify the basis functions and quadrature:
# 1-D Lagrange cell in 2-D space with 2nd order quadrature
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1
quadrature.cell.quad_order = 2

[pylithapp.timedependent.bc.all_nofault]
# Dirichlet BC on all vertices except fault vertices

# Pin x and z degrees of freedom
bc_dof = [0]

# Nodeset id from CUBIT
label = 13

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
# Change fault to dynamic fault interface.
fault = pylith.faults.FaultCohesiveDyn

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]

# Friction sensitivity solve
friction_pc_type = asm
friction_sub_pc_factor_shift_type = nonzero
friction_ksp_max_it = 25
friction_ksp_gmres_restart = 30
# Uncomment to view details of friction sensitivity solve.
#friction_ksp_monitor = true
#friction_ksp_view = true
friction_ksp_converged_reason = true

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault.output]
# Add slip rate to the default output fiels of slip and traction.
vertex_data_fields=[slip,slip_rate,traction]
