[pylithapp]

# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------

# Impose 1.0 m of left-lateral slip at time 0.1 s with slip rate
# following Brune's far-field time function. The rise time (95% of the
# final slip) is 2.0 s.
#
# The fault slip causes a shear wave to propagate down the bar. The
# shear wave is absorbed at the lateral ends of the bar using the
# absorbing dampers boundary condition.

# ----------------------------------------------------------------------
# RUNNING THE SIMULATION
# ----------------------------------------------------------------------

# This is not a self-contained simulation configuration file. This
# file only specifies the specific parameters for an explicit
# time-stepping problem using a fault with prescribed rupture.
#
# To run the simulation:
# pylith prescribedrup.cfg

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on progress for the prescribed rupture fault.
[pylithapp.journal.info]
faultcohesivekin = 1

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
fault = pylith.faults.FaultCohesiveKin

[pylithapp.timedependent.interfaces.fault]
# Switch to Brune slip time function
eq_srcs.rupture.slip_function = pylith.faults.BruneSlipFn

[pylithapp.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]

# Database specifying the final slip.
slip.label = Final slip
slip.iohandler.filename = prescribedrup_slip.spatialdb

# Database specifying rise_time.
rise_time.label = Rise time
rise_time.iohandler.filename = prescribedrup_risetime.spatialdb

# Database specifying time at which slip begins at each point.
slip_time.label = Slip initiation time
slip_time.iohandler.filename = prescribedrup_sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Set the filename for each type of output.

# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.output]
writer.filename = output/prescribedrup.vtk

# Give basename for VTK fault output.
[pylithapp.timedependent.interfaces.fault.output]
writer.filename = output/prescribedrup-fault.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/prescribedrup-statevars.vtk
