# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------

# This is not a self-contained simulation configuration file. This
# file only specifies the specific parameters for an explicit
# time-stepping problem using a dynamic fault interface condition with
# linear slip-weakening friction.
#
# To run the simulation:
# pylith dynamicfault.cfg shearwave_slipweakening.cfg
#
# Output will be directed to the directory output.

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault]

db_initial_tractions = spatialdata.spatialdb.UniformDB
db_initial_tractions.label = Initial fault tractions
db_initial_tractions.values = [traction-shear,traction-normal]
db_initial_tractions.data = [-6.1*MPa, -10.0*MPa]

friction = pylith.friction.SlipWeakening

friction.db_properties = spatialdata.spatialdb.UniformDB
friction.db_properties.label = Slip weakening
friction.db_properties.values = [static-coefficient,dynamic-coefficient,slip-weakening-parameter,cohesion]
friction.db_properties.data = [0.6,0.5,0.2*m,0.0*Pa]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output]
writer.filename = output/shearwave-slipweakening.vtk

[pylithapp.timedependent.interfaces.fault.output]
writer.filename = output/shearwave-slipweakening-fault.vtk

# Add friction model parameters to fault info file in addition to
# default values.
vertex_info_fields = [strike_dir,normal_dir,initial_traction,static_coefficient,dynamic_coefficient,slip_weakening_parameter,cohesion]

# Add output of state variables cumulative slip and previous slip to default
# values.
vertex_data_fields = [slip,traction,cumulative_slip,previous_slip]


[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/shearwave-slipweakening-statevars.vtk
