[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the dynamic
# fault (friction interface) simulations in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on progress for the dynamic fault.
[pylithapp.journal.info]
faultcohesivedyn = 1

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
# Change fault to dynamic fault interface.
fault = pylith.faults.FaultCohesiveDyn

[pylithapp.timedependent.interfaces.fault]
# Specify the initial tractions on the fault using a uniform DB.
#  shear: 6.1 MPa (right-lateral)
#  normal 10 MPa (compressive)
traction_perturbation = pylith.faults.TractPerturbation

[pylithapp.timedependent.interfaces.fault.traction_perturbation]
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Initial fault tractions
db_initial.values = [traction-shear,traction-normal]
db_initial.data = [-6.1*MPa, -10.0*MPa]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault.output]
vertex_info_fields=[traction_initial_value]
vertex_data_fields=[slip,slip_rate,traction]
skip = 1
writer.time_format = %05.2f
