# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------

# This is not a self-contained simulation configuration file. This
# file only specifies the specific parameters for a static problem
# with fault slip controlled by a fault constitutive model.
#
# To run the simulation:
# pylith static_sliding.cfg
#
# Output will be directed to the directory output.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
faultcohesivedyn = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Change to an implicit time-stepping formulation and the nonlinear
# solver.
formulation = pylith.problems.Implicit
formulation.solver = pylith.problems.SolverNonlinear

# Set bc to an array with 3 boundary conditions: 'x_neg', 'x_pos', and 'y_pos'.
bc = [x_pos,x_neg,all_nofault]

[pylithapp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc]
# Switch from absorbing boundary condition to Dirichlet BC.
x_pos = pylith.bc.DirichletBC
x_neg = pylith.bc.DirichletBC

[pylithapp.timedependent.bc.x_pos]
# Dirichlet BC on +x face of bar

# Nodeset id from CUBIT
label = 11

bc_dof = [1]
db_initial = spatialdata.spatialdb.UniformDB
db_initial.label = Dirichlet BC +x edge
db_initial.values = [displacement-x,displacement-y]
db_initial.data = [0.0*m,320.0*m]

[pylithapp.timedependent.bc.x_neg]
# Dirichlet BC on -x face of bar

# Nodeset id from CUBIT
label = 12

bc_dof = [1]

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------x
# Provide information on the fault (interface).
[pylithapp.timedependent.interfaces.fault]

db_initial_tractions = spatialdata.spatialdb.UniformDB
db_initial_tractions.label = Initial fault tractions
db_initial_tractions.values = [traction-shear,traction-normal]
db_initial_tractions.data = [0.0*MPa, -100.0*MPa]

friction = pylith.friction.StaticFriction

friction.db_properties = spatialdata.spatialdb.UniformDB
friction.db_properties.label = Static friction
friction.db_properties.values = [friction-coefficient,cohesion]
friction.db_properties.data = [0.6*m,0.0*Pa]

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]

# Friction sensitivity solve
friction_pc_type = asm
friction_sub_pc_factor_shift_type = nonzero
friction_ksp_max_it = 25
friction_ksp_gmres_restart = 30
# Uncomment to view details of friction sensitivity solve.
#friction_ksp_monitor = true
#friction_ksp_view = true
friction_ksp_converged_reason = true

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Set filenames for output.
[pylithapp.problem.formulation.output.output]
writer.filename = output/static_sliding.vtk

[pylithapp.timedependent.interfaces.fault.output]
writer.filename = output/static_sliding-fault.vtk

# Add slip rate to the default output fiels of slip and traction.
vertex_data_fields=[slip,slip_rate,traction]

[pylithapp.timedependent.materials.elastic.output]
writer.filename = output/static_sliding-statevars.vtk
