# -*- Python -*-
[savpres_ss]

# Top-level info
elas_thick = 40.0*km
lock_depth = 20.0*km
recurrence_time = 200.0*year
viscosity = 9.46728e19*Pa*s
shear_modulus = 30.0*GPa
plate_velocity = 1.0*cm/year
number_cycles = 10
number_steps = 10
number_terms = 50
number_points = 100
delta_x = 5.0*km
x_epsilon = 0.01*m
vtk_basename = savageprescott.vtk
csv_filename = savageprescott.csv
time_units = 1.0*year
time_stamp_width = 4
title = Test model with D = 20 km, H = 40 km, and tau0 = 1.0.
