[savpres_ss]

# Top-level info
elas_thick = 40.0*km
lock_depth = 20.0*km
recurrence_time = 200.0*year
viscosity = 4.73364e+19*Pa*s
shear_modulus = 30.0*GPa
plate_velocity = 2.0*cm/year

number_cycles = 10
number_steps = 40
number_terms = 100
number_points = 400
delta_x = 5.0*km
x_epsilon = 0.01*m

output_displ_vtk = False
output_vel_vtk = False
output_displ_csv = True
output_vel_csv = True
# displ_vtk_basename = vtk_results/savpres_displ.vtk
displ_csv_filename = savpres_displ.csv
# vel_vtk_basename = vtk_results/savpres_vel.vtk
vel_csv_filename = savpres_vel.csv

# Convert meters to cm and m/s to cm/year
displ_scale_factor = 100.0
vel_scale_factor = 3.15576e9

# Use km for output coordinates
coord_scale_factor = 0.001
coord_units = km

time_units = 1.0*year
time_stamp_width = 4
title = Test model with D = 20 km, H = 40 km, and tau0 = 0.5.
