[pylith3d]
# PETSc options
log_summary = true
pc_type = bjacobi
sub_pc_type = ilu
ksp_monitor = true
ksp_view = true
ksp_rtol = 1.0e-9
# start_in_debugger = true
# debugger_pause = 100

[pylith3d.scanner]
fileRoot = bctest
asciiOutput = full
ucdOutput = ascii
