[pylithapp.metadata]
base = [pylithapp.cfg]
keywords = [triangular cells]
arguments = [step01_tri.cfg]

[pylithapp]
dump_parameters.filename = output/step01_tri-parameters.json
problem.progress_monitor.filename = output/step01_tri-progress.txt

problem.defaults.name = step01_tri

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = mesh_tri.exo

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
defaults.quadrature_order = 2

# Use nonlinear solver to ensure residual and Jacobian are consistent.
solver = nonlinear

solution = pylith.problems.SolnDispPresTracStrain

[pylithapp.timedependent]
start_time = 0.0*s

initial_dt = 0.1*s
end_time = 20.0*s

# End of file
