[pylithapp.metadata]
base = [pylithapp.cfg]
keywords = [triangular cells]
arguments = [step00_disk.cfg]

[pylithapp]
dump_parameters.filename = output/step00_disk-parameters.json
problem.progress_monitor.filename = output/step00_disk-progress.txt

problem.defaults.name = step00_disk

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = mesh.exo

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
defaults.quadrature_order = 2

# Use nonlinear solver to ensure residual and Jacobian are consistent.
solver = nonlinear

solution = pylith.problems.SolnDispPresTracStrain

[pylithapp.timedependent]
start_time = 0.0*s

initial_dt = 1.0*s
end_time = 1000.0*s

# End of file
