[gfgen]

# Configuration file for gfgen.py application.
# The application sets up impulses for generating Green's functions using
# PyLith.

fault_info_file = gftest-initial-fault_info.vtk
spatialdb_output_root = gfspatialdb/gfimpulse
slip_time_spatialdb = sliptime.spatialdb
metadata_output_file = gftest-metadata.txt
config_output_file = gftest.cfg
impulse_type = left-lateral-slip
impulse_value = 1.0*cm
impulse_number_width = 4
