[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies output information for Green's function impulses
# and responses. Additional information is contained in pylithapp.cfg,
# which is read by default, and in gftest.cfg, which is created by the
# gfgen.py application.
#
# To generate Green's functions:
# pylith gftest.cfg gfoutput.cfg

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain]
skip = 2000
writer.filename = gftest.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = face_zpos ; nodeset for subdomain
skip = 0
writer.filename = gfresponses/gfresponse.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for vtk fault rupture output.
[pylithapp.timedependent.interfaces.fault.output]
vertex_info_fields = [normal_dir,strike_dir,dip_dir]
skip = 0
writer.filename = gfimpulses/gfimpulse.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic_upper.output]
skip = 2000
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = gftest-elastic_upper.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.elastic_lower.output]
skip = 2000
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = gftest-elastic_lower.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year
