# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary and
# interface conditions. The general parameters are specificed in the
# pylithapp.cfg file which PyLith reads by default.
#
# To run the simulation:
# pylith gftest.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set bc to an array of 3 boundary conditions: 'x_pos','x_neg', and 'z_neg'.
bc = [x_pos,x_neg,z_neg]

# Set interfaces to an array of 1 fault: 'fault'.
interfaces = [fault]

[pylithapp.timedependent.implicit.time_step]
# Define the total time for the simulation and the time step size.
# Overwrite values in pylithapp.cfg
total_time = 13.0*year ; total time of simulation
dt = 1.0*year ; time step

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------

# We change spatial database for the rate of change from FixedDOFDB
# (which has zero velocity) to UniformDB (which allows nonzero
# velocities).

# Set the parameters for the desired boundary conditions.
#
# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0, 1]
label = 11
db.label = Dirichlet BC on +x

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1]
label = 12
db.label = Dirichlet BC on -x

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = 15
db.label = Dirichlet BC on -z

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]

# Set the parameters for the fault interface conditions.

[pylithapp.timedependent.interfaces.fault]
label = 10
quadrature = pylith.feassemble.quadrature.Quadrature2Din3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2

output.vertex_info_fields = [normal_dir,strike_dir,dip_dir,final_slip_00,final_slip_01,final_slip_02,final_slip_03,final_slip_04,final_slip_05,final_slip_06,final_slip_07,final_slip_08,final_slip_09,final_slip_10,final_slip_11,final_slip_12,final_slip_13,slip_time_00,slip_time_01,slip_time_02,slip_time_03,slip_time_04,slip_time_05,slip_time_06,slip_time_07,slip_time_08,slip_time_09,slip_time_10,slip_time_11,slip_time_12,slip_time_13]

# Set earthquake ruptures
eq_srcs = [00,01,02,03,04,05,06,07,08,09,10,11,12,13]
eq_srcs.00.origin_time = 0.0*year
eq_srcs.01.origin_time = 1.0*year
eq_srcs.02.origin_time = 2.0*year
eq_srcs.03.origin_time = 3.0*year
eq_srcs.04.origin_time = 4.0*year
eq_srcs.05.origin_time = 5.0*year
eq_srcs.06.origin_time = 6.0*year
eq_srcs.07.origin_time = 7.0*year
eq_srcs.08.origin_time = 8.0*year
eq_srcs.09.origin_time = 9.0*year
eq_srcs.10.origin_time = 10.0*year
eq_srcs.11.origin_time = 11.0*year
eq_srcs.12.origin_time = 12.0*year
eq_srcs.13.origin_time = 13.0*year

# 00
[pylithapp.timedependent.interfaces.fault.eq_srcs.00.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse00.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# 01
[pylithapp.timedependent.interfaces.fault.eq_srcs.01.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse01.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# 02
[pylithapp.timedependent.interfaces.fault.eq_srcs.02.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse02.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb

# 03
[pylithapp.timedependent.interfaces.fault.eq_srcs.03.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse03.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 04
[pylithapp.timedependent.interfaces.fault.eq_srcs.04.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse04.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 05
[pylithapp.timedependent.interfaces.fault.eq_srcs.05.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse05.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 06
[pylithapp.timedependent.interfaces.fault.eq_srcs.06.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse06.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 07
[pylithapp.timedependent.interfaces.fault.eq_srcs.07.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse07.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 08
[pylithapp.timedependent.interfaces.fault.eq_srcs.08.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse08.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 09
[pylithapp.timedependent.interfaces.fault.eq_srcs.09.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse09.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 10
[pylithapp.timedependent.interfaces.fault.eq_srcs.10.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse10.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 11
[pylithapp.timedependent.interfaces.fault.eq_srcs.11.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse11.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 12
[pylithapp.timedependent.interfaces.fault.eq_srcs.12.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse12.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# 13
[pylithapp.timedependent.interfaces.fault.eq_srcs.13.slip_function]
slip.iohandler.filename = gfspatialdb/gfimpulse13.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb
# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain]
skip = 9
writer.filename = gftest.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = 17 ; nodeset for subdomain
skip = 0
writer.filename = gfresponses/gfresponse.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for vtk fault rupture output.
[pylithapp.timedependent.interfaces.fault.output]
skip = 0
writer.filename = gfimpulses/gfimpulse.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic_upper.output]
skip = 9
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = gftest-statevars-elastic_upper.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.elastic_lower.output]
skip = 9
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = gftest-statevars-elastic_lower.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year
