[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the fault slip and
# output information for running an initial simulation.
# The other parameters are specificed in the
# pylithapp.cfg file which PyLith reads by default.
#
# To run the simulation:
# pylith initial-run.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent.implicit.time_step]
# Define the total time for the simulation and the time step size.
# Overwrite values in pylithapp.cfg
total_time = 0.0*year ; total time of simulation

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces.fault]
output.vertex_info_fields = [normal_dir,strike_dir,dip_dir]

# The slip time and final slip are defined in spatial databases.
[pylithapp.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]
slip.label = Applied slip for initial run
slip.iohandler.filename = finalslip.spatialdb
slip_time.label = Slip initiation time
slip_time.iohandler.filename = sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK domain output of solution over domain.
[pylithapp.problem.formulation.output.domain]
writer.filename = gftest-initial.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK domain output of solution over ground surface.
[pylithapp.problem.formulation.output.subdomain]
label = face_zpos ; nodeset for subdomain
writer.filename = gftest-initial-groundsurf.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for vtk fault rupture output.
[pylithapp.timedependent.interfaces.fault.output]
writer.filename = gftest-initial-fault.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.elastic_upper.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = gftest-initial-elastic_upper.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.elastic_lower.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = gftest-initial-elastic_lower.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year
