# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatlagrange = 1
#quadrature3d = 1

[pylithapp.journal.debug]
pylithapp = 1
problem = 1
implicit = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh importer to the CUBIT importer.
importer = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.importer]
# Set filename of mesh to import.
filename = box_hex8_1000m.exo

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
#normalizer = spatialdata.units.NondimElasticQuasistatic

[pylithapp.timedependent.formulation.time_step]
# Define the total time for the simulation and the default time step size.
total_time = 0.0*s ; total time of simulation

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Set materials to an array of 2 materials:
#   'elastic' and 'viscoelastic'
materials = [elastic_upper,elastic_lower]

[pylithapp.timedependent.materials.elastic_upper]
label = Upper elastic material
id = 1
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.elastic_lower]
label = Lower elastic material
id = 2
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]
ksp_rtol = 1.0e-8
pc_type = asm
ksp_monitor = true
ksp_view = true
log_summary = true
ksp_max_it = 100
ksp_gmres_restart = 50
# start_in_debugger = true
