[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
# Uy(x,y)=0
#
#         ------------------------------------
#         |                                  |
# Ux=F(t) |                                  | Ux=0
#         |                                  |
#         |                                  |
#         ------------------------------------
#
# Dirichlet boundary conditions
#
# domain: Uy(x,y) = 0, Vy(x,y) = 0
# boundary_xneg: Ux(-4*km,y) = F(t)
# boundary_xpos: Ux(+4*km,y) = 0
base = [pylithapp.cfg]
description = Ricker source test.
authors = [Brad Aagaard]
keywords = [Ricker source, time-dependent Dirichlet boundary condition]
arguments = [step01_ricker.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    pylith.problems.SolnDispVel,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.ZeroDB
    ]

[pylithapp]
# File with version information and parameters (including defaults).
#
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step01_ricker-parameters.json
problem.progress_monitor.filename = output/step01_ricker-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step01_ricker


# ----------------------------------------------------------------------
# sources
# ----------------------------------------------------------------------

[pylithapp.problem]
sources = [source]

sources.source = pylith.sources.PointForce
[pylithapp.problem.sources.source]
label = Ricker Source
id = 2
reader.filename = source_sites.txt
reader.coordsys = spatialdata.geocoords.CSCart
reader.coordsys.space_dim = 2

db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = source properties
db_auxiliary_field.values = [moment_tensor_xx, moment_tensor_yy, moment_tensor_xy, moment_tensor_yx, ricker_time_delay, ricker_center_frequency]
db_auxiliary_field.data   = [100*Pa*s, 100*Pa*s, 0.0*Pa*s, 0.0*Pa*s, 0.0*s, 10]





# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = rk
ts_rk_type = 3bs
ts_adapt_dt_max = 0.05


# End of file
