# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# PROBLEM DESCRIPTION
# ----------------------------------------------------------------------
#
# 

# ----------------------------------------------------------------------
# RUNNING THE SIMULATON
# ----------------------------------------------------------------------
#
# This is not a self-contained simulation configuration file. This
# file specifies only the boundary conditions and earthquake
# parameters for the simulation. The general quasi-static and mesh
# parameters are specificed in the pylithapp.cfg file which PyLith
# reads by default.
#
# To run the simulation:
# pylith postseismic.cfg
#
# Output will be directed to directory output.

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set bc to an array of 3 boundary conditions:
#   'bndry_east'
#   'bndry_west'
#   'bndry_bot'
bc = [boundary_east,boundary_west,boundary_bottom]

# For all boundaries, we fix the displacement normal to the boundary
# (roller boundary condition) by retaining the default ZeroDispDB,
# which specifies a zero value.
#
# The label corresponds to the name of the nodeset in CUBIT.

# East boundary
[pylithapp.timedependent.bc.boundary_east]
bc_dof = [0]
label = bndry_east
db_initial.label = Dirichlet BC on east boundary

# West boundary
[pylithapp.timedependent.bc.boundary_west]
bc_dof = [0]
label = bndry_west
db_initial.label = Dirichlet BC on west boundary

# Bottom boundary
[pylithapp.timedependent.bc.boundary_bottom]
bc_dof = [1]
label = bndry_bot
db_initial.label = Dirichlet BC on bottom boundary

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent]
interfaces = [fault]

# Set the type of fault interface condition.
[pylithapp.timedependent.interfaces]
fault = pylith.faults.FaultCohesiveKin

# Set the parameters for the fault interface condition.
[pylithapp.timedependent.interfaces.fault]
# The label corresponds to the name of the nodeset in CUBIT.
label = fault

# We must define the quadrature information for fault cells.
# The fault cells are 2D (surface).
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = line

# The slip time and final slip are defined in spatial databases.
[pylithapp.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]
slip.iohandler.filename = fault_slip.spatialdb
slip.query_type = linear
slip.label = Final slip

slip_time = spatialdata.spatialdb.UniformDB
slip_time.label = Slip time
slip_time.values = [slip-time]
slip_time.data = [0.0*year]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# Domain
[pylithapp.problem.formulation.output.domain]
output_freq = time_step
time_step = 4.99999*year
writer.filename = output/postseismic.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Ground surface
[pylithapp.problem.formulation.output.subdomain]
label = groundsurf ; Name of CUBIT nodeset for ground surface.
writer.filename = output/postseismic-groundsurf.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Fault
[pylithapp.problem.interfaces.fault.output]
writer.filename = output/postseismic-fault.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Materials
[pylithapp.timedependent.materials.continent_crust.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.filename = output/postseismic-concrust.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.continent_mantle.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.filename = output/postseismic-conmantle.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.ocean_crust.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.filename = output/postseismic-oceancrust.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.ocean_mantle.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.filename = output/postseismic-oceanmantle.vtk
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# End of file