# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatsimplex = 1
pylithapp = 1
materials = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
# Change the default mesh reader to the CUBIT reader.
reader = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.reader]
filename = mesh_tri3.exo
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 2

[pylithapp.timedependent.formulation.time_step]
# Define the total time for the simulation and the time step size.
total_time = 200.0*year
dt = 1.0*year


# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Set materials to an array of 4 materials:
#   'continent_crust'
#   'continent_mantle'
#   'ocean_crust'
#   'ocean_mantle'
materials = [continent_crust,continent_mantle,ocean_crust,ocean_mantle]

[pylithapp.timedependent.materials]
# Set bulk constitutive model for each material.
continent_crust = pylith.materials.ElasticPlaneStrain
ocean_crust = pylith.materials.ElasticPlaneStrain
continent_mantle = pylith.materials.MaxwellPlaneStrain
ocean_mantle = pylith.materials.MaxwellPlaneStrain


# Continental crust -----------------------------
[pylithapp.timedependent.materials.continent_crust]
label = Continental crust

# The id corresponds to the block number from CUBIT.
id = 1

db_properties.iohandler.filename = mat_concrust.spatialdb

# We are doing 2D quadrature for a triangle.
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = triangle


# Continental mantle --------------------
[pylithapp.timedependent.materials.continent_mantle]
label = Continental mantle

# The id corresponds to the block number from CUBIT.
id = 2

db_properties.iohandler.filename = mat_conmantle.spatialdb

# We are doing 2D quadrature for a triangle.
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = triangle


# Oceanic crust --------------------
[pylithapp.timedependent.materials.ocean_crust]
label = Oceanic crust

# The id corresponds to the block number from CUBIT.
id = 3

db_properties.iohandler.filename = mat_oceancrust.spatialdb

# We are doing 2D quadrature for a triangle.
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = triangle


# Oceanic mantle --------------------
[pylithapp.timedependent.materials.ocean_mantle]
label = Oceanic mantle

# The id corresponds to the block number from CUBIT.
id = 4

db_properties.iohandler.filename = mat_oceanmantle.spatialdb

# We are doing 2D quadrature for a triangle.
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = triangle


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Names of output files are set in stepXX.cfg. We consolidate all of the
# output settings that are common to all of the simulations here.

[pylithapp.timedependent.implicit]
# Set the output to an array of 2 output managers.
# We will output the solution over the domain and the ground surface.
output = [domain,subdomain]

# Set subdomain component to OutputSolnSubset (subset of domain).
output.subdomain = pylith.meshio.OutputSolnSubset

# Domain
[pylithapp.problem.formulation.output.domain]
output_freq = time_step
time_step = 9.99999*year
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Ground surface
[pylithapp.problem.formulation.output.subdomain]
label = groundsurf ; Name of CUBIT nodeset for ground surface.
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# Materials
[pylithapp.timedependent.materials.continent_crust.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.continent_mantle.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.ocean_crust.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.time_format = %04.0f
writer.time_constant = 1.0*year

[pylithapp.timedependent.materials.ocean_mantle.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
output_freq = time_step
time_step = 9.99999*year
writer.time_format = %04.0f
writer.time_constant = 1.0*year

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]

# Preconditioner settings.
pc_type = asm
sub_pc_factor_shift_type = nonzero

# Convergence parameters.
ksp_rtol = 1.0e-8
ksp_atol = 1.0e-12
ksp_max_it = 300
ksp_gmres_restart = 50

# Linear solver monitoring options.
ksp_monitor = true
ksp_view = true
ksp_converged_reason = true

# Nonlinear solver monitoring options.
snes_rtol = 1.0e-8
snes_atol = 1.0e-12
snes_max_it = 100
snes_monitor = true
snes_view = true
snes_converged_reason = true

# PETSc summary -- useful for performance information.
#log_summary = true

# Uncomment to launch gdb when starting PyLith.
# start_in_debugger = true


# End of file
