[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
keywords = [example, 2D, subduction]
features = [
    Triangular cells,
    field split preconditioner,
    Schur complement,
    pylith.meshio.MeshIOCubit,
    pylith.problems.TimeDependent,
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    pylith.meshio.OutputSolnBoundary,
    pylith.meshio.DataWriterHDF5
    ]


# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
solution = 1
meshiocubit = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
# Change the default mesh reader to the CUBIT reader.
reader = pylith.meshio.MeshIOCubit
reader.filename = mesh_tri.exo
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use nonlinear solver to ensure residual and Jacobian are consistent.
solver = nonlinear 

# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 1

# Set the discretization of the solution subfields.
#
# For a quastistatic simulation with a fault, we have two solution fields:
# (1) displacement and (2) Lagrange multiplier. We use a predefined containter
# to create a solution field with these two subfields.
solution = pylith.problems.SolnDispLagrange

# Use FieldFilterProject if basis order of any solution field > 1
#defaults.output_field_filter = pylith.meshio.FieldFilterProject

[pylithapp.problem.solution.subfields]
displacement.basis_order = 1
lagrange_fault.basis_order = 1

[pylithapp.problem]
solution_observers = [domain, groundsurf]
solution_observers.groundsurf = pylith.meshio.OutputSolnBoundary

[pylithapp.problem.solution_observers.domain]
trigger.num_skip = 1

[pylithapp.problem.solution_observers.groundsurf]
label = groundsurf

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set materials to an array of 4 materials:
#   'continent_crust'
#   'continent_mantle'
#   'ocean_crust'
#   'ocean_mantle'
materials = [continent_crust, continent_mantle, ocean_crust, ocean_mantle]

[pylithapp.problem.materials]
# Set bulk constitutive model for each material.
continent_crust.bulk_rheology = pylith.materials.IsotropicLinearElasticity
ocean_crust.bulk_rheology = pylith.materials.IsotropicLinearElasticity
continent_mantle.bulk_rheology = pylith.materials.IsotropicLinearElasticity
ocean_mantle.bulk_rheology = pylith.materials.IsotropicLinearElasticity

# In each material, the label is used in error messages, etc. The id
# corresponds to the block number from CUBIT/Trelis.

# Continental crust -----------------------------
[pylithapp.problem.materials.continent_crust]
label = Continental crust
id = 1

# The properties are uniform. We could use a UniformDB, but for
# illustrative purposes, we use a SimpleDB with a single data point
# (data-dim == 0) to specify uniform values.
db_auxiliary_field.label = Continental crust properties
db_auxiliary_field.iohandler.filename = mat_concrust.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# Continental mantle --------------------
[pylithapp.problem.materials.continent_mantle]
label = Continental mantle
id = 2

db_auxiliary_field.label = Continental mantle properties
db_auxiliary_field.iohandler.filename = mat_conmantle.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# Oceanic crust --------------------
[pylithapp.problem.materials.ocean_crust]
label = Oceanic crust
id = 3

db_auxiliary_field.label = Oceanic crust properties
db_auxiliary_field.iohandler.filename = mat_oceancrust.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# Oceanic mantle --------------------
[pylithapp.problem.materials.ocean_mantle]
label = Oceanic mantle
id = 4

db_auxiliary_field.label = Oceanic mantle properties
db_auxiliary_field.iohandler.filename = mat_oceanmantle.spatialdb

observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0
bulk_rheology.auxiliary_subfields.bulk_modulus.basis_order = 0
bulk_rheology.auxiliary_subfields.shear_modulus.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = beuler

pc_type = fieldsplit
pc_use_amat = true
pc_fieldsplit_type = schur
pc_fieldsplit_schur_factorization_type = full
pc_fieldsplit_dm_splits = true
fieldsplit_displacement_ksp_type = preonly
fieldsplit_displacement_pc_type = asm
fieldsplit_lagrange_multiplier_fault_pc_type = jacobi
fieldsplit_lagrange_multiplier_fault_ksp_type = gmres
fieldsplit_lagrange_multiplier_fault_ksp_rtol = 1.0e-11

ksp_rtol = 1.0e-8
ksp_atol = 1.0e-10
ksp_max_it = 1000
ksp_gmres_restart = 50
ksp_error_if_not_converged = true

snes_rtol = 1.0e-8
snes_atol = 1.0e-9
snes_error_if_not_converged = true

# Monitors for debugging
ts_monitor = true
ksp_monitor = true
ksp_converged_reason = true
snes_monitor = true
snes_converged_reason = true
snes_linesearch_monitor = true

#ksp_view = true
#snes_view = true


# End of file
