[pylithapp]
scheduler = lsf

[pylithapp.lsf]
shell = /bin/bash
bsub-options = -a mpich_gm 

[pylithapp.job]
queue = normal
#queue = debug

[pylithapp.launcher]
command = mpiexec -np ${nodes} -machinefile ${LSB_DJOB_HOSTFILE}

