[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x

base = [pylithapp.cfg]
description = Time History MT test.
authors = [Robert Walker]
keywords = [Time History Wavelet, time-dependent Dirichlet boundary condition]
arguments = [step01_time_history.cfg]
version = 1.0.0
pylith_version = [>=3.0, <7.0]

features = [
    pylith.problems.SolnDispVel,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.ZeroDB
    ]

[pylithapp]
# File with version information and parameters (including defaults).
#
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step01_ricker-parameters.json
problem.progress_monitor.filename = output/step01_ricker-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step01_time_history

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use the nonlinear solver to verify residual and Jacobian are consistent.
solver = nonlinear
formulation = dynamic

# Nondimensionalize problem using wave propagation parameters.
normalizer = spatialdata.units.NondimElasticDynamic
normalizer.mass_density = 2500.0*kg/m**3
normalizer.shear_wave_speed = 1000.0*m/s
normalizer.wave_period = 1.0*s

defaults.quadrature_order = 1


# Set the discretization for each of the solution subfields.
#
solution = pylith.problems.SolnDispVel

solution.subfields.displacement.basis_order = 1
solution.subfields.velocity.basis_order = 1

solution_observers = [domain]

start_time = 0.0*s
end_time = 0.1*s
initial_dt = 0.01*s
# ----------------------------------------------------------------------
# sources
# ----------------------------------------------------------------------

[pylithapp.problem]
sources = [source]

sources.source = pylith.sources.MomentTensorForce

[pylithapp.problem.sources.source]
description = Time History Source
label_value = 2
reader.filename = source_sites.txt
reader.coordsys = spatialdata.geocoords.CSCart
reader.coordsys.space_dim = 2
source_time_function = pylith.sources.TimeHistoryWavelet


#useTimeHistory = True

db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = source properties
db_auxiliary_field.values = [moment_tensor_xx, moment_tensor_yy, moment_tensor_xy, moment_tensor_zz, time_history_start_time]
db_auxiliary_field.data   = [100*Pa*s, 100*Pa*s, 0.0*Pa*s, 100.0*Pa*s, 0.0*s]
source_time_function.time_history = spatialdata.spatialdb.TimeHistory
source_time_function.time_history.description = Ramp time history
source_time_function.time_history.filename = ramp.timedb


# Set the discretization of the material auxiliary fields (properties).
# We have uniform material properties, so we can use a basis order of 0.
auxiliary_subfields.moment_tensor.basis_order = 0
#source_time_function.auxiliary_subfields.time_history_amplitude.basis_order = 0
#source_time_function.auxiliary_subfields.time_history_start_time.basis_order = 0



# ----------------------------------------------------------------------
# initial conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
ic = [domain]
ic.domain = pylith.problems.InitialConditionDomain

[pylithapp.problem.ic.domain]
db = spatialdata.spatialdb.UniformDB
db.description = Initial conditions over domain
db.values = [displacement_x, displacement_y]
db.data = [0.0*m, 0.0*m]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = rk
ts_rk_type = 3bs
ts_adapt_dt_max = 0.001


# End of file
