[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
explicit = 1
implicit = 1
petsc = 1
solverlinear = 1
meshioascii = 1
meshiocubit = 1
meshimporter = 1
homogeneous = 1
implicitelasticity = 1
quadrature3d = 1
fiatsimplex = 1

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.
[pylithapp.petsc]
ksp_rtol = 1.0e-12
ksp_max_it = 100
ksp_gmres_restart = 50
pc_type = bjacobi
ksp_monitor = true
ksp_view = true
log_view = true
# start_in_debugger = true
