[pylithapp]

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.importer]
filename = twocellsb.mesh

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output.writer]
filename = shearelastic-twocellsb.vtk
