[pylithapp.petsc]
# Turn on TS, KSP, and SNES monitors
ts_monitor =
ksp_monitor =
snes_monitor =

ksp_converged_reason = True
snes_converged_reason = True

# Turn on KSP and SNES view
#ksp_view = True
#snes_view = True

# Trigger error if linear or nonlinear solvers fail to converge
ts_error_if_step_fails = True
ksp_error_if_not_converged = True
snes_error_if_not_converged = True
