# Default solver settings for quasistatic elasticity with a fault.

[pylithapp.petsc]
ts_type = beuler
pc_type = gamg

dm_reorder_section = True
dm_reorder_section_type = cohesive
mg_fine_pc_type = vpbjacobi
