# Default solver settings for quasistatic elasticity without a fault.

[pylithapp.petsc]
ts_type = beuler
pc_type = gamg

pc_gamg_coarse_eq_limit = 200
mg_fine_ksp_max_it = 5
mg_levels_pc_type = pbjacobi
