# Solver settings for elasticity using a direct solver.
#
# This setting can be useful in debugging small simulations.

[pylithapp.problem.petsc_defaults]
solver = False

[pylithapp.petsc]
ts_type = beuler
pc_type = lu

