# Default solver settings for static incompressible elasticity without a fault.
#
# The solver settings are the analogue of LU factorization for the saddle point system
# associated with incompressible elasticity.
#
# IMPORTANT: This solver will not scale as well as some other options,
# so it is intended for small simulations.

[pylithapp.petsc]
ts_type = beuler
pc_type = fieldsplit
pc_fieldsplit_type = schur
pc_fieldsplit_schur_fact_type = full
pc_fieldsplit_schur_precondition = full
fieldsplit_displacement_pc_type = ml
fieldsplit_pressure_pc_type = bjacobi
