# Solver settings for quasistatic elasticity with a fault.
#
# The settings in solver_elasticity_fault_vpbjacobi.cfg are preferred, but may
# not work when running in parallel if the partitioning among processes splits
# the fault (and the solution fails to converge). These settings can be used
# instead.

[pylithapp.problem.petsc_defaults]
solver = False

[pylithapp.petsc]
ts_type = beuler
pc_type = fieldsplit
pc_use_amat = True
pc_fieldsplit_type = schur

pc_fieldsplit_schur_factorization_type = lower
pc_fieldsplit_schur_precondition = selfp
pc_fieldsplit_schur_scale = 1.0

fieldsplit_displacement_ksp_type = preonly
fieldsplit_displacement_pc_type = ml

fieldsplit_lagrange_multiplier_fault_ksp_type = preonly
fieldsplit_lagrange_multiplier_fault_pc_type = ml
