[pylithapp.metadata]
base = [pylithapp.cfg, mat_poroelastic.cfg]
description = Steady state SPE10 test.
keywords = [SPE10]
arguments = [step00_steadystate.cfg, mat_poroelastic.cfg]
version = 1.0.0

features = [
    Static simulation,
    Multigrid preconditioner
    ]

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step00_steadystate-parameters.json
problem.progress_monitor.filename = output/step00_steadystate-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step00_steadystate

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Define the total time for the simulation and initial time step size.
initial_dt = 5.0*hour
start_time = 0.0*hour
end_time = 10.0*hour






# End of file
