# -*- Python -*-

# The settings in this file (axialdisp.cfg) will be read if it is
# specified on the command line:
# 'pylith axialdisp.cfg'

# If this file is given, the settings in this file will override all
# others except for parameters specified directly on the command line.

# These setting define an implicit problem with Dirichlet (displacement)
# boundary conditions extending the mesh along the x-axis.

[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
# This is a time-dependent problem so we use that facility.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# This is a container for a boundary condition specified at a point.
bc = pylith.bc.BCSingle

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Provide information on the boundary conditions.

# Boundary conditions to be applied to the negative x-side of the mesh.
[pylithapp.timedependent.bc.bc]

# We are fixing the 0 (x), 1 (y) and 2 (z) degrees of freedom.
fixed_dof = [0, 1, 2]

# The nodes associated with this boundary condition have the name
# 'end points' in the mesh file.
label = end points

# We are assigning the label 'Dirichlet BC' to the database.
db.label = Dirichlet BC

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = axialdisp.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for vtk output.
[pylithapp.problem.formulation.output.output]
filename = axialdisp.vtk
