# -*- Python -*-

# The settings in this file (dislocation.cfg) will be read if it is
# specified on the command line:
# 'pylith dislocation.cfg'

# If this file is given, the settings in this file will override all
# others except for parameters specified directly on the command line.

# These settings define an implicit problem using a fault with
# kinematically-specified slip.

[pylithapp]

# ----------------------------------------------------------------------
# journal
# Journal settings in addition to those given in 'pylithapp.cfg'
# ----------------------------------------------------------------------
[pylithapp.journal.info]
quadrature2d = 1
faultcohesivekin = 1

# ----------------------------------------------------------------------
# problem
# Specify the problem settings.
# This is a time-dependent problem so we use that facility.
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# This is a container for uniform boundary conditions.
bc = pylith.bc.BCSingle

# This is a container for a single fault.
interfaces = pylith.faults.SingleFault

# ----------------------------------------------------------------------
# boundary conditions
# Provide information on the boundary conditions.
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.bc]

# We are fixing the 0 (x), 1 (y), and 2 (z) degrees of freedom.
fixed_dof = [0, 1, 2]

# The nodes associated with this boundary condition have the name
# 'end points' in the mesh file.
label = end points

# We are assigning the label 'Dirichlet BC' to the database.
db.label = Dirichlet BC

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = dislocation_disp.spatialdb

# ----------------------------------------------------------------------
# faults
# Provide information on the fault (interface).
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]

# This fault is a cohesive element fault with kinematically-specified slip.
fault = pylith.faults.FaultCohesiveKin

# Define fault properties.
[pylithapp.timedependent.interfaces.fault]

# The nodes associated with this fault have the name 'fault' in the mesh file.
label = fault

# We need the material database for the fault to properly condition the
# system of equations.
mat_db.iohandler.filename = matprops.spatialdb

# The quadrature for a 3D fault is 2D.
quadrature = pylith.feassemble.quadrature.Quadrature2Din3D
quadrature.cell.shape = triangle

# Give the spatial databases specifying the fault slip.
[pylithapp.timedependent.interfaces.fault.eq_src.slip_function]

# Database specifying fault slip (0.01 m of left-lateral slip).
slip.iohandler.filename = dislocation_slip.spatialdb

# Database specifying fault slip rate (1.0e+6 m/s).
slip_rate.iohandler.filename = dislocation_sliprate.spatialdb

# Database specifying time at which fault slips (-1.0 s).
slip_time.iohandler.filename = dislocation_sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# Give basename for vtk output.
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output]
filename = dislocation.vtk
