[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
# Ux(x,y)=0
#
#         ------------------------------------
#         |                                  |
# Tx=F(t) |                                  | Ux=0
#         |                                  |
#         |                                  |
#         ------------------------------------
#
# Neumann boundary conditions
#
# boundary_xneg: Tx(-4*km,y) = F(t)
#
# Dirichlet boundary conditions
#
# domain: Uy(x,y) = 0, Vy(x,y) = 0
# boundary_xpos: Ux(+4*km,y) = 0
base = [pylithapp.cfg]
description = Shear (S) wave via a time-dependent Neumann BC.
authors = [Brad Aagaard]
keywords = [S wave, Dirichlet boundary condition, time-dependent Neumann boundary condition]
arguments = [step02_swave_reflected.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    pylith.problems.SolnDispVel,
    pylith.bc.DirichletTimeDependent,
    pylith.bc.NeumannTimeDependent,
    spatialdata.spatialdb.ZeroDB
    ]

[pylithapp]
# File with version information and parameters (including defaults).
#
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step02_swave_reflected-parameters.json
problem.progress_monitor.filename = output/step02_swave_reflected-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step02_swave_reflected

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# We have one Neumann BC and two Dirichlet boundary conditions.
bc = [bc_xneg, bc_xpos, bc_domain]
bc.bc_xneg = pylith.bc.NeumannTimeDependent
bc.bc_xpos = pylith.bc.DirichletTimeDependent
bc.bc_domain = pylith.bc.DirichletTimeDependent

[pylithapp.problem.bc.bc_xneg]
label = boundary_xneg
field = velocity

use_initial = False
use_time_history = True
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Neumann BC -x edge
db_auxiliary_field.values = [time_history_amplitude_normal, time_history_amplitude_tangential, time_history_start_time]
db_auxiliary_field.data = [0.0*MPa, 1.0*MPa, 0.0]
time_history = spatialdata.spatialdb.TimeHistory
time_history.description = Impulse time history
time_history.filename = impulse.timedb

auxiliary_subfields.time_history_amplitude.basis_order = 0
auxiliary_subfields.time_history_start_time.basis_order = 0

[pylithapp.problem.bc.bc_xpos]
constrained_dof = [1]
label = boundary_xpos
field = displacement

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on domain


[pylithapp.problem.bc.bc_domain]
constrained_dof = [0]
label = domain_all
field = displacement

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on domain


# End of file
