[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
# Uy(x,y)=0
#
#         ------------------------------------
#         |                                  |
# Ux=F(t) |                                  | Ux=0
#         |                                  |
#         |                                  |
#         ------------------------------------
#
# Dirichlet boundary conditions
#
# domain: Uy(x,y) = 0, Vy(x,y) = 0
# boundary_xneg: Ux(-4*km,y) = F(t)
# boundary_xpos: Ux(+4*km,y) = 0
base = [pylithapp.cfg]
description = Dilatational (P) wave via a time-dependent Dirichlet BC.
authors = [Brad Aagaard]
keywords = [P wave, time-dependent Dirichlet boundary condition]
arguments = [step01_pwave_reflected.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    pylith.problems.SolnDispVel,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.ZeroDB
    ]

[pylithapp]
# File with version information and parameters (including defaults).
#
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step01_pwave_reflected-parameters.json
problem.progress_monitor.filename = output/step01_pwave_reflected-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step01_pwave_reflected

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# We have one Neumann BC and two Dirichlet boundary conditions.
bc = [bc_xneg, bc_xpos, bc_domain]
bc.bc_xneg = pylith.bc.DirichletTimeDependent
bc.bc_xpos = pylith.bc.DirichletTimeDependent
bc.bc_domain = pylith.bc.DirichletTimeDependent

[pylithapp.problem.bc.bc_xneg]
constrained_dof = [0]
label = boundary_xneg
field = displacement

use_initial = False
use_time_history = True
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = Dirichlet BC -x edge
db_auxiliary_field.values = [time_history_amplitude_x, time_history_amplitude_y, time_history_start_time]
db_auxiliary_field.data = [1.0*m, 0.0*m, 0.0]
time_history = spatialdata.spatialdb.TimeHistory
time_history.description = Impulse time history
time_history.filename = impulse.timedb

[pylithapp.problem.bc.bc_xpos]
constrained_dof = [0]
label = boundary_xpos
field = displacement

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on domain


[pylithapp.problem.bc.bc_domain]
constrained_dof = [1]
label = domain_all
field = displacement

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on domain


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = rk
ts_rk_type = 3bs
ts_adapt_dt_max = 0.05


# End of file
