[pylithapp]

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials]
visco = pylith.materials.MaxwellIsotropic3D

[pylithapp.timedependent.materials.visco]
db_properties.label = Maxwell 3D visco properties
db_properties.iohandler.filename = mat_max3d.spatialdb

quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Domain
[pylithapp.problem.formulation.output.domain]
writer.filename = output/grav_static_max3d-domain.h5

# Materials
[pylithapp.timedependent.materials.visco.output]
cell_data_fields = [stress,total_strain,viscous_strain]
writer.filename = output/grav_static_max3d-visco.h5

# End of file
