[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiocubit = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatlagrange = 1
pylithapp = 1
materials = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOAscii

# ----------------------------------------------------------------------
# Normalization
# ----------------------------------------------------------------------
[pylithapp.timedependent.normalizer]
length_scale = 1.0*m

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent.formulation.time_step]
total_time = 2000.0*year
dt = 10.0*year

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
materials = [ocean_mantle]

[pylithapp.timedependent.materials.ocean_mantle]
quadrature.cell = pylith.feassemble.FIATLagrange

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent]
bc = [x_neg,x_pos,y_neg]

# Set gravity field (default is None)
gravity_field = spatialdata.spatialdb.GravityField

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.timedependent.formulation]
output = [domain]

# Domain
[pylithapp.problem.formulation.output.domain]
writer = pylith.meshio.DataWriterHDF5
vertex_data_fields = [displacement,velocity]

# Materials
[pylithapp.timedependent.materials.ocean_mantle.output]
cell_filter = pylith.meshio.CellFilterAvg
writer = pylith.meshio.DataWriterHDF5

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]

# Preconditioner settings.
pc_type = lu

# Convergence parameters.
ksp_rtol = 1.0e-12
ksp_atol = 1.0e-15

# Linear solver monitoring options.
ksp_monitor = true
ksp_converged_reason = true

# Nonlinear solver monitoring options.
snes_rtol = 1.0e-12
snes_atol = 1.0e-14
snes_max_it = 100
snes_monitor = true
snes_converged_reason = true

# End of file
