[pylithapp]

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = quad.mesh
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 2

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials.visco]
label = Viscoelastic material
id = 0

quadrature.cell.dimension = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent]
bc = [x_neg,x_pos,y_neg]

gravity_field.gravity_dir = [0,-1,0]

[pylithapp.timedependent.bc.x_neg]
bc_dof = [0]
label = x_neg
db_initial.label = Dirichlet BC on -x

[pylithapp.timedependent.bc.x_pos]
bc_dof = [0]
label = x_pos
db_initial.label = Dirichlet BC on +x

[pylithapp.timedependent.bc.y_neg]
bc_dof = [1]
label = y_neg
db_initial.label = Dirichlet BC on -y

# End of file
