# -*- Python -*-
[princaxes]

# Top-level info
vtk_input_file = ../../examples/3d/hex8/output/step01-lower_crust_t0000000.vtk
vtk_output_file = ../../examples/3d/hex8/output/step01-lower_crust_princstress_t0.vtk
vtk_tensor_index = 1
vtk_tensor_components_order = [0,1,2,3,4,5]
add_regional_stress = True
regional_sigma1 = [-1.5e7, 1.0, 0.0, 0.0]
regional_sigma2 = [-1.0e7, 0.0, 0.0, 1.0]
regional_sigma3 = [-5.0e6, 0.0, 1.0, 0.0]
