# -*- Python -*-
[princaxes]

# Top-level info
vtk_input_file = ../../examples/3d/hex8/output/step01-lower_crust_t0000000.vtk
vtk_output_file = ../../examples/3d/hex8/output/step01-lower_crust_princstress_t0.vtk
vtk_tensor_index = 1
vtk_tensor_components_order = [0,1,2,3,4,5]
