[vtkcff]

# Top-level info
vtk_reference_file = axialdisp-statevars_t000.vtk
vtk_output_root = axialdisp-statevars-cff
stress_index = 2
stress_components_order = [0,1,2,3,4,5]
friction_coeff = 0.6
skempton_coeff = 0.5
isotropic_poroelastic = False
