[vtkdiff]

# Top-level info
# Convert meters to cm, so results will be in cm/year.
scale_factor = 100.0

# Filename info
vtk_input_root = savageprescott-groundsurf
vtk_output_root = savageprescott-groundsurf-diff
