[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
authors = [Robert Walker]
pylith_version = [>=3.0, <4.0]
keywords = [example, SPE10]
features = [
    Tetrahedral cells,
    pylith.meshio.MeshIOCubit,
    pylith.problems.TimeDependent,
    pylith.meshio.OutputSolnBoundary,
    pylith.meshio.DataWriterHDF5,
    pylith.bc.DirichletTimeDependent,
    pylith.bc.ZeroDB,
    spatialdata.geocoords.CSGeo
    ]


# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
solution = 1
meshiocubit = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
# Change the default mesh reader to the CUBIT reader.
reader = pylith.meshio.MeshIOCubit
reader.filename = mesh/mesh_quad.exo
reader.coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use nonlinear solver to ensure residual and Jacobian are consistent.
solver = nonlinear 

# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 1

normalizer = spatialdata.units.NondimElasticQuasistatic
normalizer.length_scale = 1.0*m
normalizer.relaxation_time = 1.0*s
normalizer.shear_modulus = 100.0*m**-1*kg*s**-2

# Set the discretization of the solution subfields.

solution = pylith.problems.SolnDispPresTracStrain

[pylithapp.problem.solution.subfields]
displacement.basis_order = 2
pressure.basis_order = 1
trace_strain.basis_order = 1

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
materials = [poroelastic]
materials.poroelastic = pylith.materials.Poroelasticity

[pylithapp.problem.materials]
poroelastic.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity

# Poroelastic Section -----------------------------
[pylithapp.problem.materials.poroelastic]
label = Poroelastic section
id = 1



# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
malloc_dump = true

#dm_plex_print_fem = 2
#dm_plex_print_l2 = 2

# PC
pc_type = lu

# KSP
ksp_rtol = 1.0e-8
ksp_atol = 1.0e-12
ksp_max_it = 1000
ksp_gmres_restart = 200
ksp_error_if_not_converged = false
ksp_monitor = true
#ksp_view = true
#ksp_monitor_true_residual = true

#ksp_converged_reason = true 

# SNES
snes_rtol = 1.0e-10
snes_atol = 1.0e-10
snes_error_if_not_converged = false
#snes_fd = true
snes_monitor = true
#snes_view = true
#snes_converged_reason = true
#snes_linesearch_monitor = true

# TS
ts_error_if_step_fails = true
ts_type = beuler
ts_monitor = true
#ts_view = true
#ts_max_snes_failures=-1
