[pylithapp.metadata]
base = [pylithapp.cfg, mat_poroelastic.cfg]
description = Steady state SPE10 test.
keywords = [SPE10]
arguments = [step00_steadystate.cfg, mat_poroelastic.cfg]
version = 1.0.0

features = [
    Static simulation,
    Multigrid preconditioner
    ]

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step00_steadystate-parameters.json
problem.progress_monitor.filename = output/step00_steadystate-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step00_steadystate

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Define the total time for the simulation and initial time step size.
initial_dt = 5.0*hour
start_time = 0.0*hour
end_time = 10.0*hour

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
materials = [poroelastic]
materials.poroelastic = pylith.materials.Poroelasticity

[pylithapp.problem.materials]
poroelastic.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity

# Poroelastic Section -----------------------------
[pylithapp.problem.materials.poroelastic]
label = Poroelastic section
id = 1

db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Poroelastic section properties
db_auxiliary_field.iohandler.filename = spatialdb/SPE10_parameters.spatialdb
db_auxiliary_field.query_type = nearest

auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1

[pylithapp.problem.materials.poroelastic.bulk_rheology]

use_tensor_permeability = True

auxiliary_subfields.drained_bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.biot_coefficient.basis_order = 0
auxiliary_subfields.biot_modulus.basis_order = 0
auxiliary_subfields.isotropic_permeability.basis_order = 0




# End of file
