[pylithapp.metadata]
base = [pylithapp.cfg, mat_poroelastic.cfg]
description = Steady state SPE10 test.
keywords = [SPE10]
arguments = [step01_1spot.cfg]
version = 1.0.0

features = [
    Static simulation,
    Multigrid preconditioner
    ]

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step01_1spot-parameters.json
problem.progress_monitor.filename = output/step01_1spot-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step01_1spot

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Define the total time for the simulation and initial time step size.
initial_dt =12.0*hour
start_time = 0.0*hour
end_time = 240.0*hour

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
materials = [poroelastic]
materials.poroelastic = pylith.materials.Poroelasticity

[pylithapp.problem.materials]
poroelastic.bulk_rheology = pylith.materials.IsotropicLinearPoroelasticity

# Poroelastic Section -----------------------------
[pylithapp.problem.materials.poroelastic]
label = Poroelastic section
id = 1

db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Poroelastic section properties
db_auxiliary_field.iohandler.filename = spatialdb/SPE10_parameters.spatialdb
db_auxiliary_field.query_type = nearest

auxiliary_subfields.body_force.basis_order = 0
auxiliary_subfields.solid_density.basis_order = 0
auxiliary_subfields.fluid_density.basis_order = 0
auxiliary_subfields.fluid_viscosity.basis_order = 0
auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.porosity.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_stress.basis_order = 1

[pylithapp.problem.materials.poroelastic.bulk_rheology]

use_tensor_permeability = True

auxiliary_subfields.drained_bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.biot_coefficient.basis_order = 0
auxiliary_subfields.biot_modulus.basis_order = 0
auxiliary_subfields.isotropic_permeability.basis_order = 0

# ----------------------------------------------------------------------
# sources
# ----------------------------------------------------------------------

[pylithapp.problem]
sources = [source]

sources.source = pylith.sources.WellboreSource
[pylithapp.problem.sources.source]
label = Poroelastic Source
id = 2
reader.filename = sources_1spot.txt
reader.coordsys = spatialdata.geocoords.CSCart
reader.coordsys.space_dim = 2

db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = source properties
db_auxiliary_field.values = [fluid_density, fluid_viscosity, isotropic_permeability, wellbore_radius, wellbore_length, wellbore_pressure, wellbore_character, element_x, element_y]
db_auxiliary_field.data   = [1000*kg/m**3,         1.0*Pa*s,           1.5e-13*m**2,          0.05*m,          0.25*m,          100.0*Pa,                  1,     0.5*m,     0.5*m]

# ----------------------------------------------------------------------
# initial conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
ic = [domain]
ic.domain = pylith.problems.InitialConditionDomain

[pylithapp.problem.ic.domain]
db = spatialdata.spatialdb.UniformDB
db.label = Initial conditions over domain
db.values = [displacement_x, displacement_y,pressure]
db.data = [0.0*m, 0.0*m, 0.0*Pa]

# End of file
