[pylithapp]

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
debug = 1
importer = pylith.meshio.MeshIOAscii

[pylithapp.mesh_generator.importer]
coordsys.space_dim = 3

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent]
bc.z_pos = pylith.bc.Neumann

[pylithapp.timedependent.bc.z_pos]
label = z_pos
up_dir=[0.0, 1.0, 0.0]
db.label = Neumann BC +z edge
db.iohandler.filename = axialtractions-small.spatialdb
db.query_type = nearest
quadrature = pylith.feassemble.quadrature.Quadrature2Din3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 2
quadrature.cell.quad_order = 2

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = z_neg
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC -z edge
db.iohandler.filename = axialxyz-small.spatialdb

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0]
label = x_neg
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC -x edge
db.iohandler.filename = axialxyz-small.spatialdb

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0]
label = x_pos
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC +x edge
db.iohandler.filename = axialxyz-small.spatialdb

[pylithapp.timedependent.bc.y_neg]
fixed_dof = [1]
label = y_neg
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC -y edge
db.iohandler.filename = axialxyz-small.spatialdb

[pylithapp.timedependent.bc.y_pos]
fixed_dof = [1]
label = y_pos
db = spatialdata.spatialdb.SimpleDB
db.label = Dirichlet BC +y edge
db.iohandler.filename = axialxyz-small.spatialdb

