[pylithapp]

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.importer]
filename = eightcells.mesh

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
total_time = 0.5*year
default_dt = 0.05*year
dimension = 3
formulation = pylith.problems.Implicit
bc = pylith.bc.BCSixSides

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent.materials]
material = pylith.materials.GenMaxwellIsotropic3D

[pylithapp.timedependent.materials.material]
label = Generalized Maxwell viscoelastic material
id = 0
db.iohandler.filename = genmaxwell1.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output.writer]
filename = axialgenmax1-tract-8cells.vtk

[pylithapp.timedependent.materials.material.output]
cell_info_fields = [mu,lambda,density,Maxwell-time]
cell_data_fields = [total-strain,viscous-strain,stress]
writer.filename = axialgenmax1-tract-8cells-statevars.vtk
