[pylithapp]

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.importer]
filename = fourcells.mesh

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output.writer]
filename = shearelastic-fourcells.vtk
