[pylithapp.metadata]
# This is not a self-contained simulation configuration file. This
# file only specifies the general parameters common to the simulations
# in this directory.
authors = [Brad Aagaard, Charles Williams]
pylith_version = [>=4.0, <6.0]
keywords = [example, 3D, subduction]
features = [
    Tetrahedral cells,
    pylith.meshio.MeshIOCubit,
    pylith.problems.TimeDependent,
    pylith.meshio.OutputSolnBoundary,
    pylith.meshio.DataWriterHDF5,
    pylith.bc.DirichletTimeDependent,
    pylith.bc.ZeroDB,
    spatialdata.geocoords.CSGeo
    ]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal]
device = color-console

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
# We use a mesh from Cubit/Trelis, so we need to change the reader
# from the default (MeshIOAscii) and set the filename.
[pylithapp.problem.mesh_initializer.phases.read_mesh]
reader = pylith.meshio.MeshIOCubit
reader.filename = input/mesh_tet.exo

# Our mesh uses a local transverse Mercator geographic projection. By
# specifying the projection, we can use other georeferenced coordinate
# systems in spatial databases and the code will automatically
# transform coordinates as necessary.
[pylithapp.problem.mesh_initializer.phases.read_mesh.reader]
coordsys = spatialdata.geocoords.CSGeo
coordsys.space_dim = 3
coordsys.crs_string = +proj=tmerc +datum=WGS84 +lon_0=-122.6765 +lat_0=45.5231 +k=0.9996

[pylithapp.problem.scales]
length_scale = 20.0*km

[pylithapp.petsc]
ksp_atol = 2.0e-8

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the default quadrature order for all subfields.
#
# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 1

[pylithapp.problem.solution.subfields]
displacement.basis_order = 1

[pylithapp.problem]
solution_observers = [domain, groundsurf]
solution_observers.groundsurf = pylith.meshio.OutputSolnBoundary

[pylithapp.problem.solution_observers.domain]
trigger.num_skip = 1

[pylithapp.problem.solution_observers.groundsurf]
label = boundary_top
label_value = 15
trigger.num_skip = 1

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
# For have a material for each block we created in Cubit/Trelis.
#
# We have 4 blocks:
#  - slab (block 1)
#  - wedge (block 2)
#  - mantle (block 3)
#  - crust (block 4)
#
# The material model and parameters are specified in separate files to
# avoid conflicting parameters when we vary the material model from
# the default. See 'mat_elastic.cfg' and 'mat_viscoelastic.cfg'.

[pylithapp.problem]
materials = [slab, wedge, crust, mantle]

[pylithapp.problem.materials]
slab.label_value = 1
wedge.label_value = 2
mantle.label_value = 3
crust.label_value = 4

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# The generic setup is roller boundary conditions on the lateral and
# bottom boundaries. That is, we have zero displacements for the DOF
# normal to the boundary. We can use the default DirichletTimeDependent BC
# with a ZeroDB spatial database to specify zero displacementsfor the
# boundary values.
#
# Array of boundary conditions (defaults to DirichletTimeDependent):
#   bc_west (ZeroDB to specify zero x-displacement)
#   bc_east (ZeroDB to specify zero x-displacement)
#   bc_south (ZeroDB to specify zero y-displacement)
#   bc_north (ZeroDB to specify zero y-displacement)
#   bc_bottom (ZeroDB to specify zero z-displacement)
bc = [bc_west, bc_east, bc_south, bc_north, bc_bottom]

# The label corresponds to the name of the nodeset in Cubit.

# -x face
[pylithapp.problem.bc.bc_west]
label = boundary_west
label_value = 13
constrained_dof = [0]

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on -x

# +x face
[pylithapp.problem.bc.bc_east]
label = boundary_east
label_value = 11
constrained_dof = [0]

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on +x

# -y face
[pylithapp.problem.bc.bc_south]
label = boundary_south
label_value = 10
constrained_dof = [1]

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on -y

# +y face
[pylithapp.problem.bc.bc_north]
label = boundary_north
label_value = 12
constrained_dof = [1]

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on +y

# -z face
[pylithapp.problem.bc.bc_bottom]
label = boundary_bottom
label_value = 14
constrained_dof = [2]

db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.description = Dirichlet BC on -z


# End of file
