[pylithapp.metadata]
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Uniform oblique slip with a duration of one month on the slab
#   fault rupture patch.
#
# Output
#   We output the displacements for the slip impulses on the ground
#   surface ang at the fake cGNSS locations defined by cgnss_stations.txt.
#
# BEFORE RUNNING THE SIMULATION, run the Python script that generates
# the spatial database with the final slip distribution and the
# temporal database with the slip time function.
#
#   ./utils/generate_slowslip.py
base = [pylithapp.cfg, mat_elastic.cfg]
description = Slow slip on a patch in the middle of the top of the slab.
keywords = [prescribed slip, slow slip, generate spatial database]
arguments = [step06_slowslip_gmsh.cfg, step06_slowslip.cfg, mat_elastic.cfg]
version = 2.0.0
pylith_version = [>3.0]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step06_slowslip_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.problem.interfaces.fault_slabtop]
# patch
label_value = 24
edge_value = 25

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
bc_xneg.label_value = 11
bc_xpos.label_value = 13
bc_yneg.label_value = 10
bc_ypos.label_value = 12
bc_zneg.label_value = 14



# End of file
