[pylithapp.metadata]
base = [pylithapp.cfg, mat_elastic.cfg]
description = Axial compression in the east-west direction using Dirichlet boundary conditions.
keywords = [axial compression]
arguments = [step01_axialdisp_gmsh.cfg, step01_axialdisp.cfg, mat_elastic.cfg]
version = 2.0.0

features = [
    Static simulation,
    pylith.materials.IsotropicLinearElasticity,
    spatialdata.spatialdb.SimpleDB
    ]

[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step01_axialdisp_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
bc_xneg.label_value = 11
bc_xpos.label_value = 13
bc_yneg.label_value = 10
bc_ypos.label_value = 12
bc_zneg.label_value = 14

# End of file
