[pylithapp.metadata]
# We compute an estimate of the overburden stresses due to
# gravitational body forces and 3D density variations assuming an
# incompressible material. 
#
# Materials
#   All four blocks use the linear, isotropic incompressible elastic
#   material model (mat_elastic_incompressible.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
base = [pylithapp.cfg, mat_elastic_incompressible.cfg]
description = Gravitational body forces with incompressible elasticity.
keywords = [gravitational body forces, incompressible elasticity, field split conditioner, Schur complemenet preconditioner]
arguments = [step08b_gravity_incompressible_gmsh.cfg, step08b_gravity_incompressible.cfg, mat_elastic_incompressible.cfg]
version = 2.0.0
pylith_version = [>3.0]


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step08b_gravity_incompressible_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
bc_xneg.label_value = 11
bc_xpos.label_value = 13
bc_yneg.label_value = 10
bc_ypos.label_value = 12
bc_zneg.label_value = 14
bc_zpos.label_value = 15

# End of file
