[pylithapp.metadata]
# This example demonstrates the difficulty in finding a steady-state
# solution for the stress state arising from gravitational body forces
# with lateral density variations and viscoelastic materials. Compared
# with Step 8b, this is a time-dependent simulation using viscoelastic
# materials.
#
# Materials
#   The 'wedge' and 'crust' blocks use the the linear, isotropic
#   elastic material model, whereas the 'slab' and 'mantle' use the
#   linear Maxwell viscoelastic material model (mat_viscoelastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# BEFORE RUNNING THE SIMULATION, run Step 8b and then run the Python
# script that generates the spatial database with the initial stresses using the
# output from Step 8b if you have not already done so.
#
# ./generate_refstate.py
#
base = [pylithapp.cfg]
description = Gravitational body forces with viscoelasticity and reference state.
keywords = [gravitational body forces, reference state]
arguments = [step08c_gravity_viscoelastic.cfg]
version = 1.0.0
pylith_version = [>3.0]

features = [
    Quasi-static simulation,
    spatialdata.spatialdb.GravityField,
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    pylith.materials.IsotropicLinearMaxwell,
    spatialdata.spatialdb.CompositeDB,
    spatialdata.spatialdb.SimpleDB,
    spatialdata.spatialdb.SimpleGridDB
    ]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step08c_gravity_viscoelastic

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set gravity field (default is None).
gravity_field = spatialdata.spatialdb.GravityField

# Define the total time for the simulation and the time step size.
initial_dt = 10.0*year
start_time = -10.0*year
end_time = 200.0*year

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem.materials]
wedge.bulk_rheology = pylith.materials.IsotropicLinearElasticity
crust.bulk_rheology = pylith.materials.IsotropicLinearElasticity
slab.bulk_rheology = pylith.materials.IsotropicLinearMaxwell
mantle.bulk_rheology = pylith.materials.IsotropicLinearMaxwell

# We specify elastic properties and reference stress for each material
# using a SimpleDB. Since there is a point in the database corresponding
# to each cell center, we keep the default query_type of 'nearest'.

# Slab
[pylithapp.problem.materials.slab]
db_auxiliary_field = spatialdata.spatialdb.CompositeDB
db_auxiliary_field.description = Composite spatial database for slab material properties

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain, viscous_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0

derived_subfields.cauchy_stress.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0

[pylithapp.timedependent.materials.slab.db_auxiliary_field]
# Elastic properties
values_A = [density, vs, vp, reference_stress_xx, reference_stress_yy, reference_stress_zz, reference_stress_xy, reference_stress_yz, reference_stress_xz, reference_strain_xx, reference_strain_yy, reference_strain_zz, reference_strain_xy, reference_strain_yz, reference_strain_xz]
db_A = spatialdata.spatialdb.SimpleDB
db_A.description = Elastic properties for slab
db_A.iohandler.filename = mat_refstate_grav-slab.spatialdb
db_A.query_type = nearest

# Viscoelastic properties
values_B = [viscosity, viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_yz, viscous_strain_xz, total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_yz, total_strain_xz]
db_B = spatialdata.spatialdb.SimpleGridDB
db_B.description = Linear Maxwell viscoelastic properties for slab
db_B.filename = mat_viscosity.spatialdb
db_B.query_type = linear

[pylithapp.timedependent.materials.slab.bulk_rheology]
use_reference_state = True
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.maxwell_time.basis_order = 1
auxiliary_subfields.viscous_strain.basis_order = 1
auxiliary_subfields.reference_stress.basis_order = 0
auxiliary_subfields.reference_strain.basis_order = 0


# Wedge
[pylithapp.problem.materials.wedge]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for accretionary wedge
db_auxiliary_field.iohandler.filename = mat_refstate_grav-wedge.spatialdb
db_auxiliary_field.query_type = nearest

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

[pylithapp.problem.materials.wedge.bulk_rheology]
use_reference_state = True
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.reference_stress.basis_order = 0
auxiliary_subfields.reference_strain.basis_order = 0


# Mantle
[pylithapp.problem.materials.mantle]
db_auxiliary_field = spatialdata.spatialdb.CompositeDB
db_auxiliary_field.description = Composite spatial database for mantle material properties

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain, viscous_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0

derived_subfields.cauchy_stress.basis_order = 0
derived_subfields.cauchy_strain.basis_order = 0

[pylithapp.timedependent.materials.mantle.db_auxiliary_field]
# Elastic properties
values_A = [density, vs, vp, reference_stress_xx, reference_stress_yy, reference_stress_zz, reference_stress_xy, reference_stress_yz, reference_stress_xz, reference_strain_xx, reference_strain_yy, reference_strain_zz, reference_strain_xy, reference_strain_yz, reference_strain_xz]
db_A = spatialdata.spatialdb.SimpleDB
db_A.description = Elastic properties for mantle
db_A.iohandler.filename = mat_refstate_grav-mantle.spatialdb
db_A.query_type = nearest

# Viscoelastic properties
values_B = [viscosity, viscous_strain_xx, viscous_strain_yy, viscous_strain_zz, viscous_strain_xy, viscous_strain_yz, viscous_strain_xz, total_strain_xx, total_strain_yy, total_strain_zz, total_strain_xy, total_strain_yz, total_strain_xz]
db_B = spatialdata.spatialdb.SimpleGridDB
db_B.description = Linear Maxwell viscoelatic properties for mantle
db_B.filename = mat_viscosity.spatialdb
db_B.query_type = linear

[pylithapp.timedependent.materials.mantle.bulk_rheology]
use_reference_state = True
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.maxwell_time.basis_order = 1
auxiliary_subfields.viscous_strain.basis_order = 1
auxiliary_subfields.reference_stress.basis_order = 0
auxiliary_subfields.reference_strain.basis_order = 0


# Crust
[pylithapp.problem.materials.crust]
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Properties for continental crust
db_auxiliary_field.iohandler.filename = mat_refstate_grav-crust.spatialdb
db_auxiliary_field.query_type = nearest

observers.observer.data_fields = [displacement, cauchy_stress, cauchy_strain]
observers.observer.trigger.num_skip = 1

auxiliary_subfields.density.basis_order = 0

derived_subfields.cauchy_strain.basis_order = 0
derived_subfields.cauchy_stress.basis_order = 0

[pylithapp.problem.materials.crust.bulk_rheology]
use_reference_state = True
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.reference_stress.basis_order = 0
auxiliary_subfields.reference_strain.basis_order = 0


# End of file
