[pylithapp.metadata]
# Materials
#   The 'wedge' and 'crust' blocks use the the linear, isotropic
#   elastic material model, whereas the 'slab' and 'mantle' use the
#   linear Maxwell viscoelastic material model (mat_viscoelastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Uniform creep on the bottom of the slab.
#   Uniform creep on the deeper portion of the subduction interface.
#   + Coseismic slip on the shallow portion of the subduction interface.
#   + Coseismic slip on the splay fault.
base = [pylithapp.cfg, mat_elastic.cfg]
description = Coseismic and interseismic deformation, combining earthquake ruptures and aseismic slip on the top and bottom of the subducting slab with viscoelastic relaxation in the mantle and deep part of the slab.
keywords = [prescribed slip, aseismic creep, coseismic slip]
arguments = [step04_eqcycle_gmsh.cfg, step04_eqcycle.cfg, mat_viscoelastic.cfg]
version = 2.0.0

[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step04_eqcycle_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.problem.interfaces.fault_slabbot]
label_value = 21
edge_value = 23

[pylithapp.problem.interfaces.fault_slabtop]
label_value = 20
edge_value = 22

[pylithapp.problem.interfaces.splay]
label_value = 30
edge_value = 31

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
# boundary_xneg_noslab
bc_xneg.label_value = 16
bc_xpos.label_value = 13
# boundary_yneg_noslab
bc_yneg.label_value = 17
# boundary_ypos_noslab
bc_ypos.label_value = 18
bc_zneg.label_value = 14

# End of file
