[pylithapp.metadata]
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Slip impulses for left-lateral slip on the suduction interface (slab top).
#
# Output
#   We output the displacements for the slip impulses on the ground
#   surface at at the fake cGPS locations defined by cgps_sites.txt.
base = [pylithapp.cfg, greensfns.cfg, mat_elastic.cfg]
description = "Generate static Green's functions for left-lateral slip on the subduction interface."
arguments = [step07a_leftlateral.cfg, mat_elastic.cfg]
version = 2.0.0
pylith_version = [>3.0]

features = [
    pylith.meshio.OutputSolnPoints,
    spatialdata.geocoords.CSGeo,
    ]

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step07a_leftlateral-parameters.json
problem.progress_monitor.filename = output/step07a_leftlateral-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step05_greensfns

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on journal information for Green's function problem.
[pylithapp.journal.info]
greensfns = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp]
# Change the problem type to GreensFns.
problem = pylith.problems.GreensFns

[pylithapp.greensfns]
# Specify the fault on which to impose slip impulses.
# The `label` orresponds to the name of the nodeset in the Cubit journal file
label = fault_slabtop_patch
edge = fault_slabtop_patch_edge

# Set the default quadrature order for all subfields.
#
# IMPORTANT: The quadrature order *must* the same for all solution and
# auxiliary subfields. PyLith will verify that this requirement is met.
# This requirement may be relaxed in the future.
defaults.quadrature_order = 1

[pylithapp.problem.solution.subfields]
# Set the basis order for the solution fields. These must be compatible with
# the basis order used to represent the slip impulses. In general the basis order
# for the solution fields should be the same as the basis order for the slip impulses;
# higher basis orders are also valid.
displacement.basis_order = 1
lagrange_multiplier_fault.basis_order = 1

[pylithapp.problem]
# We add output at our fake GPS stations that we will use to invert for the slip.
solution_observers = [domain, groundsurf, gps_stations]
solution_observers.gps_stations = pylith.meshio.OutputSolnPoints

[pylithapp.problem.solution_observers.gps_stations]
# The label is combined with the simulation name to provide a default name for output files.
label = gps_stations
reader.filename = gps_stations.txt
reader.coordsys.space_dim = 2

# Specify coordinate system used in GPS station file.
reader.coordsys = spatialdata.geocoords.CSGeo
reader.coordsys.space_dim = 3
coordsys.crs_string = EPSG:4326


# ----------------------------------------------------------------------
# fault
# ----------------------------------------------------------------------
[pylithapp.problem.interfaces]
# To create slip impulses for Green's functions we use a special fault type.
fault = pylith.faults.FaultCohesiveImpulses

[pylithapp.problem.interfaces.fault]
# Limit Green's functions to left-lateral slip (dof=1)
impulse_dof = [1]

# We use a spatial database to specify the region of the fault where we want
# slip impulses for Green's functions.
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.description = Fault rupture auxiliary field spatial database
db_auxiliary_field.iohandler.filename = slip_impulses.spatialdb

# Currently, only basis order = 1 results in appropriate output for inversion.
auxiliary_subfields.slip.basis_order = 1


# End of file
