[pylithapp.metadata]
# We apply gravitational body forces to our model with heterogeneous
# material properties, and attempt to balance these body forces with
# material properties (density) corresponding to the mantle. In this
# case the forces do not balance and we end up with large vertical
# deformations in the elastic solution.
#
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
base = [pylithapp.cfg]
description = Gravitational body forces with reference state.
keywords = [gravitational body forces, reference state]
arguments = [step08a_gravity_refstate_gmsh.cfg, step08a_gravity_refstate.cfg]
version = 2.0.0
pylith_version = [>3.0]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step08a_gravity_refstate_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
bc_xneg.label_value = 11
bc_xpos.label_value = 13
bc_yneg.label_value = 10
bc_ypos.label_value = 12
bc_zneg.label_value = 14

# End of file
