[pylithapp.metadata]
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Slip impulses for reverse slip on the suduction interface (slab top).
#
# Output
#   We output the displacements for the slip impulses on the ground
#   surface at at the fake cGNSS locations defined by cgnss_stations.txt.
base = [pylithapp.cfg, mat_elastic.cfg]
description = "Generate static Green's functions for reverse slip on the subduction interface."
arguments = [step07b_reverse_gmsh.cfg, step07b_reverse.cfg, mat_elastic.cfg]
version = 2.0.0
pylith_version = [>3.0]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step07b_reverse_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.greensfns]
label_value = 24

[pylithapp.problem.interfaces.fault_slabtop]
# patch
label_value = 24
edge_value = 25

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
bc_xneg.label_value = 11
bc_xpos.label_value = 13
bc_yneg.label_value = 10
bc_ypos.label_value = 12
bc_zneg.label_value = 14

# End of file
