[pylithapp.metadata]
# Materials
#   The 'wedge' and 'crust' blocks use the the linear, isotropic
#   elastic material model, whereas the 'slab' and 'mantle' use the
#   linear Maxwell viscoelastic material model (mat_viscoelastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Uniform oblique slip on the slab_top fault rupture patch.
#
base = [pylithapp.cfg, mat_elastic.cfg]
description = Postseismic viscoelastic relaxation from coseismic slip on a patch in the middle of the top of the slab.
keywords = [prescribed slip, coseismic slip]
arguments = [step02_coseismic_gmsh.cfg, step02_coseismic.cfg, mat_viscoelastic.cfg]
version = 2.0.0

[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step02_coseismic_gmsh

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOPetsc
reader.filename = mesh_tet.msh

[pylithapp.problem.interfaces.fault_slabtop]
label_value = 24
edge_value = 25

[pylithapp.problem.solution_observers.groundsurf]
label_value = 15

[pylithapp.problem.bc]
bc_xneg.label_value = 11
bc_xpos.label_value = 13
bc_yneg.label_value = 10
bc_ypos.label_value = 12
bc_zneg.label_value = 14

# End of file
