[pylithapp.metadata]
base = [pylithapp.cfg, step01_axialdisp.cfg, mat_elastic.cfg]
description = Axial compression in the east-west direction using Dirichlet boundary conditions.
keywords = [axial compression]
arguments = [step01_axialdisp.cfg, step01_axialdisp_cubit.cfg, mat_elastic.cfg]
version = 2.0.0

features = [
    Static simulation,
    pylith.materials.IsotropicLinearElasticity,
    spatialdata.spatialdb.SimpleDB
    ]

[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step01_axialdisp_cubit

[pylithapp.problem.mesh_initializer.phases.read_mesh]
reader = pylith.meshio.MeshIOCubit
reader.filename = input/mesh_tet.exo

[pylithapp.problem.solution_observers.groundsurf]
label_value = 1

[pylithapp.problem.bc]
bc_west.label_value = 1
bc_east.label_value = 1
bc_south.label_value = 1
bc_north.label_value = 1
bc_bottom.label_value = 1

# End of file
