[pylithapp.metadata]
# We compute an estimate of the overburden stresses due to
# gravitational body forces and 3-D density variations assuming an
# incompressible material. 
#
# Materials
#   All four blocks use the linear, isotropic incompressible elastic
#   material model (mat_elastic_incompressible.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
base = [pylithapp.cfg, mat_elastic_incompressible.cfg, solver_algebraicmultigrid.cfg]
description = Gravitational body forces with incompressible elasticity.
keywords = [gravitational body forces, incompressible elasticity, field split conditioner, Schur complemenet preconditioner]
arguments = [step08b_gravity_incompressible.cfg, mat_elastic_incompressible.cfg, solver_algebraicmultigrid.cfg]
version = 2.0.0

features = [
    Static simulation,
    spatialdata.spatialdb.GravityField
    ]

# ----------------------------------------------------------------------
# Output of parameters used and simulation progress.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step08b_gravity_incompressible-parameters.json
problem.progress_monitor.filename = output/step08b_gravity_incompressible-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step08b_gravity_incompressible

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Quasistatic problems do not have a well-defined density (inertia)
# scale. For this static simulation, we adjust the time scale and time
# step to give a density scale close to unity.
initial_dt = 1.0*s
start_time = -1.0*s
end_time = 0.0*s
normalizer.relaxation_time = 1.0*s

gravity_field = spatialdata.spatialdb.GravityField
gravity_field.gravity_dir = [0.0, 0.0, -1.0]

# We use the predefined container with displacement and pressure (mean
# compressive stress) subfields for the solution field.
solution = pylith.problems.SolnDispPres

defaults.quadrature_order = 2

[pylithapp.problem.solution.subfields]
# We reduce the basis order to 1 because we expect little or no
# deformation with incompressible elasticity.
displacement.basis_order = 1
pressure.basis_order = 1


# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# We add a Dirichlet BC on the +y boundary to set the pressure field
# to 0 on the "ground surface".
[pylithapp.problem]
bc = [bc_xneg, bc_xpos, bc_yneg, bc_ypos, bc_zneg, bc_zpos]
bc.bc_zpos = pylith.bc.DirichletTimeDependent

# This BC must be fully specified since it is not included in pylithapp.cfg.
[pylithapp.problem.bc.bc_zpos]
constrained_dof = [0]
label = boundary_zpos
field = pressure
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for pressure on +z edge

auxiliary_subfields.initial_amplitude.basis_order = 0

observers.observer.data_fields = [pressure]


# ----------------------------------------------------------------------
# Solver settings for incompressible elasticity.
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = fieldsplit
pc_fieldsplit_type = schur
pc_fieldsplit_schur_fact_type = full
pc_fieldsplit_schur_precondition = full
fieldsplit_displacement_pc_type = ml
fieldsplit_pressure_pc_type = ml


# End of file
