[pylithapp.metadata]
# We compute an estimate of the overburden stresses due to
# gravitational body forces and 3D density variations assuming an
# incompressible material. 
#
# Materials
#   All four blocks use the linear, isotropic incompressible elastic
#   material model (mat_elastic_incompressible.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
base = [pylithapp.cfg, mat_elastic_incompressible.cfg]
description = Gravitational body forces with incompressible elasticity.
keywords = [gravitational body forces, incompressible elasticity]
arguments = [step08c_gravity_viscoelastic.cfg, step08c_gravity_viscoelastic_cubit.cfg]
version = 2.0.0
pylith_version = [>3.0]


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step08c_gravity_viscoelastic_cubit

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOCubit
reader.filename = input/mesh_tet.exo

[pylithapp.problem.solution_observers.groundsurf]
label_value = 1

[pylithapp.problem.bc]
bc_west.label_value = 1
bc_east.label_value = 1
bc_south.label_value = 1
bc_north.label_value = 1
bc_bottom.label_value = 1

# End of file
