[pylithapp.metadata]
# Materials
#   All four blocks use the linear, isotropic elastic material model
#   (mat_elastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Slip impulses for reverse slip on the suduction interface (slab top).
#
# Output
#   We output the displacements for the slip impulses on the ground
#   surface at at the fake cGNSS locations defined by cgnss_stations.txt.
base = [pylithapp.cfg, mat_elastic.cfg]
description = "Generate static Green's functions for reverse slip on the subduction interface."
arguments = [step07b_reverse.cfg, step07b_reverse_cubit.cfg, mat_elastic.cfg]
version = 2.0.0
pylith_version = [>3.0]

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step07b_reverse_cubit

[pylithapp.problem.mesh_initializer.phases.read_mesh]
reader = pylith.meshio.MeshIOCubit
reader.filename = input/mesh_tet.exo

[pylithapp.problem.solution_observers.cgnss_stations]
# Use station coordinates for flat ground surface
reader.filename = cgnss_stations_flat.txt

[pylithapp.greensfns]
label_value = 1

[pylithapp.problem.interfaces.fault_slabtop]
label_value = 1

[pylithapp.problem.solution_observers.groundsurf]
label_value = 1

[pylithapp.problem.bc]
bc_west.label_value = 1
bc_east.label_value = 1
bc_south.label_value = 1
bc_north.label_value = 1
bc_bottom.label_value = 1

# End of file
