[pylithapp.metadata]
# Materials
#   The 'wedge' and 'crust' blocks use the the linear, isotropic
#   elastic material model, whereas the 'slab' and 'mantle' use the
#   linear Maxwell viscoelastic material model (mat_viscoelastic.cfg).
#
# Boundary Conditions
#   Roller boundary conditions (pylithapp.cfg).
#
# Fault
#   Uniform creep on the bottom of the slab.
#   Uniform creep on the deeper portion of the subduction interface.
base = [pylithapp.cfg, step03_interseismic.cfg, mat_viscoelastic.cfg]
description = Interseismic deformation, combining aseismic slip on the top and bottom of the subducting slab with viscoelastic relaxation in the mantle and deep part of the slab.
keywords = [Cubit mesh]
arguments = [step03_interseismic.cfg, step03_interseismic_cubit.cfg, mat_viscoelastic.cfg]
version = 2.0.0

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step03_interseismic_cubit

[pylithapp.mesh_generator]
reader = pylith.meshio.MeshIOCubit
reader.filename = mesh_tet.exo

[pylithapp.problem.interfaces.fault_slabbot]
label_value = 1
edge_value = 1

[pylithapp.problem.interfaces.fault_slabtop]
label_value = 1
edge_value = 1

[pylithapp.problem.solution_observers.groundsurf]
label_value = 1

[pylithapp.problem.bc]
bc_west.label_value = 1
bc_east.label_value = 1
bc_south.label_value = 1
bc_north.label_value = 1
bc_bottom.label_value = 1

# End of file
