# Configuration file for the older ESF-based solution method.  To use,
# simply name this file on the command line:
#
#     pylith3dapp.py ESF.cfg

[pylith3d.scanner]
materialPropertiesInputFile = powertestESF.prop
outputFileRoot = powertestESF
