# Configuration file for the ZT-based solution method.  To use,
# simply name this file on the command line:
#
#     pylith3dapp.py ZT.cfg

[pylith3d]
materialPropertiesInputFile = powertestZT.prop
outputFileRoot = powertestZT
