# -*- Python -*-

# The settings in this file (dislocation.cfg) will be read if it is
# specified on the command line:
# 'pylith dislocation.cfg'

# If this file is given, the settings in this file will override all
# others except for parameters specified directly on the command line.

# These settings define an implicit problem using a fault with
# kinematically-specified slip.

[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Journal settings in addition to those given in 'pylithapp.cfg'
[pylithapp.journal.info]
quadrature1d = 1
faultcohesivekin = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
# This is a time-dependent problem so we use that facility.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# This is a container for a boundary condition specified at a point.
bc = pylith.bc.BCFourSides

# This is a container for two faults
interfaces = pylith.faults.SingleFault

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Provide information on the boundary conditions.

# Boundary conditions to be applied to the negative x-side of the mesh.
[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1]
label = x_neg
db.label = Dirichlet BC -x edge
db.iohandler.filename = displacement.spatialdb

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
# Provide information on the fault (interface).
[pylithapp.timedependent.interfaces]

# Define fault  1 properties.
[pylithapp.timedependent.interfaces.fault]
label = fault_1
mat_db.iohandler.filename = matprops.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature1Din2D
quadrature.cell.shape = line
[pylithapp.timedependent.interfaces.fault.eq_src.slip_function]
slip.iohandler.filename = fault_1_slip.spatialdb
slip.query_type = nearest
slip_rate.iohandler.filename = dislocation_sliprate.spatialdb
slip_time.iohandler.filename = dislocation_sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for vtk output.
[pylithapp.problem.formulation.output.output]
filename = onefault2d.vtk
