[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x
#
#           Tn = trapezoid function
#         ----------
#         |        |
# Ux= 0   |        | Ux= 0
#         |        |
#         |        |
#         ----------
#            Uy=0
#
# Dirichlet boundary conditions
#
# boundary_yneg: Uy = 0
# boundary_xneg: Ux = 0
# boundary_xpos: Uy =  0
#
# Neumann boundary conditions
#
# Note that the components are given in terms of the
# (outward) normal directions.
#
# boundary_ypos: 
#    x = -125.98 km to -75.98 km:  Tn = 0 MPa
#    x = -75.98 km to -50.98 km:   Tn = linear ramp from 0 to 25 MPa
#    x = -50.98 km to -0.98 km:    Tn = 25 MPa
#    x = -0.98 km to 24.02 km:     Tn = linear ramp from 25  to 0 MPa
#    x = 24.02 to 74.02 km:        Tn = 0 MPa
base = [pylithapp.cfg]
description = Surface load from Neumann boundary condition with Dirichlet zero displacement boundary conditions.
authors = [Charles Williams]
keywords = [Surface load, Neumann BC, Dirichlet BC]
arguments = [step04_surfload.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    Static simulation,
    pylith.materials.Elasticity,
    pylith.materials.IsotropicLinearElasticity,
    pylith.bc.NeumannTimeDependent,
    ]

# ----------------------------------------------------------------------
# Monitoring and parameter viewing.
# ----------------------------------------------------------------------
[pylithapp]
dump_parameters.filename = output/step04_surfload-parameters.json
problem.progress_monitor.filename = output/step04_surfload-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step04_surfload

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem.solution.subfields.displacement]
basis_order = 1

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
# Redefine array of BC to add bc_ypos.
bc = [bc_xneg, bc_xpos, bc_yneg, bc_ypos]
bc.bc_ypos = pylith.bc.NeumannTimeDependent

# This BC must be fully specified since it is not included in pylithapp.cfg.
[pylithapp.problem.bc.bc_ypos]
label = edge_ypos
db_auxiliary_field = spatialdata.spatialdb.SimpleDB
db_auxiliary_field.label = Neumann BC +y edge
db_auxiliary_field.iohandler.filename = traction_surfload.spatialdb

db_auxiliary_field.query_type = linear

auxiliary_subfields.initial_amplitude.basis_order = 1

# End of file
