[pylithapp.metadata]
base = [pylithapp.cfg]
description = Fully saturated, isothermal injection with a constant, large fluid bulk modulus.
keywords = [quadrilateral cells]
arguments = [step01_inflation.cfg, step01b_inflation.cfg]


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem]
# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
defaults.name = step01b_inflation

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# For time-dependent problems, we specify start and end times and an initial
# time step. With an initial time step of 0.2 yr, we use a start time of
# -0.2 yr so that the first solution occurs at 0 days.
[pylithapp.timedependent]
start_time = -0.2*year
initial_dt = 0.2*year
end_time = 10.0*year

petsc_defaults.adaptive_time_stepping = True

[pylithapp.petsc]
ts_atol = 0.02
ts_rtol = 0.02


# End of file
