[pylithapp]
dump_parameters.filename = output/axialdisp_tet-parameters.json
#problem.progress_monitor.filename = output/axialdisp_tet-progress.txt

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = mesh_tet.exo

# ----------------------------------------------------------------------
# solution
# ----------------------------------------------------------------------
[pylithapp.problem.solution_observers.domain]
writer.filename = output/axialdisp_tet-domain.h5

[pylithapp.problem.solution_observers.boundary]
writer.filename = output/axialdisp_tet-boundary_zpos.h5

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem.materials.upper_crust]
observers.observer.writer.filename = output/axialdisp_tet-upper_crust.h5

[pylithapp.problem.materials.lower_crust]
observers.observer.writer.filename = output/axialdisp_tet-lower_crust.h5

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem.bc.x_pos]
observers.observer.writer.filename = output/axialdisp_tet-bc_xpos.h5

[pylithapp.problem.bc.x_neg]
observers.observer.writer.filename = output/axialdisp_tet-bc_xneg.h5

[pylithapp.problem.bc.y_pos]
observers.observer.writer.filename = output/axialdisp_tet-bc_ypos.h5

[pylithapp.problem.bc.y_neg]
observers.observer.writer.filename = output/axialdisp_tet-bc_yneg.h5

[pylithapp.problem.bc.z_neg]
observers.observer.writer.filename = output/axialdisp_tet-bc_zneg.h5


# End of file
