# ----------------------------------------------------------------------
# solution
# ----------------------------------------------------------------------
[pylithapp.problem]
solution = pylith.problems.SolnDispPres

gravity_field = spatialdata.spatialdb.GravityField
gravity_field.gravity_dir = [0.0, 0.0, -1.0]

[pylithapp.problem.solution.subfields.displacement]
basis_order = 1
quadrature_order = 2

[pylithapp.problem.solution.subfields.pressure]
basis_order = 1
quadrature_order = 2

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.problem]
materials.upper_crust = pylith.materials.IncompressibleElasticity
materials.lower_crust = pylith.materials.IncompressibleElasticity

[pylithapp.problem.materials.upper_crust]
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = Elastic properties for upper crust
db_auxiliary_field.values = [density, vs, vp]
db_auxiliary_field.data = [2500*kg/m**3, 3.0*km/s, 1.0e+12*km/s]

auxiliary_subfields.density.basis_order = 0
auxiliary_subfields.density.quadrature_order = 2

auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.gravitational_acceleration.quadrature_order = 2

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_strain.quadrature_order = 2

derived_subfields.cauchy_stress.basis_order = 1
derived_subfields.cauchy_stress.quadrature_order = 2

[pylithapp.problem.materials.upper_crust.bulk_rheology]
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.bulk_modulus.quadrature_order = 2

auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.quadrature_order = 2


[pylithapp.problem.materials.lower_crust]
db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.label = Elastic properties lower crust
db_auxiliary_field.values = [density, vs, vp]
db_auxiliary_field.data = [2500*kg/m**3, 3.0*km/s, 1.0e+12*km/s]

auxiliary_subfields.density.basis_order = 0
auxiliary_subfields.density.quadrature_order = 2

auxiliary_subfields.gravitational_acceleration.basis_order = 0
auxiliary_subfields.gravitational_acceleration.quadrature_order = 2

derived_subfields.cauchy_strain.basis_order = 1
derived_subfields.cauchy_strain.quadrature_order = 2

derived_subfields.cauchy_stress.basis_order = 1
derived_subfields.cauchy_stress.quadrature_order = 2

[pylithapp.problem.materials.lower_crust.bulk_rheology]
auxiliary_subfields.bulk_modulus.basis_order = 0
auxiliary_subfields.bulk_modulus.quadrature_order = 2

auxiliary_subfields.shear_modulus.basis_order = 0
auxiliary_subfields.shear_modulus.quadrature_order = 2

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]
bc = [x_neg, x_pos, y_neg, y_pos, z_neg, z_pos]
bc.x_neg = pylith.bc.DirichletTimeDependent
bc.x_pos = pylith.bc.DirichletTimeDependent
bc.y_neg = pylith.bc.DirichletTimeDependent
bc.y_pos = pylith.bc.DirichletTimeDependent
bc.z_neg = pylith.bc.DirichletTimeDependent

[pylithapp.problem.bc.x_pos]
constrained_dof = [0]
label = boundary_xpos
field = displacement
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for displacement on +x boundary

auxiliary_subfields.initial_amplitude.basis_order = 0
auxiliary_subfields.initial_amplitude.quadrature_order = 2

[pylithapp.problem.bc.x_neg]
constrained_dof = [0]
label = boundary_xneg
field = displacement
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for displacement on -x boundary

auxiliary_subfields.initial_amplitude.basis_order = 0
auxiliary_subfields.initial_amplitude.quadrature_order = 2

[pylithapp.problem.bc.y_pos]
constrained_dof = [1]
label = boundary_ypos
field = displacement
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for displacement on +y boundary

auxiliary_subfields.initial_amplitude.basis_order = 0
auxiliary_subfields.initial_amplitude.quadrature_order = 2

[pylithapp.problem.bc.y_neg]
constrained_dof = [1]
label = boundary_yneg
field = displacement
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for displacement on -y boundary

auxiliary_subfields.initial_amplitude.basis_order = 0
auxiliary_subfields.initial_amplitude.quadrature_order = 2

[pylithapp.problem.bc.z_neg]
constrained_dof = [2]
label = boundary_zneg
field = displacement
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for displacement on -z boundary

auxiliary_subfields.initial_amplitude.basis_order = 0
auxiliary_subfields.initial_amplitude.quadrature_order = 2

[pylithapp.problem.bc.z_pos]
constrained_dof = [0]
label = boundary_zpos
field = pressure
db_auxiliary_field = pylith.bc.ZeroDB
db_auxiliary_field.label = Dirichlet BC for pressure on +z boundary

auxiliary_subfields.initial_amplitude.basis_order = 0
auxiliary_subfields.initial_amplitude.quadrature_order = 2


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = fieldsplit
pc_fieldsplit_type = schur
pc_fieldsplit_schur_fact_type = full
pc_fieldsplit_schur_precondition = full
fieldsplit_displacement_pc_type = lu
fieldsplit_pressure_pc_type = lu


# End of file
