# -*- Python -*-
[pl3dcomputeparams]

# Top-level parameters
use_reference_stress = False
reference_stress = 1.0*MPa
reference_strain_rate = 1.0e-6/s
output_db_name = mat_powerlaw.spatialdb
db_template = db_input_power_law_properties

# Top-level facilities
# Need to specify all of these along with their facilities and properties.
db_input_elastic_properties = 
