
# To run this problem, type "pylith axialdisp.cfg". The settings in
# pylithapp.cfg will be read by default. See the README for how to run
# other problems in this directory.
#
#                ^
#                |
#     ------------ ->
#     |\         |
#     |  \       |
#     |    \     |
#     |      \   |
#     |        \ |
#  <- ------------
#     |                      
#     ^
#
# Axial tension is applied by pulling on the bottom left and upper
# right corners.

[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# Set BC to array with 1 boundary condition called 'bc'.
bc = [bc]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Provide information on the boundary conditions.
[pylithapp.timedependent.bc.bc]

# We are fixing the 0 (x) and 1 (y) degrees of freedom.
bc_dof = [0, 1]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'end points'.
label = end points

# Change the spatial database for the Dirichlet BC initial values from
# ZeroDispDB (which has a uniform spatial distribution) to SimpleDB
# (which uses a data file to specify a spatial variation).
db_initial = spatialdata.spatialdb.SimpleDB

# We are assigning the label 'Dirichlet BC' to the database.
db_initial.label = Dirichlet BC

# The name of the file containing the spatial database for the BC
# specification.
db_initial.iohandler.filename = axialdisp.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK output of solution over domain.
[pylithapp.problem.formulation.output.output.writer]
filename = axialdisp.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.material.output.writer]
filename = axialdisp-statevars.vtk
