# -*- Python -*-

# To run this problem, type "pylith dislocation.cfg". The settings in
# pylithapp.cfg will be read by default. See the README for how to run
# other problems in this directory.
#
#                v
#     ------------<
#     |\         |
#     |  \       |
#     |    \     |
#     |      \   |
#     |        \ |
#    >------------
#     ^
#
# Left-lateral slip is applied with Dirichlet (fixed displacement) BC
# in the bottom left and upper right corners.

[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Journal settings in addition to those given in 'pylithapp.cfg'
[pylithapp.journal.info]
quadrature1d = 1
faultcohesivekin = 1

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# Set bc to an array with 1 boundary condition called 'bc'.
bc = [bc]

# Set interfaces to an array with 1 fault called 'fault'.
interfaces = [fault]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.bc]

# We use the default spatial database for the Dirichlet BC which sets
# the displacements to zero for all time.

# We are fixing the 0 (x) and 1 (y) degrees of freedom.
bc_dof = [0, 1]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'end points'.
label = end points

# We are assigning the label 'Dirichlet BC' to the database.
db_initial.label = Dirichlet BC

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
# Faults are interior interfaces.
[pylithapp.timedependent.interfaces]

# Define settings for the single fault.
[pylithapp.timedependent.interfaces.fault]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'fault'.
label = fault

# NOTE: In generally, you should set the 'id' for the fault. Care must
# be taken when doing this, however, because the assigned 'id' will
# tag the cohesive cells associated with the fault. The 'id' MUST be
# unique across all faults as well as all materials. The default 'id'
# for a fault is 100.

# The quadrature for a 2D fault is 1D with a linear shape.
quadrature.cell.dimension = 1

# Give the spatial databases specifying the fault slip.
[pylithapp.timedependent.interfaces.fault.eq_srcs.rupture.slip_function]

# Database specifying fault slip (0.01 m of left-lateral slip).
slip.label = Final slip
slip.iohandler.filename = dislocation_slip.spatialdb

# Database specifying time at which fault slips (0.0 s).
slip_time.label = Slip time
slip_time.iohandler.filename = dislocation_sliptime.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK output of solution over domain.
[pylithapp.problem.formulation.output.output.writer]
filename = dislocation.vtk

# Give basename for VTK fault output.
[pylithapp.timedependent.interfaces.fault.output.writer]
filename = dislocation-fault.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.material.output.writer]
filename = dislocation-statevars.vtk
