# -*- Python -*-

# The settings in this file (pylithapp.cfg) will be read automatically
# by pylith, as long as the file is placed in the run directory.

# The settings in this file will override any settings in:
# PREFIX/etc/pylithapp.cfg
# $HOME/.pyre/pylithapp/pylithapp.cfg

# The settings in this file will be overridden by any .cfg file given
# on the command line or by any command line settings.

[pylithapp]

# ----------------------------------------------------------------------
# journal
# The settings below turn on journal info for the specified components.
# If you want less output to stdout, you can turn these off.
# ----------------------------------------------------------------------
[pylithapp.journal.info]
timedependent = 1
explicit = 1
implicit = 1
petsc = 1
solverlinear = 1
meshioascii = 1
homogeneous = 1
implicitelasticity = 1
quadrature2d = 1
fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# The settings below control the mesh generation (importing mesh info).
# ----------------------------------------------------------------------
# Turn on debugging output for mesh generation.
[pylithapp.mesh_generator]
debug = 1

# This component specification means we are using PyLith ASCII format,
# and we then specify the filename and number of space dimensions for
# the mesh.
[pylithapp.mesh_generator.importer]
filename = twotri3.mesh
coordsys.space_dim = 2

# ----------------------------------------------------------------------
# problem
# Specify the problem settings.
# This is a time-dependent problem, so we select this as our problem type.
# We select a total time of 1 sec, and a time step size of 1 sec, so we
# are performing a single time step.
# The spatial dimension for this problem is 2.
# For an implicit formulation (using implicit.cfg), we will perform 1
# implicit time step from t = -1.0 to t = 0.0 (elastic solution step).
# ----------------------------------------------------------------------
[pylithapp.timedependent]
total_time = 0.0*s
default_dt = 1.0*s
dimension = 2

# ----------------------------------------------------------------------
# materials
# Specify the material information for the problem.
# ----------------------------------------------------------------------
# The material type is isotropic elastic formulated for plane strain.
[pylithapp.timedependent.materials]
material = pylith.materials.ElasticPlaneStrain

[pylithapp.timedependent.materials.material]

# We give a label of 'elastic material' to this material.
label = elastic material

# The cells associated with this material are given a material ID of 1
# in the mesh file.
id = 1

# The properties for this material are given in the spatial database file
# 'matprops.spatialdb'.
db.iohandler.filename = matprops.spatialdb

# We are doing 2D quadrature for a triangle.
quadrature = pylith.feassemble.quadrature.Quadrature2D
quadrature.cell.shape = triangle

# ----------------------------------------------------------------------
# PETSc
# We are using all of the default settings for PETSc except for specifying
# the Jacobi preconditioner.
# Additional PETSc command-line arguments may be found in the PETSc
# documentation.
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = jacobi
# start_in_debugger = true
# debugger_timeout = 100
