
# To run this problem, type "pylith sheardisp.cfg". The settings in
# pylithapp.cfg will be read by default. See the README for how to run
# other problems in this directory.
#
#     |          ^
#     v          |
#    >------------
#     |\         |
#     |  \       |
#     |    \     |
#     |      \   |
#     |        \ |
#    >------------
#     |          ^
#     v          |            
#      
#
# We apply shear using Dirichlet (prescribed displacement) BC. The
# left boundary is fixed in the horizontal direction with downward
# vertical motion. The right boundary is free in the horizontal
# direvtion with upward vertical motion.


[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# Problem has too few of degrees of freedom to create null space.
formulation.solver.create_null_space = False

# Set BC to array with 2 boundary conditions: 'x_neg' and 'x_pos'.
bc = [x_neg,x_pos]

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------

# Boundary conditions to be applied to the negative x-side of the mesh.
[pylithapp.timedependent.bc.x_neg]

# We are fixing the 0 (x) and 1 (y) degrees of freedom.
bc_dof = [0, 1]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'x_neg'.
label = x_neg

# Change spatial database for initial value from ZeroDispDB (which has
# a uniform spatial distribution) to SimpleDB (which uses a data file
# to specify a spatial variation).
db_initial = spatialdata.spatialdb.SimpleDB

# We are assigning the label 'Dirichlet BC -x edge' to the database.
db_initial.label = Dirichlet BC -x edge

# The name of the file containing the spatial database for the BC
# specification.
db_initial.iohandler.filename = shearxy.spatialdb


# Boundary conditions to be applied to the positive x-side of the mesh.
[pylithapp.timedependent.bc.x_pos]

# We are only fixing the 1 (y) degree of freedom.
bc_dof = [1]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'x_pos'.
label = x_pos

# Change spatial database for initial value from ZeroDispDB (which has
# a uniform spatial distribution) to SimpleDB (which uses a data file
# to specify a spatial variation).
db_initial = spatialdata.spatialdb.SimpleDB

# We are assigning the label 'Dirichlet BC +x edge' to the database.
db_initial.label = Dirichlet BC +x edge

# The name of the file containing the spatial database for the BC
# specification.
db_initial.iohandler.filename = shearxy.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = bjacobi

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK output of solution over domain.
[pylithapp.problem.formulation.output.output.writer]
filename = sheardisp.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.material.output.writer]
filename = sheardisp-statevars.vtk
