[pylith3d]
# scanner (pylith3d) options
scanner.fileRoot = tractest
scanner.asciiOutput = full
scanner.ucdOutput = ascii
# PETSc options
log_summary = true
pc_type = bjacobi
sub_pc_type = ilu
ksp_monitor = true
ksp_view = true
ksp_rtol = 1.0e-9
# start_in_debugger = true
# debugger_pause = 100
