[pylithapp]

[pylithapp.launcher] # WARNING: THIS IS NOT PORTABLE
command = mpirun -np ${nodes}

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
[pylithapp.journal.info]
#timedependent = 1
#implicit = 1
#petsc = 1
#solverlinear = 1
#meshiocubit = 1
#implicitelasticity = 1
#quadrature3d = 1
#fiatlagrange = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
debug = 1
reader = pylith.meshio.MeshIOCubit

[pylithapp.mesh_generator.reader]
filename = mesh.exo
use_nodeset_names = True
coordsys.space_dim = 3

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
dimension = 3
bc = [x_neg,x_pos,y_neg,z_neg]

[pylithapp.timedependent.formulation]
output = [domain,subdomain]
output.subdomain = pylith.meshio.OutputSolnSubset

[pylithapp.timedependent.formulation.time_step]
total_time = 0.0*s

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
materials = [elastic,viscoelastic]
materials.elastic = pylith.materials.ElasticIsotropic3D
materials.viscoelastic = pylith.materials.ElasticIsotropic3D

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.dimension = 3

[pylithapp.timedependent.materials.viscoelastic]
label = Elastic material 2
id = 2
db_properties.iohandler.filename = matprops.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.dimension = 3

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.timedependent.bc.x_pos]
bc_dof = [0]
label = face_xpos
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC +x eface
db_initial.iohandler.filename = axial_disp.spatialdb

[pylithapp.timedependent.bc.x_neg]
bc_dof = [0]
label = face_xneg
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC -x face
db_initial.iohandler.filename = axial_disp.spatialdb

[pylithapp.timedependent.bc.y_neg]
bc_dof = [1]
label = face_yneg
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC -y face
db_initial.iohandler.filename = axial_disp.spatialdb

[pylithapp.timedependent.bc.z_neg]
bc_dof = [2]
label = face_zneg
db_initial = spatialdata.spatialdb.SimpleDB
db_initial.label = Dirichlet BC -z edge
db_initial.iohandler.filename = axial_disp.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = asm

# Change the preconditioner settings.
sub_pc_factor_shift_type = none

ksp_rtol = 1.0e-8
ksp_max_it = 100
ksp_gmres_restart = 50
ksp_monitor = true
ksp_view = true
ksp_converged_reason = true
#log_summary = true
# start_in_debugger = true


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.domain.writer]
filename = axialdisp.vtk

[pylithapp.problem.formulation.output.subdomain]
label = face_zpos
writer.filename = axialdisp-groundsurf.vtk

[pylithapp.timedependent.materials.elastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = axialdisp-elastic.vtk

[pylithapp.timedependent.materials.viscoelastic.output]
cell_filter = pylith.meshio.CellFilterAvgMesh
writer.filename = axialdisp-viscoelastic.vtk
