[pylithapp.metadata]
base = [pylithapp.cfg]
keywords = [triangular cells]
arguments = [step01_tri.cfg]

[pylithapp]
dump_parameters.filename = output/step01_tri-parameters.json
problem.progress_monitor.filename = output/step01_tri-progress.txt

problem.defaults.name = step01_tri

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = mesh_tri.exo


# End of file
