[pylithapp.metadata]
base = [pylithapp.cfg]
keywords = [quadrilateral cells]
arguments = [step01_quad.cfg]

[pylithapp]
dump_parameters.filename = output/step01_quad-parameters.json
problem.progress_monitor.filename = output/step01_quad-progress.txt

problem.defaults.name = step01_quad

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = mesh_quad.exo


# End of file
