[pylithapp.metadata]
base = [pylithapp.cfg]
keywords = [quadrilateral cells]
arguments = [step00_tri.cfg]

[pylithapp]
dump_parameters.filename = output/step00_tri-parameters.json
problem.progress_monitor.filename = output/step00_tri-progress.txt

problem.defaults.name = step00_tri

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator.reader]
filename = mesh_tri.exo


# End of file
