# -*- Python -*-
[pylithapp]

# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary and
# interface conditions. The general parameters are specificed in the
# tet4_1000m file.
#
# To run the simulation:
# pylith tet4_1000m.cfg dislocation.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
total_time = 0.0*s ; total time of simulation
default_dt = 1.0*s ; time step

# Set the containers for the boundary conditions and faults.

# Use the predefined 6 item BC container
bc = pylith.bc.BCSixSides

# Use the prefined 1 item faults container
interfaces = pylith.faults.SingleFault

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------

# Set the parameters for the desired boundary conditions. Note that we
# only use a subset of the boundary conditions provided in the 6 BC
# container.
#
# Note: A more natural set of boundary conditions involves pinning the
# z-DOF on the bottom (-z) face. Howver, the current release of PyLith
# does not permit overlapping fault interfaces and Dirichlet boundary
# conditions with the block Jacobi preconditioner.

# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0, 1, 2]
label = boundary_xp
db.label = Dirichlet BC on +x
db.iohandler.filename = fixeddisp_zero.spatialdb

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1, 2]
label = boundary_xm
db.label = Dirichlet BC on -x
db.iohandler.filename = fixeddisp_zero.spatialdb

# ----------------------------------------------------------------------
# faults
# ----------------------------------------------------------------------
[pylithapp.timedependent.interfaces]
# Set the type of fault interface condition.
fault = pylith.faults.FaultCohesiveKin

# Set the parameters for the fault interface condition.

[pylithapp.timedependent.interfaces.fault]
label = fault
quadrature = pylith.feassemble.quadrature.Quadrature2Din3D
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = triangle
mat_db.iohandler.filename = mat_elastic.spatialdb

[pylithapp.timedependent.interfaces.fault.eq_src.slip_function]
slip.iohandler.filename = finalslip.spatialdb
slip_rate.iohandler.filename = sliprate.spatialdb
slip_time.iohandler.filename = sliptime.spatialdb


# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Set the root name for output.

[pylithapp.problem.formulation.output.output]
filename = dislocation.vtk
