# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiolagrit = 1
psetfile = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatsimplex = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh importer to the LaGriT importer.
importer = pylith.meshio.MeshIOLagrit

[pylithapp.mesh_generator.importer]
# Set filenames of mesh and pset files to import.
filename_gmv = tet4_1000m_binary.gmv
filename_pset = tet4_1000m_binary.pset

# If using provided mesh or importing the mesh on a machine with a
# different endian type than the one which created the mesh, then
# uncomment the following line.
# LaGriT mesh was generated on a little-endian machine.
#flip_endian = True

# If using version of LaGriT compiled on a 64-bit Linux machine with 
# 64-bit Fortran record headers, then uncomment the following line.
#record_header_32bit = False

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]
# Set materials to an array of 4 elastic isotropic 3-D (default) materials.
materials = elastic_neg1,elastic_neg2,elastic_pos1,elastic_pos2

# The lines below set the parameters for each material in the
# materials array.

[pylithapp.timedependent.materials.elastic_pos1]
label = Elastic material +x (upper)
id = 1
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = tetrahedron

[pylithapp.timedependent.materials.elastic_neg1]
label = Elastic material -x (upper)
id = 2
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = tetrahedron

[pylithapp.timedependent.materials.elastic_pos2]
label = Elastic material +x (lower)
id = 3
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = tetrahedron

[pylithapp.timedependent.materials.elastic_neg2]
label = Elastic material -x (lower)
id = 4
db.iohandler.filename = mat_elastic.spatialdb
quadrature = pylith.feassemble.quadrature.Quadrature3D
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = tetrahedron

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]
pc_type = bjacobi
ksp_monitor = true
ksp_view = true
#log_summary = true
ksp_max_it = 100
ksp_gmres_restart = 50
