# -*- Python -*-
[pylithapp]

# ----------------------------------------------------------------------
# journal
# ----------------------------------------------------------------------
# Turn on some journals to show progress.
[pylithapp.journal.info]
timedependent = 1
implicit = 1
petsc = 1
solverlinear = 1
meshiolagrit = 1
psetfile = 1
implicitelasticity = 1
faultcohesivekin = 1
fiatsimplex = 1
#quadrature3d = 1

# ----------------------------------------------------------------------
# mesh_generator
# ----------------------------------------------------------------------
[pylithapp.mesh_generator]
#debug = 1   ; uncomment to get very verbose mesh information

# Change the default mesh importer to the LaGriT importer.
reader = pylith.meshio.MeshIOLagrit

[pylithapp.mesh_generator.reader]
# Set filenames of mesh and pset files to import.
filename_gmv = tet4_1000m_binary.gmv
filename_pset = tet4_1000m_binary.pset

# If using provided mesh or importing the mesh on a machine with a
# different endian type than the one which created the mesh, then
# uncomment the following line.
# LaGriT mesh was generated on a little-endian machine.
#flip_endian = True

# If using version of LaGriT compiled on a 64-bit Linux machine with 
# 64-bit Fortran record headers, then uncomment the following line.
#record_header_32bit = False

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent.formulation.time_step]
# Define the total time for the simulation and the default time step size.
total_time = 0.0*s ; total time of simulation
dt = 1.0*s ; time step

# ----------------------------------------------------------------------
# materials
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# Set materials to an array of 2 materials:
#   'elastic' and 'viscoelastic'
materials = [elastic,viscoelastic]

# Change from default material (elastic, isotropic, 3-D material) to
# Maxwell viscoelastic, isotropic 3-D material.
materials.viscoelastic = pylith.materials.MaxwellIsotropic3D

[pylithapp.timedependent.materials.elastic]
label = Elastic material
id = 1
properties_db.iohandler.filename = mat_elastic.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = tetrahedron

[pylithapp.timedependent.materials.viscoelastic]
label = Viscoelastic material
id = 2
properties_db.iohandler.filename = mat_viscoelastic.spatialdb
quadrature.cell = pylith.feassemble.FIATSimplex
quadrature.cell.shape = tetrahedron

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
# Set the solver options.

[pylithapp.petsc]
ksp_rtol = 1.0e-8
pc_type = asm
ksp_monitor = true
ksp_view = true
log_summary = true
ksp_max_it = 100
ksp_gmres_restart = 50
# start_in_debugger = true
