# -*- Python -*-
[pylithapp]


# This is not a self-contained simulation configuration file. This
# file only specifies parameters specific to the boundary
# conditions. The general parameters are specificed in the pylithapp.cfg
# file which is read by default.
#
# To run the simulation:
# pylith cfg shearxy.cfg

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.timedependent]
total_time = 0.0*s ; total time of simulation
default_dt = 1.0*s ; time step

# Use the predefined 6 item BC container
bc = pylith.bc.BCSixSides

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Set the parameters for Dirichlet boundary conditions applied on the
# +x and -x faces of the box. Note that we only use a subset of the
# boundary conditions provided in the 6 BC container.

# We fix the x and y degrees of freedom on the +x and -x faces, and
# fix the z degree of freedom on the bottom face.

# The label corresponds to the nodeset ID in CUBIT.

[pylithapp.timedependent.bc.x_pos]
fixed_dof = [0, 1]
label = boundary_xp
db.label = Dirichlet BC on +x
db.iohandler.filename = fixeddisp_shear.spatialdb

[pylithapp.timedependent.bc.x_neg]
fixed_dof = [0, 1]
label = boundary_xm
db.label = Dirichlet BC on -x
db.iohandler.filename = fixeddisp_shear.spatialdb

[pylithapp.timedependent.bc.z_neg]
fixed_dof = [2]
label = boundary_zm
db.label = Dirichlet BC on -z
db.iohandler.filename = fixeddisp_shear.spatialdb

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Set the root name for output.

[pylithapp.problem.formulation.output.output]
filename = shear.vtk
