# -*- Python -*-

# To run this problem, type "pylith axialtract.cfg". The settings in
# pylithapp.cfg will be read by default. See the README for how to run
# other problems in this directory.
#
#
# >----------------------- ->
#  |                     |
#  |                     | ->
# >|                     |
#  |                     | ->
#  |                     |
# >----------------------- ->
#  ^          ^          ^
#
# Left boundary is pinned in the horizontal direction.
# Bottom boundary is pinned in the vertical direction.
# Right side has a uniform horizontal traction.

[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
# This is a time-dependent problem so we use that facility.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# Set bc to an array with 3 boundary conditions: 'x_neg', 'x_pos', 'y_neg'.
bc = [x_neg,x_pos,y_neg]

# Change the BC on the +x side of the domain to a Neumann (traction) BC.
bc.x_pos = pylith.bc.Neumann

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------

# BC for the left (-x) side of the domain.
[pylithapp.timedependent.bc.x_neg]

# We are fixing the 0 (x) degree of freedom.
fixed_dof = [0]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'x_neg'.
label = x_neg

# Boundary conditions to be applied to the positive x-side of the mesh.
[pylithapp.timedependent.bc.x_pos]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'x_pos'.
label = x_pos

db = spatialdata.spatialdb.SimpleDB

# We are assigning the label 'Dirichlet BC +x edge' to the database.
db.label = Dirichlet BC +x edge

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = axialtract.spatialdb
db.query_type = nearest

quadrature = pylith.feassemble.quadrature.Quadrature1Din2D
quadrature.cell = pylith.feassemble.FIATLagrange
quadrature.cell.dimension = 1
quadrature.cell.quad_order = 2

# Boundary conditions to be applied to the bottom boundary of the mesh.
[pylithapp.timedependent.bc.y_neg]

# We are fixing the 1 (y) degree of freedom.
fixed_dof = [1]

# The group of vertices in the mesh file associated with this boundary
# condition have the name 'y_neg'.
label = y_neg

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
# Give basename for VTK output of solution over domain.
[pylithapp.problem.formulation.output.output.writer]
filename = axialtract.vtk

# Give basename for VTK output of state variables.
[pylithapp.timedependent.materials.material.output]
cell_filter = pylith.meshio.CellFilterAvg
writer.filename = axialtract-statevars.vtk

# Give basename for VTK output of traction BC information.
[pylithapp.timedependent.bc.x_pos.output]
cell_info_fields = [tractions]
writer.filename = axialtract-tractions.vtk
