# -*- Python -*-

# The settings in this file (axialdisp.cfg) will be read if it is
# specified on the command line:
# 'pylith axialdisp.cfg'

# If this file is given, the settings in this file will override all
# others except for parameters specified directly on the command line.

# These setting define an implicit problem with Dirichlet (displacement)
# boundary conditions extending the rectangular mesh along the x-axis.

[pylithapp]

# ----------------------------------------------------------------------
# problem
# Specify the problem settings.
# This is a time-dependent problem so we use that facility.
# ----------------------------------------------------------------------
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# This is a container for a boundary condition specified on four sides
# of a rectangular domain.
bc = pylith.bc.BCFourSides

# ----------------------------------------------------------------------
# boundary conditions
# Provide information on the boundary conditions.
# ----------------------------------------------------------------------

# Boundary conditions to be applied to the negative x-side of the mesh.
[pylithapp.timedependent.bc.x_neg]

# We are fixing the 0 (x) degree of freedom.
fixed_dof = [0]

# The nodes associated with this boundary condition have the name
# 'x_neg' in the mesh file.
label = x_neg

# We are assigning the label 'Dirichlet BC -x edge' to the database.
db.label = Dirichlet BC -x edge

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = axialx.spatialdb
db.query_type = linear


# Boundary conditions to be applied to the positive x-side of the mesh.
[pylithapp.timedependent.bc.x_pos]

# We are fixing the 0 (x) degree of freedom.
fixed_dof = [0]

# The nodes associated with this boundary condition have the name
# 'x_pos' in the mesh file.
label = x_pos

# We are assigning the label 'Dirichlet BC +x edge' to the database.
db.label = Dirichlet BC +x edge

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = axialx.spatialdb
db.query_type = linear


# Boundary conditions to be applied to the bottom corners of the mesh.
[pylithapp.timedependent.bc.y_neg]

# We are fixing the 1 (y) degree of freedom.
fixed_dof = [1]

# The nodes associated with this boundary condition have the name
# 'y_neg' in the mesh file.
label = y_neg

# We are assigning the label 'Dirichlet BC -y corners' to the database.
db.label = Dirichlet BC -y edge

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = axialy.spatialdb
db.query_type = linear

# ----------------------------------------------------------------------
# output
# Give basename for vtk output.
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output]
filename = axialdisp.vtk
