# -*- Python -*-

# The settings in this file (sheardisp.cfg) will be read if it is
# specified on the command line:
# 'pylith sheardisp.cfg'

# If this file is given, the settings in this file will override all
# others except for parameters specified directly on the command line.

# These setting define an implicit problem with Dirichlet (displacement)
# boundary conditions that shear the mesh.
[pylithapp]

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
# Specify the problem settings.
# This is a time-dependent problem so we use that facility.
[pylithapp.timedependent]

# We want an implicit formulation.
formulation = pylith.problems.Implicit

# This is a container for a boundary condition specified on four sides
# of a rectangular domain.
bc = pylith.bc.BCFourSides

# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
# Provide information on the boundary conditions.

# Boundary conditions to be applied to the negative x-side of the mesh.
[pylithapp.timedependent.bc.x_neg]

# We are fixing the 0 (x) and 1 (y) degrees of freedom.
fixed_dof = [0, 1]

# The nodes associated with this boundary condition have the name
# 'x_neg' in the mesh file.
label = x_neg

# We are assigning the label 'Dirichlet BC -x edge' to the database.
db.label = Dirichlet BC -x edge

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = shearxy.spatialdb


# Boundary conditions to be applied to the positive x-side of the mesh.
[pylithapp.timedependent.bc.x_pos]

# We are fixing the 0 (x) and 1 (y) degrees of freedom.
fixed_dof = [0, 1]

# The nodes associated with this boundary condition have the name
# 'x_pos' in the mesh file.
label = x_pos

# We are assigning the label 'Dirichlet BC +x edge' to the database.
db.label = Dirichlet BC +x edge

# The name of the file containing the spatial database for the BC
# specification.
db.iohandler.filename = shearxy.spatialdb

# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
pc_type = bjacobi

# ----------------------------------------------------------------------
# output
# ----------------------------------------------------------------------
[pylithapp.problem.formulation.output.output]
filename = sheardisp.vtk
