[pylithapp.metadata]
#  y
#  ^
#  |
#   --> x

base = [pylithapp.cfg]
description = Ricker source test.
authors = [Brad Aagaard]
keywords = [Ricker source, time-dependent Dirichlet boundary condition]
arguments = [step01_ricker.cfg]
version = 1.0.0
pylith_version = [>=3.0, <4.0]

features = [
    pylith.problems.SolnDispVel,
    pylith.bc.DirichletTimeDependent,
    spatialdata.spatialdb.ZeroDB
    ]

[pylithapp]
# File with version information and parameters (including defaults).
#
# You can view this file using the pylith_parameters application or
# online at https://geodynamics.github.io/pylith_parameters/.
dump_parameters.filename = output/step01_ricker-parameters.json
problem.progress_monitor.filename = output/step01_ricker-progress.txt

# Set the name of the problem that will be used to construct the
# output filenames. The default directory for output is 'output'.
problem.defaults.name = step01_ricker

# ----------------------------------------------------------------------
# problem
# ----------------------------------------------------------------------
[pylithapp.problem]
# Use the nonlinear solver to verify residual and Jacobian are consistent.
solver = nonlinear
formulation = dynamic

# Nondimensionalize problem using wave propagation parameters.
normalizer = spatialdata.units.NondimElasticDynamic
normalizer.mass_density = 2500.0*kg/m**3
normalizer.shear_wave_speed = 100.0*m/s
normalizer.wave_period = 1.0*s

defaults.quadrature_order = 1


# Set the discretization for each of the solution subfields.
#
solution = pylith.problems.SolnDispVel

solution.subfields.displacement.basis_order = 1
solution.subfields.velocity.basis_order = 1

solution_observers = [domain]

start_time = 0.0*s
end_time = 0.1*s
initial_dt = 0.01*s
# ----------------------------------------------------------------------
# sources
# ----------------------------------------------------------------------

[pylithapp.problem]
sources = [source]

sources.source = pylith.sources.PointForce
[pylithapp.problem.sources]
source.source_time_function = pylith.sources.RickerFunction

[pylithapp.problem.sources.source]
description = Ricker Source
label_value = 2
reader.filename = source_sites.txt
reader.coordsys = spatialdata.geocoords.CSCart
reader.coordsys.space_dim = 2

db_auxiliary_field = spatialdata.spatialdb.UniformDB
db_auxiliary_field.description = source properties
db_auxiliary_field.values = [moment_tensor_xx, moment_tensor_yy, moment_tensor_xy, moment_tensor_zz, time_delay, ricker_center_frequency]
db_auxiliary_field.data   = [10000*Pa*s, 10000*Pa*s, 0.0*Pa*s, 10000.0*Pa*s, 0.0*s, 1]

# Set the discretization of the material auxiliary fields (properties).
# We have uniform material properties, so we can use a basis order of 0.
auxiliary_subfields.moment_tensor.basis_order = 0
auxiliary_subfields.time_delay.basis_order = 0
source_time_function.auxiliary_subfields.ricker_center_frequency.basis_order = 0





# ----------------------------------------------------------------------
# boundary conditions
# ----------------------------------------------------------------------
[pylithapp.problem]


# ----------------------------------------------------------------------
# PETSc
# ----------------------------------------------------------------------
[pylithapp.petsc]
ts_type = rk
ts_rk_type = 3bs
ts_adapt_dt_max = 0.001


# End of file
